<p id="notice"><%= notice %></p>

<h1>Capsule Items</h1>

<table>
  <thead>
    <tr>
      <th>Item date</th>
      <th>Photo</th>
      <th>Title</th>
      <th>Caption</th>
      <th>User</th>
      <th>Capsule</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @capsule_items.each do |capsule_item| %>
      <tr>
        <td><%= capsule_item.item_date %></td>
        <td><%= capsule_item.photo %></td>
        <td><%= capsule_item.title %></td>
        <td><%= capsule_item.caption %></td>
        <td><%= capsule_item.user %></td>
        <td><%= capsule_item.capsule %></td>
        <td><%= link_to 'Show', capsule_item %></td>
        <td><%= link_to 'Edit', edit_capsule_item_path(capsule_item) %></td>
        <td><%= link_to 'Destroy', capsule_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Capsule Item', new_capsule_item_path %>
