<% freebie = Freebie.find(@blog.freebie_id) %>

<section id="freebie" class="z-under py-5">
  <div class="container text-center">
    <div class="row align-items-center">

      <div class="col-md-4">
        <div class="d-md-none">
          <h4 class="text-center">Start Your Next Step</h4>
          <h2 class="thin uppercase color-<%= @blog.category.downcase %>"><%= freebie.name %></h2>
        </div>
        <img src="<%= rails_blob_path(freebie.image) %>" style="max-width: 100%; max-height: 40vh">
      </div> <!-- col -->
      <div class="col-md-8">
        <div class="d-none d-md-block">
          <h4 class="text-center">Start Your Next Step</h4>
          <h2 class="thin uppercase color-<%= @blog.category.downcase %>"><%= freebie.name %></h2>
        </div>

        <h4>Get the Free <span class="font-weight-bold"><%= freebie.short_description %></span>&nbsp;Now</h4>

        <%= link_to freebie, class: "btn btn-pink" do %>
          Get it Now
        <% end %>
      </div> <!-- col -->


    </div> <!-- row -->
  </div> <!-- container -->
</section> <!-- freebie -->
