<section id="breadcrumbs" class="mb-5">
    <nav aria-label="breadcrumb" class="nav-breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to "Blog", blogs_path %></li>
        <% case @blog.category %>
        <% when "House" %>
          <li class="breadcrumb-item"><%= link_to "House", page_path("house") %></li>
        <% when "Marriage" %>
          <li class="breadcrumb-item"><%= link_to "Marriage", page_path("marriage") %></li>
        <% when "Pregnancy" %>
          <li class="breadcrumb-item"><%= link_to "Pregnancy", page_path("pregnancy") %></li>
        <% when "Babies" %>
          <li class="breadcrumb-item"><%= link_to "Babies", page_path("babies") %></li>
        <% when "Toddlers" %>
          <li class="breadcrumb-item"><%= link_to "Babies", page_path("toddlers") %></li>
        <% when "Kids" %>
          <li class="breadcrumb-item"><%= link_to "Kids", page_path("kids") %></li>
        <% when "Teens" %>
          <li class="breadcrumb-item"><%= link_to "Babies", page_path("teens") %></li>
        <% when "Balance" %>
          <li class="breadcrumb-item"><%= link_to "Balance", page_path("balance") %></li>
        <% else %>
          <li class="breadcrumb-item">Other</li>
        <% end %>
        <li class="breadcrumb-item"><%= link_to @subcategory.name, subcategory_path(@subcategory) %></li>
        <li class="breadcrumb-item"><%= @blog.title %></li>
        <div style="position: absolute; right: 0; margin-right: 25px">
          <% if current_user && current_user.admin %>
            <%= link_to 'Edit Blog', edit_blog_path(@blog), class: "color-pink" %>
          <% end %>
        </div> <!-- right -->
      </ol>
    </nav>
</section>
