<%= simple_form_for(@blog) do |f| %>

<div class="container"> <!-- header -->
  <p class="text-center">Editing as
    <% if current_user.admin %>Admin<% elsif current_user.contributor %>Contributor<% end %>
  </p>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
</div> <!-- header container -->

<%= render "layouts/quadborder" %>

<div class="container">
  <div class="half-buffer"></div>
  <h2 class="text-center">Basic Blog Info</h2>
  <div class="form-inputs">
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :teaser %>
      <%= f.text_area :teaser, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Tag List (Comma Separated List of Topics)" %>
      <%= f.text_field :tag_list, value: @blog.tag_list.join(", "), class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.input :category, input_html: {class: 'browser-default'}, collection: [['General', 'General'], ['House', 'House'], ['Spouse', 'Spouse'], ['Kids', 'Kids'], ['Self', 'Self'], ['Other', 'Other']] %>
    </div>
    <div class="form-group">
      <%= f.input :subcategory_id, collection: @subcategories, label_method: lambda { |sub| "#{sub.category} :: #{sub.name}" }, value_method: :id, optional: true, label: "Subcategory", include_blank: false, selected: @blog.subcategory_id, input_html: {class: 'browser-default'} %>
    </div>
  </div> <!-- form inupts -->
</div> <!-- container -->

  <%= render "layouts/quadborder" %>

<% if current_user.admin %>
  <div class="container">
    <div class="form-inputs">
      <div class="half-buffer"></div>
      <h2 class="text-center">Images</h2>

        <div class="form-group">
          <%= f.label "Blog Image" %><br />
          <%= f.file_field :image %>
        </div>
        <div class="form-group">
          <%= f.label "External Photo URL" %>
          <%= f.text_field :photo_url, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.input :photo_external %>
        </div>
        <div class="form-group">
          <%= f.label "Pinterest Images" %><br />
          <%= f.file_field :pin_image, multiple: true %>
        </div>
        <div class="form-group">
          <%= f.label "Pinterest Description" %>
          <%= f.text_area :data_pin_description, class: "form-control" %>
        </div>
    </div> <!-- form inputs -->
  </div> <!-- basic blog info container -->
<% end %> <!-- end admin only images section -->

<%= render "layouts/quadborder" %>

<div class="container">
  <div class="half-buffer"></div>
  <h2 class="text-center">Blog Details</h2>

  <div class="form-inputs">
    <div class="form-group">
      <h5>Contributor Actions</h5>
      <% if @blog.submitted %>
        <p>This blog has already been submitted as a final draft.  Please contact an admin if you need to make any changes.</p>
      <% else %>
        <%= f.input :submitted, label: "Submit Blog as Final Draft (Cannot be Undone without Admin Assistance)" %>
      <% end %>
    </div> <!-- form group -->
    <% if current_user.admin %>
      <h5>Admin Actions</h5>
      <div class="form-group">

        <%= f.input :approved %>
        <%= f.input :published %>
        <%= f.input :affiliate_links, label: "This blog contains affiliate links." %>
      </div> <!-- form group -->
      <div class="form-group">
        <%= f.label :published_on %>
        <input placeholder="Published on Date" type="text" id="date" class="form-control datepicker"></input>
        <%= f.hidden_field :published_on, id: "dateHolder", class: "hiddenDateField" %>
      </div> <!-- form group -->
      <div class="form-group">
        <%= f.input :featured_home %>
        <%= f.input :featured_category %>
      </div> <!-- form group -->
    <% end %>
  </div> <!-- form inputs -->
</div> <!-- basic blog info container -->

<%= render "layouts/quadborder" %>

<div class="container">
  <div class="half-buffer"></div>
  <h2 class="text-center">The Blog Itself</h2>

  <div class="form-inputs">
    <div class="col-12 my-4 tinymce">
      <%= f.text_area :body, class: "tinymce", rows: 20, style: "width: 100%" %>
    </div>

    <!-- <div class="form-group">
      <%#= f.text_area :body, id: "wysiwyg" %>
    </div> -->

  </div> <!-- form inputs -->
</div> <!-- basic blog info container -->

<%= render "layouts/quadborder" %>

<% if current_user.admin %>
  <div class="container">
    <div class="half-buffer"></div>
    <h2 class="text-center">CTAs and Media</h2>

    <div class="form-inputs">
      <div class="row">
        <div class="form-group col-sm-4">
          <%= f.label "Read More CTA" %>
          <%= f.text_field :cta_read_more, class: "form-control" %>
        </div>
        <div class="form-group col-sm-4">
          <%= f.label "CTA for PDF Downloads" %>
          <%= f.text_field :cta_pdf, class: "form-control" %>
        </div>
        <div class="form-group col-sm-4">
          <%= f.label "CTA for Free Video" %>
          <%= f.text_field :cta_video, class: "form-control" %>
        </div>
        <div class="form-group col-sm-4">
          <%= f.label "Linked Module" %>
          <%= f.text_field :linked_module, class: "form-control" %>
        </div>
        <div class="form-group col-sm-4">
          <%= f.label "Convertkit Href" %>
          <%= f.text_field :convertkit_href, class: "form-control" %>
        </div>
        <div class="form-group col-sm-4">
          <%= f.label "Video Link" %>
          <%= f.text_field :video_link, class: "form-control" %>
        </div>
      </div> <!-- row -->
    </div> <!-- form inputs -->
  </div> <!-- basic blog info container -->

  <%= render "layouts/quadborder" %>

  <div class="container">
    <div class="half-buffer"></div>
    <h2 class="text-center">Freebie Info</h2>

    <div class="form-inputs">
      <div class="form-group">
        <%= f.label "Freebie Filename (Put In Public Folder) or Link (if Type is Link)" %>
        <%= f.text_field :freebie_filename, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "Freebie Title (Plaintext)" %>
        <%= f.text_field :freebie_description, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.input :freebie_type, input_html: {class: 'browser-default'}, collection: [['File', 'File'], ['Link', 'Link'], ['None', 'None']] %>
      </div>
    </div> <!-- form inputs -->
  </div> <!-- container -->
<% end %> <!-- if admin -->

<%= render "layouts/quadborder" %>

<div class="container">
  <div class="half-buffer"></div>

  <div class="form-actions text-center">
    <p>Unless you checked the "Submit Blog as Final Draft" checkbox, this will be saved as a <strong>draft</strong>.<br />You can find and edit it at any time from your <%= link_to "My Account", user_path(current_user) %> page if you want to make changes.</p>
    <%= f.button :submit, class: "btn-outline-danger" %>
  </div>
</div> <!-- container -->

<% end %>


<%= content_for :additional_js_partial do %>
<%= tinymce_assets %>
<%= tinymce plugins: ["wordcount", "code", "anchor", "casechange", "codesample", "hr", "link", "preview"] %>

  <script type="text/javascript">
    $(document).ready(function() {
      $('.datepicker').pickadate();
      $('#date').on('change', function() {
        var date = $('#date').val();
        $('#dateHolder').val(date);
      });
    });
    $('#wysiwyg').froalaEditor({
      key: '<%= ENV['FROALA_ACTIVATION_KEY'] %>',
      inlineMode: false,
      heightMin: '200px',
      toolbarButtons: [
          'bold', 'italic', 'underline', 'paragraphFormat', 'formatOL',
          'formatUL', 'insertHTML', 'undo', 'redo', 'html'
        ]
    })
  </script>
<% end %>
