<%= simple_form_for(@blog) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="form-group">
      <%= f.label :category %>
      <%= f.select :category, options_for_select(['General', 'House', 'Spouse', 'Kids', 'Self', 'Other'], { class: "form-control" }) %>
    </div>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :teaser %>
      <%= f.text_area :teaser, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :tag_list %>
      <%= f.text_field :tag_list, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :body %>
      <%= f.trix_editor :body %>
    </div>
    <div class="row">
      <div class="form-group col-sm-4">
        <%= f.label "Read More CTA" %>
        <%= f.text_field :cta_read_more, class: "form-control" %>
      </div>
      <div class="form-group col-sm-4">
        <%= f.label "CTA for PDF Downloads" %>
        <%= f.text_field :cta_pdf, class: "form-control" %>
      </div>
      <div class="form-group col-sm-4">
        <%= f.label "CTA for Free Video" %>
        <%= f.text_field :cta_video, class: "form-control" %>
      </div>
      <div class="form-group col-sm-4">
        <%= f.label "Data Form Toggle" %>
        <%= f.text_field :convertkit_data_form_toggle, class: "form-control" %>
      </div>
      <div class="form-group col-sm-4">
        <%= f.label "Convertkit Href" %>
        <%= f.text_field :convertkit_href, class: "form-control" %>
      </div>
      <div class="form-group col-sm-4">
        <%= f.label :linked_module %>
        <%= f.text_field :linked_module, class: "form-control" %>
      </div>
    </div> <!-- row -->
    <div class="form-group">
      <%= f.label "Blog Image" %><br />
      <%= f.file_field :image %>
    </div>
    <div class="form-group">
      <%= f.label "Linked PDF" %><br />
      <%= f.file_field :pdf %>
    </div>
    <div class="form-group text-center">
      <%= f.input :published %>
    </div>
  </div>

  <div class="form-actions text-center">
    <%= f.button :submit, class: "btn-outline-primary" %>
  </div>
<% end %>
