<section id="hero-and-header" class="pb-5">

  <% if @blog.photo_external %>
    <div class="header-frame frame" style="background-image: url(<%= @blog.photo_url %>)" role="img" aria-label="<%= @blog.title %>">
  <% else %>
    <div class="header-frame frame" style="background-image: url(<%= rails_blob_url(@blog.image) if @blog.image.attached? %>)">
  <% end %>

  <% case @blog.category %>
  <% when "House" %>
    <div class="image-overlay-white"><div class="inner-frame border-pink"></div></div>
  <% when "Spouse" %>
    <div class="image-overlay-white"><div class="inner-frame border-pink"></div></div>
  <% when "Kids" %>
    <div class="image-overlay-white"><div class="inner-frame border-pink"></div></div>
  <% when "Self" %>
    <div class="image-overlay-white"><div class="inner-frame border-pink"></div></div>
  <% else %>
    <div class="image-overlay-white"><div class="inner-frame border-neutral"></div></div>
  <% end %>

  </div>
  <div class="over-frame-text blog-show-header <%= @blog.category %>">
    <div class="container">
      <h1><%= @blog.title %></h1>
    </div> <!-- container -->
  </div> <!-- over-frame-text -->

  <% case @blog.category %>
  <% when "House" %>
    <div class="blog-show house">
  <% when "Spouse" %>
    <div class="blog-show spouse">
  <% when "Kids" %>
    <div class="blog-show kids">
  <% when "Balance" %>
    <div class="blog-show self">
  <% else %>
    <div class="blog-show neutral">
  <% end %>
  <div class="container">
    <h4 class="text-center"><%= @blog.teaser %></h4>
    <p class="text-center">
      <strong>Written by <%= link_to user_path(@blog.user) do %>
        <%= @blog.user.first_name %> <%= @blog.user.last_name %>
      <% end %>
      &nbsp; | &nbsp;
      <a href="#comments"><span class="disqus-comment-count" data-disqus-identifier="<%= @blog.id %>" data-disqus-url="<%= polymorphic_url(@blog) %>">See Comments</span></a>
      <br />
      <% if @blog.published_on %>Published 
        <% if @blog.category %>in 
          <span class="color-pink boldest"><%= @blog.category %></span>
        <% end %>
        <% if @subcategory %>, 
          <%= link_to @subcategory.name, subcategory_path(@subcategory) %>
        <% end %>
         on <%= @blog.published_on.in_time_zone("America/Los_Angeles").strftime("%B %d, %Y")  %><br /><% end %>
    </p>
  </div> <!-- container -->
</section> <!-- header -->
