<section id="freebie">
  <div class="container py-5">
    <div class="z-depth-3 p-5 text-center">

      <% freebie = Freebie.find(@blog.freebie_id) %>

      <h4 class="">Want to cut to the chase?</h4>
      <h2 class="h1 thin uppercase color-<%= @blog.category.downcase %>">Free <%= freebie.name %></h2>

      <img src="<%= rails_blob_path(freebie.image) %>" class="mt-1 mb-4" style="max-height: 150px">
      <h2>Get My Free <span class="font-weight-bold"><%= freebie.short_description %></span>&nbsp;Now</h2>

      <a href="<%= freebie.convertkit_url %>" target="_blank" class="btn btn-<%= blog.category.downcase %>">
        Get it Now
      </a>

    </div> <!-- z depth -->
  </div> <!-- container -->

</section> <!-- freebie -->
