<div class="container">

  <h1>Blogs</h1>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Teaser</th>
        <th>Body</th>
        <th>Cta</th>
        <th>Category</th>
        <th>Linked module</th>
        <th>Published</th>
        <th>Published on</th>
        <th>User</th>
        <th>Image</th>
        <th>Pdf</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @blogs.each do |blog| %>
        <tr>
          <td><%= blog.title %></td>
          <td><%= blog.teaser %></td>
          <td><%= blog.body %></td>
          <td><%= blog.cta %></td>
          <td><%= blog.category %></td>
          <td><%= blog.linked_module %></td>
          <td><%= blog.published %></td>
          <td><%= blog.published_on %></td>
          <td><%= blog.user %></td>
          <td><%= blog.image %></td>
          <td><%= blog.pdf %></td>
          <td><%= link_to 'Show', blog %></td>
          <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
          <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Blog', new_blog_path %>
</div> <!-- page container -->
