<div class="frame" style="background-image: url(<%= asset_path "best-parenting-blog.jpg" %>)"></div>

<div class="container">
  <div class="half-buffer"></div>

  <% if current_user && current_user.admin %>
    <div class="text-right">
      <%= link_to 'New Blog', new_blog_path %>
    </div> <!-- right -->
  <% end %>

  <% @blogs.each do |blog| %>
    <%= link_to blog do %>
      <div class="blog-card col-sm-6">
        <%#= image_tag blog.image %>
        <h2><%= blog.title %></h2>
        <p><%= blog.teaser %></p>
        <p><small>Published on <%= blog.published_on %> in <%= blog.category %></small></p>
        <% if current_user && current_user.admin %>
          <%= link_to 'Edit', edit_blog_path(blog) %> |
          <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div> <!-- blog card -->
    <% end %>
  <% end %>

</div> <!-- page container -->
