<div class="frame" style="background-image: url(<%= asset_path "best-parenting-blog.jpg" %>)"></div>
<div class="over-frame-text">
  <h1>The Stay Sane Blog</h1>
  <div class="over-frame-bottom-row">
    <div class="container">
        <h4 class="color-white text-center">Get the latest tips delivered straight to your inbox.</h4>
        <script async data-uid="229e74784f" src="https://f.convertkit.com/229e74784f/ac0fba8d30.js"></script>
    </div>
  </div> <!-- over-frame-text -->
</div> <!-- over-frame-text -->


<div class="container">
  <div class="half-buffer"></div>

  <% if current_user && current_user.admin %>
    <div class="text-right">
      <%= link_to 'New Blog', new_blog_path %>
    </div> <!-- right -->
  <% end %>

  <div class="half-buffer"></div>

  <div class="row">
    <% @blogs.each do |blog| %>
      <%= link_to blog do %>
        <div class="col-lg-4"><div class="blog-card">
          <% case blog.category %>
          <% when "House" %>
            <div class="house transparent-hover">
              <div class="flag">House</div>
          <% when "Spouse" %>
            <div class="spouse transparent-hover">
              <div class="flag">Spouse</div>
          <% when "Kids" %>
            <div class="kids transparent-hover">
              <div class="flag">Kids</div>
          <% when "Self" %>
            <div class="self transparent-hover">
              <div class="flag">Self</div>
          <% else %>
            <div class="other transparent-hover neutral">
              <div class="flag">General</div>
          <% end %>
            <div class="blog-frame" style="background-image: url(<%= asset_path "stay_sane_mom.jpg" %>)"></div>
            <div class="blog-text">
              <h2><%= blog.title %></h2>
              <p><%= blog.teaser %></p>
              <p class="published-on"><small>
                Published on <%= blog.published_on.in_time_zone("America/Los_Angeles").strftime("%B %d, %Y") %> in <%= blog.category %>
                <% if current_user && current_user.admin %>
                     | <%= link_to 'Edit', edit_blog_path(blog) %> |
                    <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </small></p>
            </div> <!-- blog-text -->
          </div> <!-- end case div -->
        </div></div> <!-- blog card/col -->
      <% end %>
    <% end %>
  </div> <!-- row -->

</div> <!-- page container -->



  <script>
    $(function() {
      $('.blog-text').matchHeight();
    });
  </script>
