<!-- page-specific content -->
  <% title "Blog | SSM" %>
  <%= content_for :head do %>
    <meta name="description" content="We moms need all the help we can get. Find information about how to keep a clean house, a healthy marriage, balanced kids, and some sanity for mom." />
  <% end %>
<!-- page-specific content -->

<div class="header-frame frame text-center" style="background-image: url(<%= asset_path "best-parenting-blog.jpg" %>)"><div class="image-overlay image-overlay-white"><div class="inner-frame border-neutral"></div></div></div>
<div class="over-frame-text">
  <div class="container text-center">
    <h1>The Stay Sane Blog</h1>
    <h4>Get the latest tips delivered straight to your inbox.</h4>
    <script async data-uid="229e74784f" src="https://f.convertkit.com/229e74784f/ac0fba8d30.js"></script>
  </div> <!-- container -->
  <div class="over-frame-bottom-row text-center">
    <div class="container">
      <% if current_user && (current_user.admin || current_user.contributor) %>
        <div class="half-buffer"></div>
        <%= link_to 'New Blog', new_blog_path, class: "btn my-btn-outline-secondary" %>
        <div class="buffer"></div>
      <% end %>
    </div> <!-- over frame bottom row -->
  </div> <!-- over-frame-text -->
</div> <!-- over-frame-text -->


<div class="half-buffer"></div>


<% if current_user && current_user.admin %>
  <div class="bg-neutral"><div class="container">
    <% if @unpublished.count > 0 %>
      <div class="half-buffer"></div>
      <h2 class="font-script">Unpublished Blogs</h2>
      <% @unpublished.each do |blog| %>
        <h5><%= link_to blog.title, blog_path(blog) %></h5>
      <% end %>
      <div class="half-buffer"></div>
    <% end %>
  </div></div>
<% end %>

<div class="half-buffer"></div>

<!-- tag cloud -->
<div class="text-center full-width bg-neutral padded"><div id="tag_cloud">
  <h2 class="font-script">Looking for a specific topic?</h2>
  <% tag_cloud Blog.tag_counts, %w{s m l} do |tag, css_class| %>
  <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div></div>
<!-- end tag cloud -->

<div class="buffer"></div>

<div class="container">

  <h2 class="font-script text-center">Most Popular Blogs</h2>
  <div class="row">
    <% @commented_blogs.each do |blog| %>
      <%= render partial: "layouts/mdbcard", locals: { blog: blog, color: blog.category.downcase } %>
    <% end %>
  </div> <!-- row -->

  <div class="buffer"></div>

  <h2 class="font-script text-center">Newest Blogs</h2>
  <div class="row">
    <% @blogs.each do |blog| %>
      <%= render partial: "layouts/mdbcard", locals: { blog: blog, color: blog.category.downcase } %>
    <% end %>
  </div> <!-- row -->

  <div class="text-center"><%= paginate @blogs %></div>

</div> <!-- page container -->

<%= content_for :additional_js do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.height').matchHeight();
      $('.card').matchHeight();
      $('.view').matchHeight();
      $('.card-title').matchHeight();
      $('.card-text').matchHeight();
      $('.formkit-submit').click(function() {
        ga('send', 'event', 'Subscription', 'Hero CTA Subscription', 'Blog Index Hero CTA Subscription');
      });
    });
  </script>
<% end %>
