<main id="blog" class="<%= @blog.category.downcase %>">
  <!-- page-specific content -->
    <% title @blog.title %>
    <%= content_for :head do %>
      <meta name="description" content="<%= @blog.teaser %>" />
      <meta property="og:url" content="<%= polymorphic_url(@blog) %>" />
      <meta property="og:type" content="article" />
      <meta property="og:title" content="<%= @blog.title %>" />
      <meta property="og:description" content="
        <% if @blog.data_pin_description != "" || !@blog.data_pin_description %>
          <%= @blog.data_pin_description %>
        <% else %>
          <%= @blog.teaser %>
        <% end %>" />
      <meta property="og:image" content="<%= rails_blob_url(@blog.image) if @blog.image.attached? %>" />
      <% if @blog.published_on %><meta property="article:published_time" content="<%= @blog.published_on.strftime('%FT%T') %>" /><% end %>
      <meta property="article:author" content="<%= @blog.user.first_name %> <%= @blog.user.last_name %>" />
    <% end %>
  <!-- page-specific content -->


  <%= render partial: "blogs/breadcrumbs", locals: { blog: @blog, subcategory: @subcategory } %>
  <%= render partial: "blogs/hero", locals: { blog: @blog } %>

  <% if @blog.published != false %>
    <%= render partial: "blogs/share", locals: { blog: @blog } %>
  <% end %> <!-- end skip if unpublished -->

  <% if @blog.video_link != nil && @blog.video_link != "" %>
    <%= render partial: "blogs/video", locals: { blog: @blog } %>
  <% end %>

  <% if @blog.freebie_id != nil %>
    <%= render partial: "blogs/top_optin", locals: { blog: @blog } %>
  <% end %> <!-- end skip if unpublished -->

  <%= render partial: "blogs/blog_body", locals: { blog: @blog } %>

  <% if @blog.freebie_id != nil %>
    <%= render partial: "blogs/bottom_optin", locals: { blog: @blog } %>
  <% end %> <!-- end skip if unpublished -->

  <%= render partial: "blogs/related", locals: { blog: @blog } %>
  <%= render partial: "blogs/pinterest", locals: { blog: @blog } %>
  <%= render partial: "blogs/subscribe", locals: { blog: @blog } %>
  <%= render partial: "layouts/biobox", locals: { user: @blog.user, header: "About the Author" } %>

  <% if @blog.published %>
    <%= render partial: "blogs/comments", locals: { blog: @blog } %>
  <% end %>


</main>


<%= content_for :additional_js do %>
  <script>
    var disqus_config = function () {
      this.page.url = "<%= polymorphic_url(@blog) %>";  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = "<%= @blog.id %>"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    //disqus_config()

    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://thestaysanemom-com.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
  </script>



  <script type="text/javascript">
    $(document).ready(function() {

      $("#top-bar").removeClass('bg-neutral');
      $("#top-bar").addClass('bg-solid-<%= @blog.category.downcase %>');

      $('.card').matchHeight();
      $('.view').matchHeight();
      $('.card-text').matchHeight();


      $('.cta-top').click(function() {
        ga('send', 'event', 'Subscription', 'Blog Freebie CTA Beginning', '<%= @blog.title %> Freebie CTA Beginning');
      });
      $('.click-simulator').click(function() {
          ga('send', 'event', 'Subscription', 'In-Page Subscription', '<%= @blog.title %> Subscription Box');
      });
      $('.cta-bottom').click(function() {
        ga('send', 'event', 'Subscription', 'Blog Freebie CTA End', '<%= @blog.title %> Freebie CTA End');
      });
      $('.submit-comment').click(function() {
          ga('send', 'event', 'Participation', 'Blog Comment', '<%= @blog.title %> Comment');
      });

      // object-fit polyfill run
      objectFitImages();

      /* init Jarallax */
      jarallax(document.querySelectorAll('.jarallax'));

      jarallax(document.querySelectorAll('.jarallax-keep-img'), {
          keepImg: true,
      });

    });
  </script>

  <!-- Exit intent -->
  <script async data-uid="cd10cef13b" src="https://f.convertkit.com/cd10cef13b/f2d65b6d27.js"></script>
  <!-- Exit intent -->

  <!-- Load Facebook SDK for JavaScript -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <!-- facebook share -->
<% end %>
