<!-- page-specific content -->
  <% title @blog.title %>
  <%= content_for :head do %>
    <meta name="description" content="<%= @blog.teaser %>" />
    <meta property="og:url" content="<%= polymorphic_url(@blog) %>" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="<%= @blog.title %>" />
    <meta property="og:description" content="<% if @blog.data_pin_description %><%= @blog.data_pin_description %><% else %><%= @blog.teaser %><% end %>" />
    <meta property="og:image" content="<%= rails_blob_url(@blog.image) if @blog.image.attached? %>" />
    <% if @blog.published %><meta property="article:published_time" content="<%= @blog.published_on.strftime('%FT%T') %>" /><% end %>
    <meta property="article:author" content="<%= @blog.user.first_name %> <%= @blog.user.last_name %>" />
  <% end %>
<!-- page-specific content -->

<!-- Exit intent -->
<script async data-uid="cd10cef13b" src="https://f.convertkit.com/cd10cef13b/f2d65b6d27.js"></script>
<!-- Exit intent -->

<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- facebook share -->

<div class="pinterest-image d-none">
  <%= image_tag @blog.pin_image if @blog.pin_image.attached? %>
</div>

<div class="header-frame frame" style="background-image: url(<%= rails_blob_url(@blog.image) if @blog.image.attached? %>)">
  <% case @blog.category %>
  <% when "House" %>
    <div class="image-overlay-white"><div class="inner-frame border-house"></div></div>
  <% when "Spouse" %>
    <div class="image-overlay-white"><div class="inner-frame border-spouse"></div></div>
  <% when "Kids" %>
    <div class="image-overlay-white"><div class="inner-frame border-kids"></div></div>
  <% when "Self" %>
    <div class="image-overlay-white"><div class="inner-frame border-self"></div></div>
  <% else %>
    <div class="image-overlay-white"><div class="inner-frame border-neutral"></div></div>
  <% end %>
</div>
<div class="over-frame-text">
  <div class="container">
    <h1><%= @blog.title %></h1>
  </div> <!-- container -->
  <div class="over-frame-bottom-row text-right">
    <div class="container">
      <% if @blog.category != "General" && @blog.category != "Other" %>
        <h4>From Blogs About Your <%= @blog.category %></h4>
      <% end %>
    </div>
  </div> <!-- over-frame-text -->
</div> <!-- over-frame-text -->


<% case @blog.category %>
<% when "House" %>
  <div class="blog-show house">
<% when "Spouse" %>
  <div class="blog-show spouse">
<% when "Kids" %>
  <div class="blog-show kids">
<% when "Self" %>
  <div class="blog-show self">
<% else %>
  <div class="blog-show neutral">
<% end %>
  <div class="container">
    <% if current_user && current_user.admin %>
      <div class="text-right">
        <%= link_to "Edit Blog", edit_blog_path(@blog) %>
      </div>
    <% end %>

    <h4 class="text-center"><%= @blog.teaser %></h4>
    <% if @blog.published != false %>
      <p class="text-center">
        <strong>Categories:
          <%= raw @blog.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
        </strong><br />
        Published on <%= @blog.published_on.in_time_zone("America/Los_Angeles").strftime("%B %d, %Y") %></p>
    <% end %>

    <!-- Social Buttons -->
    <div class="text-center">
      <div class="fb-share-button"
        data-href="<%= polymorphic_url(@blog) %>"
        data-layout="button_count">
      </div>
      <a href="https://www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"></a>
    </div>
    <!-- Social Buttons -->

  </div> <!-- container -->


  <div class="half-buffer"></div>

  <% if @blog.convertkit_href != "" %>
    <div class="bg-neutral">
      <div class="container text-center">

        <div class="half-buffer"></div>

        <h4 class="text-center">Want to cut to the chase?</h4>
        <h2 class="text-center"><%= @blog.cta_pdf %> Now</h2>
        <% if @blog.convertkit_data_form_toggle %>
          <a data-formkit-toggle="<%= @blog.convertkit_data_form_toggle %>" href="<%= @blog.convertkit_href %>" class="btn btn-outline-primary font-bold">Download Now</a>
        <% else %>
          <a href="<%= @blog.convertkit_href %>" class="btn btn-outline-primary font-bold">Download Now</a>
        <% end %>

        <div class="half-buffer"></div>

      </div> <!-- container -->
    </div> <!-- bg row -->
  <% end %>


  <div class="container">
    <div class="half-buffer"></div>

    <div class="blog-itself col-xs-12">
      <%= raw(@blog.body) %>
    </div>

    <% if current_user && current_user.admin %>
      <div class="text-center">
        <div class="half-buffer"></div>
        <%= link_to 'Edit', edit_blog_path(@blog) %> |
        <%= link_to 'Back', blogs_path %>
      </div>
    <% end %>

    <% if @blog.convertkit_href != "" %>
      <div class="half-buffer"></div>
      <%= render "layouts/hr" %>
      <div class="half-buffer"></div>

      <div class="text-center">
        <h4 class="text-center">Now that you've read all about it...</h4>
        <h2 class="text-center"><%= @blog.cta_pdf %></h2>
        <% if @blog.convertkit_data_form_toggle %>
          <a data-formkit-toggle="<%= @blog.convertkit_data_form_toggle %>" href="<%= @blog.convertkit_href %>" class="btn btn-outline-primary font-bold">Download Now</a>
        <% else %>
          <a href="<%= @blog.convertkit_href %>" class="btn btn-outline-primary font-bold">Download Now</a>
        <% end %>
        <div class="half-buffer"></div>
      </div>
    <% end %>
  </div> <!-- container -->

    <div class="half-buffer"></div>

    <div class="bg-neutral">
      <div class="container">
        <div class="half-buffer"></div>
        <div class="text-center">
          <h2>Get Sanity, Delivered to Your Inbox.</h2>
          <script async data-uid="229e74784f" src="https://f.convertkit.com/229e74784f/ac0fba8d30.js"></script>
        </div>
        <div class="half-buffer"></div>
      </div> <!-- container -->
    </div> <!-- bg row -->


  <div class="container"> <!-- comments container -->
    <div class="new-comment">
      <%= simple_form_for [@blog, Comment.new] do |f| %>
        <%= f.error_notification %>

        <div class="half-buffer"></div>
        <h2 class="text-center">Share Your Two Cents!</h2>

        <div class="form-inputs col-xs-12" style="margin-bottom: 10px">
          <%= f.text_area :body, class: "form-control", placeholder: "Add a comment" %>
        </div>

        <% if @comment_user %>
          <%= f.hidden_field :name, value: [@comment_user.first_name, @comment_user.last_name].join(' ') %>
          <%= f.hidden_field :email, value: @comment_user.email %>
        <% else %>
          <div class="row">
            <div class="form-inputs col-sm-6">
              <%= f.label "Your Name" %>
              <%= f.text_field :name, class: "form-control", required: true, placeholder: "e.g. Warren Buffett" %>
            </div>
            <div class="form-inputs col-sm-6">
              <%= f.label "Your Email (Not Displayed)" %>
              <%= f.text_field :email, class: "form-control", required: true, placeholder: "e.g. wbuffett@gmail.com" %>
            </div>
          </div> <!-- row -->
        <% end %>

        <div class="form-actions text-right">
          <div class="half-buffer"></div>
          <%= f.button :submit, "Submit Comment", class: "btn btn-outline-primary" %>
        </div>
      <% end %>
    </div>

    <h2 class="color-neutral"><%= pluralize(@comments.count, "Comment") %></h2>
    <% @comments.each do |comment| %>
      <p style="margin-top: 10px"><strong><%= comment.body %></strong>
        <% if current_user && current_user.admin %>
          <%= link_to blog_comment_path(@blog, comment), method: :delete, data: {confirm: "Are you sure you want to delete that comment?"} do %>
            <%= fa_icon "remove", class: "color-neutral color-neutral-hover" %>
          <% end %><br />
        <% end %>
        <em class="color-neutral">by <%= comment.name %> on <%= comment.created_at.to_formatted_s(:long) %></em></p>
    <% end %>

    <div class="half-buffer"></div>
    <%= render "layouts/hr" %>
    <div class="half-buffer"></div>

    <div class="container">
      <h2 class="text-center">About the Author</h2>
      <div class="half-buffer"></div>
      <%= render partial: "layouts/biobox", locals: { user: @blog.user } %>
    </div> <!-- container -->

  </div> <!-- page container -->
</div> <!-- row -->
