<div class="user-edit">
  <div class="half-buffer"></div>
  <h1 class="text-center font-bold">Edit My Information</h1>

  <div class="half-buffer"></div>
  <%= render "layouts/quadborder" %>
  <div class="half-buffer"></div>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <div class="container">
      <h2>Your Basic Info</h2>
      <div class="form-inputs row">
        <div class="form-group col-sm-6">
          <%= f.label "First Name (Visible to Other Members)" %>
          <%= f.text_field :first_name, class: "form-control" %>
        </div> <!-- form-group -->
        <div class="form-group col-sm-6">
          <%= f.label "Last Name" %>
          <%= f.text_field :last_name, class: "form-control" %>
        </div> <!-- form-group -->
        <div class="form-group col-12">
          <%= f.label "Email (Not Visible to Other Members)" %>
          <%= f.text_field :email, class: "form-control", required: true, autofocus: true %>
        </div> <!-- form-group -->
        <div class="form-group">
          <%= f.input :subscribed, label: "Subscribed to Blog" %>
          <%= f.input :contributor_request, label: "Request to become a contributor to The Stay Sane Mom (aka Guest Blogger)" %>
        </div>
      </div> <!-- form inputs row -->
    </div> <!-- container -->

    <%= render "layouts/quadborder" %>
    <div class="buffer"></div>

    <div class="container">
      <h2>Your Public Profile</h2>
      <div class="form-inputs row">
        <div class="form-group col-sm-12">
          <%= f.label "What's your life philosophy, in one sentence? (Visible to Other Members)" %>
          <%= f.text_field :tagline, class: "form-control" %>
        </div> <!-- form-group -->
        <div class="form-group col-12">
          <%= f.label "Short Description of Yourself (Visible to Other Members)" %>
          <%= f.text_area :bio, class: "form-control" %>
        </div> <!-- form-group -->
        <div class="form-group col-12">
          <%= f.label "Profile Picture" %><br />
          <%= f.file_field :avatar, label: false %>
        </div> <!-- form-group -->
      </div> <!-- row -->
    </div> <!-- container -->


    <div class="half-buffer"></div>
    <%= render "layouts/quadborder" %>
    <div class="half-buffer"></div>

    <div class="container">
      <h2>Your Links</h2>
      <div class="form-inputs row">
        <div class="form-group col-sm-6">
          <%= f.label "Your Site's Name" %>
          <%= f.text_field :website_name, class: "form-control", placeholder: "The Stay Sane Mom" %>
        </div> <!-- form-group -->
        <div class="form-group col-sm-6">
          <%= f.label "Your Site's URL" %>
          <%= f.text_field :website_url, class: "form-control", placeholder: "www.theStaySaneMom.com" %>
        </div> <!-- form-group -->
        <div class="form-group col-sm-6">
          <%= f.label "Your Facebook Link" %>
          <%= f.text_field :sm_facebook, class: "form-control", placeholder: "www.facebook.com/TheStaySaneMom" %>
        </div> <!-- form-group -->
        <div class="form-group col-sm-6">
          <%= f.label "Your Pinterest Link" %>
          <%= f.text_field :sm_pinterest, class: "form-control", placeholder: "www.pinterest.com/TheStaySaneMom" %>
        </div> <!-- form-group -->
        <div class="form-group col-sm-6">
          <%= f.label "Your Instagram Link" %>
          <%= f.text_field :sm_instagram, class: "form-control", placeholder: "www.instagram.com/TheStaySaneMom" %>
        </div> <!-- form-group -->
        <div class="form-group col-sm-6">
          <%= f.label "Your Twitter Link" %>
          <%= f.text_field :sm_twitter, class: "form-control", placeholder: "www.twitter.com/TheStaySaneMom" %>
        </div> <!-- form-group -->
        <div class="form-group col-sm-6">
          <%= f.label "Your YouTube Link" %>
          <%= f.text_field :sm_youtube, class: "form-control", placeholder: "www.youtube.com/TheStaySaneMom" %>
        </div> <!-- form-group -->
        <div class="form-group col-sm-6">
          <%= f.label "Your Business Email" %>
          <%= f.text_field :sm_email, class: "form-control", placeholder: "liz@theStaySaneMom.com" %>
        </div> <!-- form-group -->
        <div class="form-group col-sm-12">
          <%= f.label "Other Social Media Link" %>
          <%= f.text_field :sm_other, class: "form-control", placeholder: "" %>
        </div> <!-- form-group -->
      </div> <!-- form inputs -->
    </div> <!-- container -->


    <div class="half-buffer"></div>
    <%= render "layouts/quadborder" %>
    <div class="half-buffer"></div>

    <div class="container">
      <div class="form-inputs">
        <h2>The Nitty Gritty</h2>
        <div class="row">
          <div class="form-group col-12">
            <%= f.label "Current Password" %>
            <%= f.password_field :current_password, class: "form-control", hint: "we need your current password to confirm your changes", required: true %>
          </div> <!-- form-group -->
        </div> <!-- row -->

        <p class="text-center passwordChangeTarget col-sm-12 color-neutral"><a>Want to change your password?</a></p>

        <div class="d-none passwordChange row">
          <div class="form-group col-sm-6">
            <%= f.label "New Password" %>
            <%= f.password_field :password, id: "newPW", autocomplete: "off", class: "form-control", hint: "leave it blank if you don't want to change it", required: false %>
          </div> <!-- form-group -->
          <div class="form-group col-sm-6">
            <%= f.label "Confirm New Password" %>
            <%= f.password_field :password_confirmation, id: "newPWconf", class: "form-control", required: false %>
          </div> <!-- form-group -->
          <p class="text-center passwordChangeNope col-sm-12 color-neutral"><a>Nevermind, don't change my password.</a></p>
        </div> <!-- password change -->
      </div> <!-- form inputs -->

      <div class="form-actions text-center">
        <%= f.button :submit, "Update", class: "btn-outline-danger submit-form" %>
      </div>
    </div> <!-- container -->
  <% end %>
</div> <!-- user edit page -->



<script>
  $(document).ready(function(){
      $(".passwordChangeTarget").click(function(){
          $(".passwordChange").removeClass("d-none");
          $(".passwordChangeTarget").addClass("d-none");
          $(".passwordChangeNope").removeClass("d-none");
      });
      $(".passwordChangeNope").click(function(){
          $(".passwordChange").addClass("d-none");
          $(".passwordChangeTarget").removeClass("d-none");
          $(".passwordChangeNope").addClass("d-none");
          $('#newPW').val('');
          $('#newPWconf').val('');
      });
      $('.submit-form').click(function() {
          ga('send', 'event', 'Accounts', 'Edit Account', 'Submit Edit Account');
      });
  });
</script>
