<div class="container">
  <div class="card padded">
  	<div class="text-center">
  		<h1>Create a Free Account</h1>
  		<p>With a free account you will be in total control of the galaxy.<br>Or just of your family's realm of chaos. Nice try though, huh?</p>
  	</div> <!-- header text -->

		<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
		  <%= f.error_notification %>

		  <div class="form-inputs text-left row">
  		    <div class="form-group col-sm-6">
  		    	<%= f.label :first_name %>
  		    	<%= f.text_field :first_name, class: "form-control", required: true %>
  		    </div>
  		    <div class="form-group col-sm-6">
  		    	<%= f.label :last_name %>
  		    	<%= f.text_field :last_name, class: "form-control", required: true %>
  	    	</div>
  		  	<div class="form-group col-sm-12">
  		    	<%= f.label :email %>
  		    	<%= f.email_field :email, class: "form-control", required: true, autofocus: true %>
  		    </div>
  		    <div class="form-group col-sm-6">
  		    	<%= f.label "Create Password" %>
  		    	<%= f.password_field :password, class: "form-control", required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
  		    </div>
  		    <div class="form-group col-sm-6">
  		    	<%= f.label "Confirm Password" %>
  		    	<%= f.password_field :password_confirmation, class: "form-control", required: true %>
  	    	</div>
  		  </div> <!-- form-inputs row -->
        <div class="text-center">
	        <%= f.button :submit, "Get Started", class: "btn-outline-danger submit-form" %><br>
  		    <%= render "devise/shared/links" %>
        </div> <!-- text center -->
		<% end %>
  </div> <!-- card -->
</div> <!-- container -->

<script>
  $(document).ready(function() {
    $('.submit-form').click(function() {
        ga('send', 'event', 'Accounts', 'Create New Account', 'Submit Account Creation');
    });
  });
</script>
