<div class="container">
  <%= simple_form_for(@person) do |f| %>
    <p id="notice"><%= f.error_notification %></p>

    <div class="form-inputs">

      <div class="row">
        <div class="form-group container">
          <%= f.label :relationship %><br />
          <%= f.select :relationship, options_for_select(['Child', 'Spouse', 'Relative', 'Friend', 'Colleague', 'Acquaintance', 'Other'], :selected => f.object.relationship), {}, { :class => 'span3 controls controls-row browser-default' } %>
        </div> <!-- col -->
      </div> <!-- row -->

      <div class="row">
        <div class="form-group col-sm-4">
          <%= f.input :first_name, required: true %>
        </div> <!-- col -->
        <div class="form-group col-sm-4">
          <%= f.input :middle_name %>
        </div> <!-- col -->
        <div class="form-group col-sm-4">
          <%= f.input :last_name, required: true %>
        </div> <!-- col -->
      </div> <!-- row -->

      <div class="row">
        <div class="form-group col-sm-12">
          <%= f.label "Family Group" %>
          <%= f.text_field :group, required: true, class: "form-control", placeholder: "(e.g. The Jones Family, Kate & Rick's Family, etc.)" %>
        </div> <!-- col -->
      </div> <!-- row -->

      <div class="form-group row">

        <div class="col-sm-4 md-form">
          <%= f.label :birthday %>
          <input placeholder="Select Birthday" type="text" id="birthday" class="form-control datepicker"></input>
          <%= f.hidden_field :birthday, id: "birthdayHolder", class: "hiddenDateField" %>
        </div> <!-- col -->
        <div class="col-sm-4 md-form">
          <%= f.label :anniversary %>
          <input placeholder="Select Anniversary" type="text" id="anniversary" class="form-control datepicker"></input>
          <%= f.hidden_field :anniversary, id: "anniversaryHolder", class: "hiddenDateField" %>
        </div> <!-- col -->
        <div class="col-sm-4 md-form">
          <%= f.label :other %>
          <input placeholder="Select Other" type="text" id="other" class="form-control datepicker"></input>
          <%= f.hidden_field :other, id: "otherHolder", class: "hiddenDateField" %>
        </div> <!-- col -->
      </div> <!-- row -->

      <div class="form-group row">
        <div class="col-sm-12">
          <%= f.label "Label for Other Date" %>
          <%= f.text_field :other_date_name, class: "form-control", placeholder: "e.g. Day We Met" %>
        </div> <!-- col -->
      </div> <!-- row -->

      <div class="row">
        <div class="form-group container">
          <%= f.label :notes %>
          <%= f.text_area :notes, id: "wysiwyg", class: "form-control" %>
        </div> <!-- col -->
      </div> <!-- row -->

    </div> <!-- form inputs -->

    <div class="form-actions text-center">
      <%= f.button :submit, class: "btn btn-outline-danger person-form", style: "margin-bottom: 10px" %>
    </div>
  <% end %>
</div> <!-- container -->

<!-- script for FROALA-WYSIWYG -->
<%= content_for :additional_js_partial do %>
  <script type="text/javascript">

    $('#wysiwyg').froalaEditor({
      key: '<%= ENV['FROALA_ACTIVATION_KEY'] %>',
      inlineMode: false,
      heightMin: '200px',
      toolbarButtons: [
          'bold', 'italic', 'underline', 'paragraphFormat', 'formatOL',
          'formatUL', 'insertHTML', 'undo', 'redo', 'html'
        ]
    })
    $(document).ready(function() {
      $('.datepicker').pickadate();
      $('#birthday').on('change', function() {
        var birthday = $('#birthday').val();
        $('#birthdayHolder').val(birthday);
      });
      $('#anniversary').on('change', function() {
        var anniversary = $('#anniversary').val();
        $('#anniversaryHolder').val(anniversary);
      });
      $('#other').on('change', function() {
        var other = $('#other').val();
        $('#otherHolder').val(other);
      });
      $('.person-form').click(function() {
          ga('send', 'event', 'Participation', 'People', 'Submit Person Form');
      });
    });
  </script>
<% end %>
