<!-- page-specific content -->
  <% pagetitle = "Birthday Tracker" %>
  <% description = "Input birthdays, anniversaries, and more. Never forget an important date again." %>
  
  <% title pagetitle %>
  <%= content_for :head do %>
    <meta name="description" content="<%= description %>" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:title" content="<% pagetitle %>" />
    <meta property="og:description" content="<%= description %>" />
    <meta property="og:image" content="https://staysanemom.s3.us-west-1.amazonaws.com/111-Share+Images/Online+Birthday+Tracker.jpg" />
    <meta property="article:author" content="Liz Bayardelle, PhD" />
    <meta property="og:type" content="product" />
  <% end %>
<!-- page-specific content -->




<section id="hero-and-header">

  <div class="container py-5 text-center">
    <h1 class="d-md-none">Mom Tools</h1>
    <div class="row align-items-center">

      <div class="col-md-6 order-md-1">
          <img class="match-height classy-pic tilt-right mb-4" src="<%= asset_path "keep-track-of-family-dates-and-events.jpg" %>" style="max-width: 100%; max-height: 40vh">
      </div> <!-- col -->

      <div class="col-md-6 order-md-0">
        <h1 class="d-none d-md-block"><% if current_user && current_user.first_name %><%= current_user.first_name %>'s <% end %>Family</h1>
        <h3 class="text-black mb-4">
            Keep track of all your people.
        </h3>
        <h3 class="text-black mb-4">
            Important dates, birthdays, heck, even names.
        </h3>
        <h3 class="text-black">
            We got you.
        </h3>
        <a href="#newPersonPopup" class="open-popup-link btn btn-pink">Add New Person</a>
      </div> <!-- col -->

    </div> <!-- row -->
  </div> <!-- container -->

</section>




<section class="bg-white w-100 z-depth-2-y py-5">
  <div class="container">

  <h1 class="text-center mb-0">My People</h1>

  <div class="text-center pb-5">
    <div id="relationshipTarget" class="sortingTarget color-neutral">Sort by Relationship</div> |
    <div id="groupTarget" class="sortingTarget font-bold color-neutral">Sort by Family Group</div> |
    <div id="lastNameTarget" class="sortingTarget color-neutral">Sort by Last Name</div> |
    <div id="birthdayTarget" class="sortingTarget color-neutral">Sort by Birthday</div>
  </div>


  <div id="relationship" class="sortingGroup d-none">
    <% @relationships.each do |relationship| %>
      <h4 class="color-pink"><%= relationship.pluralize(2) %></h4>
      <% @people_last_name.each do |person| %>
        <% if person.relationship == relationship %>
          <h5 class="mb-0"><strong><%= person.last_name %></strong>, <%= person.first_name %> <%= person.middle_name %> (<%= person.relationship %>)</h5>
          <%= render partial: "people/person_details", locals: { person: person } %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div id="group" class="sortingGroup">
    <% @groups.each do |group| %>
      <h4 class="color-pink"><%= group %></h4>
      <% @people_last_name.each do |person| %>
        <% if person.group == group %>
          <h5 class="mb-0"><strong><%= person.last_name %></strong>, <%= person.first_name %> <%= person.middle_name %> (<%= person.relationship %>)</h5>
          <%= render partial: "people/person_details", locals: { person: person } %>
        <% end %>
      <% end %>
    <% end %>


    <h4 class="mt-4 color-neutral">No Group Listed</h4>
    <% @people_no_group.each do |person| %>
      <h5 class="mb-0"><strong><%= person.last_name %></strong>, <%= person.first_name %> <%= person.middle_name %> (<%= person.relationship %>)</h5>
      <%= render partial: "people/person_details", locals: { person: person } %>
    <% end %>
  </div>

  <div id="lastName" class="sortingGroup d-none">
    <% @people_last_name.each do |person| %>
      <h5 class="mb-0"><strong><%= person.last_name %></strong>, <%= person.first_name %> <%= person.middle_name %> (<%= person.relationship %>)</h5>
      <%= render partial: "people/person_details", locals: { person: person } %>
    <% end %>
  </div>

  <div id="birthday" class="sortingGroup d-none">
    <table>
      <% @people_birthday.each do |person| %>
        <tr>
          <td><h5><%= person.birthday.strftime("%B %e") %></h5></td>
          <td>
            <h5 class="mb-0"><%= person.first_name %> <%= person.middle_name %> <%= person.last_name %> (<%= person.relationship %>)</h5>
            <%= render partial: "people/person_details", locals: { person: person } %>
          </td>
        </tr>
      <% end %>
    </table>


    <h4 class="mt-4 color-neutral">No Birthday Listed</h4>
    <% @people_no_birthday.each do |person| %>
      <h5 class="mb-0"><%= person.first_name %> <%= person.middle_name %> <%= person.last_name %> (<%= person.relationship %>)</h5>
      <%= render partial: "people/person_details", locals: { person: person } %>
    <% end %>
  </div> <!-- birthday -->



  </div> <!-- container -->
</section> 





<!-- new person popup itself -->
<div id="newPersonPopup" class="white-popup mfp-hide">
  <h2 class="text-center">Add a New Person</h2>
  <%= render 'form', person: @person %>
</div>


<%= content_for :additional_js do %>
  <script type="text/javascript">
    $(function() {
      $('.blog-text').matchHeight();
    });

    $('.open-popup-link').magnificPopup({
      type:'inline',
      midClick: true // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
    });

    $(document).ready(function() {
      $('.datepicker').pickadate();
      $('#birthday').on('change', function() {
        var birthday = $('#birthday').val();
        $('#birthdayHolder').val(birthday);
      });
      $('#anniversary').on('change', function() {
        var anniversary = $('#anniversary').val();
        $('#anniversaryHolder').val(anniversary);
      });
      $('#other').on('change', function() {
        var other = $('#other').val();
        $('#otherHolder').val(other);
      });
    });

    $('#relationshipTarget').click(function(){
      $('.sortingTarget').removeClass('font-bold');
      $('#relationshipTarget').addClass('font-bold');
      $('.sortingGroup').addClass('d-none');
      $('#relationship').removeClass('d-none');
    });
    $('#groupTarget').click(function(){
      $('.sortingTarget').removeClass('font-bold');
      $('#groupTarget').addClass('font-bold');
      $('.sortingGroup').addClass('d-none');
      $('#group').removeClass('d-none');
    });
    $('#lastNameTarget').click(function(){
      $('.sortingTarget').removeClass('font-bold');
      $('#lastNameTarget').addClass('font-bold');
      $('.sortingGroup').addClass('d-none');
      $('#lastName').removeClass('d-none');
    });
    $('#birthdayTarget').click(function(){
      $('.sortingTarget').removeClass('font-bold');
      $('#birthdayTarget').addClass('font-bold');
      $('.sortingGroup').addClass('d-none');
      $('#birthday').removeClass('d-none');
    });

  </script>
<% end %>
