
<div class="container">
  <% if current_user && current_user.admin %>
    <p class="text-right"><%= link_to 'New Subcategory', new_subcategory_path %></p>
  <% end %>

  <h1 class="text-center font-script">Subcategories</h1>

  <table>
    <thead>
      <tr>
        <th>
          <strong>Name (Category)</strong><br />
        </th>
        <th>Active</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @subcategories.each do |subcategory| %>
        <tr>
          <td>
            <strong><%= subcategory.category %> &nbsp;:: &nbsp;<%= link_to subcategory.name, subcategory %></strong><br />
            <%= subcategory.description %>
          </td>
          <td><%= if subcategory.active then "Active" else "Inactive" end %></td>
          <td></td>
          <td><%= link_to 'Edit', edit_subcategory_path(subcategory) %></td>
          <td><%= link_to 'Destroy', subcategory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

</div> <!-- container -->
