
<div class="container">
  <% if current_user && current_user.admin %>
    <p class="text-right"><%= link_to 'New Subcategory', new_subcategory_path %></p>
  <% end %>

  <h1 class="text-center font-script">Subcategories</h1>

  <div class="half-buffer"></div>

  <table>
    <tbody>
      <% @subcategories.each do |subcategory| %>
        <tr>
          <td>
            <%= link_to subcategory.category + " :: " + subcategory.name, subcategory, class: "color-spouse boldest" %><br />
            <%= subcategory.description %>
          </td>
          <td>
            <span class="boldest"><%= if subcategory.active then "Active" else "Inactive" end %></span><br />
            <%= link_to 'Edit', edit_subcategory_path(subcategory) %>&nbsp; | &nbsp;
            <%= link_to 'Destroy', subcategory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

</div> <!-- container -->
