<!-- page-specific content -->
  <% title @subcategory.name + " | SSM" %>
  <%= content_for :head do %>
    <meta name="description" content="<%= @subcategory.description %>" />
  <% end %>
<!-- page-specific content -->

<nav aria-label="breadcrumb" class="nav-breadcrumb">
  <ol class="breadcrumb">
    <% case @subcategory.category %>
      <% when "House" %>
        <li class="breadcrumb-item"><%= link_to @subcategory.category, home_house_path %></li>
      <% when "Spouse" %>
        <li class="breadcrumb-item"><%= link_to @subcategory.category, home_spouse_path %></li>
      <% when "Kids" %>
        <li class="breadcrumb-item"><%= link_to @subcategory.category, home_kids_path %></li>
      <% when "Self" %>
        <li class="breadcrumb-item"><%= link_to @subcategory.category, home_self_path %></li>
    <% end %>
    <li class="breadcrumb-item"><%= @subcategory.name %></li>
  </ol>
</nav>
<div class="container text-center">
  <h1 class="font-script"><%= @subcategory.name %></h1>
  <p><%= @subcategory.description %></p>
  <h2 class="color-spouse"><% if !@subcategory.active %>INACTIVE<% end %></h2>
</div>


<% resources = Resource.where(active: true) %>
<% sub_resources = [] %>
<% resources.each do |r| %>
  <% if r.subcategory_ids.include? @subcategory.id %>
    <% sub_resources << r %>
  <% end %>
<% end %>

<% if sub_resources.count != 0 %>
  <div class="bg-<%= @subcategory.category.downcase %> padded my-4" id="resourcesDiv">
    <div class="container padded resource-stripe">
      <h2 class="text-center font-script">Free Resources</h2>
      <% if current_user %>
        <% sub_resources.each do |resource| %>
          <% if !resource.link_instead %>
              <%= link_to asset_path(resource.document, skip_pipeline: true), target: "_blank" do %><%= resource.title %><% end %><br />
          <% else %>
            <a href="<%= resource.link_url %>" target="_blank"><%= resource.title %></a><br />
          <% end %> <!-- if else -->
        <% end %>
      <% else %>
        <h5 class="text-center">Create a free account for access to the free resource library.</h5>
        <div class="text-center padded">
          <%= link_to new_user_registration_path(source: @page_title.to_s) do %><button class="btn my-btn-outline-secondary">Create an Account</button><% end %>
           or
           <%= link_to new_user_session_path do %><button class="btn my-btn-outline-secondary">Log In</button><% end %>
        </div>
      <% end %> <!-- current user -->
    </div> <!-- container -->
  </div> <!-- bg house -->
<% end %>

<!-- related blogs -->
<% @related = Blog.where(subcategory_id: @subcategory.id, published: true, ).where("published_on <= ?", Date.today).order("comments_count DESC") %>
<% if @related != [] %>
  <div class="container">
    <!-- <h2>Blogs on <%#= @subcategory.name %></h2> -->
    <div class="row">
      <% @related.each do |blog| %>
        <%= render partial: "layouts/blogcard2", locals: { blog: blog } %>
      <% end %>
    </div> <!-- row -->
  </div>
<% end %>
<!-- related blogs -->


<%= content_for :additional_js do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.height').matchHeight();
      $('.blog-text').matchHeight();
      $('.blog-teaser').matchHeight();
      $('.blog-description').matchHeight();
      $('.blog-info').matchHeight();
    });
  </script>
<% end %>
