<!-- page-specific content -->
  <% title @subcategory.name + " | SSM" %>
  <%= content_for :head do %>
    <meta name="description" content="<%= @subcategory.description %>" />
  <% end %>
<!-- page-specific content -->

<nav aria-label="breadcrumb" style="margin-top: -35px;">
  <ol class="breadcrumb">
    <% case @subcategory.category %>
      <% when "House" %>
        <li class="breadcrumb-item"><%= link_to @subcategory.category, home_house_path %></li>
      <% when "Spouse" %>
        <li class="breadcrumb-item"><%= link_to @subcategory.category, home_spouse_path %></li>
      <% when "Kids" %>
        <li class="breadcrumb-item"><%= link_to @subcategory.category, home_kids_path %></li>
      <% when "Self" %>
        <li class="breadcrumb-item"><%= link_to @subcategory.category, home_self_path %></li>
    <% end %>
    <li class="breadcrumb-item"><%= @subcategory.name %></li>
  </ol>
</nav>
<div class="container text-center">
  <h1 class="font-script"><%= @subcategory.name %></h1>
  <p><%= @subcategory.description %></p>
  <h2 class="color-spouse"><% if !@subcategory.active %>INACTIVE<% end %></h2>
</div>


<!-- related blogs -->
<% @related = Blog.where(subcategory_id: @subcategory.id, published: true, ).where("published_on <= ?", Date.today).order("comments_count DESC") %>
<% if @related != [] %>
  <div class="container">
    <!-- <h2>Blogs on <%#= @subcategory.name %></h2> -->
    <div class="row">
      <% @related.each do |blog| %>
        <%= render partial: "layouts/blogcard2", locals: { blog: blog } %>
      <% end %>
    </div> <!-- row -->
  </div>
<% end %>
<!-- related blogs -->


<%= content_for :additional_js do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.height').matchHeight();
      $('.blog-text').matchHeight();
      $('.blog-teaser').matchHeight();
      $('.blog-description').matchHeight();
      $('.blog-info').matchHeight();
    });
  </script>
<% end %>
