<div class="to-do-list done">
  <% task.each do |task| %>
    <p>
      <%= link_to uncheck_task_path(task), method: :post, remote: true do %>
        <%= fa_icon "check-square", class: "color-neutral" %>
      <% end %>
      <%= task.name %>
      <%= link_to task_path(task), method: :delete, remote: true do %>
        <%= fa_icon "trash", id: (task.id.to_s + "task"), class: "color-neutral", style: "margin-left: 5px" %>
      <% end %>
    </p>
  <% end %>
</div>

<script>
	$(document).ready(function() {
		$('.content-box').matchHeight();
	});
</script>
