<!-- page-specific content -->
  <% title "Online Task Organizer" %>
  <%= content_for :head do %>
    <% description = "Motherhood and house ownership come with a lot of tasks.  Keep your to do list organized and optimized here." %>
    <meta name="description" content="<%= description %>" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:title" content="Online Task Organizer" />
    <meta property="og:description" content="<%= description %>" />
    <meta property="og:image" content="https://staysanemom.s3.us-west-1.amazonaws.com/111-Share+Images/Online+Task+Organizer.jpeg" />
    <meta property="article:author" content="Liz Bayardelle, PhD" />
    <meta property="og:type" content="product" />
  <% end %>
<!-- page-specific content -->

<div class="header-frame frame" style="background-image: url(<%= asset_path "house-task-organizer.jpg" %>)"><div class="image-overlay-white"><div class="inner-frame border-neutral"></div></div></div>
<div class="over-frame-text">
  <div class="container">
    <div class="buffer"></div>
    <h1><% if current_user && current_user.first_name %><%= current_user.first_name %>'s <% end %>Online Task Organizer</h1>
  </div> <!-- container -->
  <div class="over-frame-bottom-row">
    <div class="container padded">
			<%= simple_form_for(@create_task, remote: true) do |f| %>
				<div class="row padded text-center">
					<div class="col-xs-12 col-sm-9">
						<%= f.text_field :name, id: "textField", placeholder: "What needs to get done?", class: "form-control" %>
					</div>
					<div class="col-xs-12 col-sm-3">
						<%= f.select :frequency, options_for_select([["One-Time", "OneTime"],["Daily", "Daily"],["Weekly", "Weekly"],["Monthly", "Monthly"]]), {}, {class: "form-control browser-default"} %>
					</div>
					<div class="container text-center">
						<div class="half-buffer"></div>
						<%= f.button :submit, class: "btn btn-pink new-task" %>
						<div class="half-buffer"></div>
					</div>
				</div> <!-- row -->
			<% end %>
    </div> <!-- container -->
  </div> <!-- over-frame-text -->
</div> <!-- over-frame-text -->

<div class="half-buffer"></div>

<% if current_user %>

	  <div class="container">
			<div class="row">
				<div class="col-xs-12 col-lg-6 col-xl-12">
			    <div class="content-box to-do">
			      <h2 class="font-script text-center">One-Time Tasks</h2>
            <p class="text-center">These tasks are here to stay, until you complete them.</p>
						<div id="onetime-todo"><%= render partial: 'items', locals: { task: @one_time } %></div>
						<div id="onetime-done"><%= render partial: 'done', locals: { task: @one_time_done } %></div>
			    </div> <!-- content box -->
				</div> <!-- col -->

				<div class="col-xs-12 col-lg-6 col-xl-4">
			    <div class="content-box to-do">
			      <h2 class="font-script text-center">Daily</h2>
						<p class="text-center">These automatically uncheck at night so you have a fresh list&nbsp;in&nbsp;the&nbsp;morning.</p>
			      <div id="daily-todo"><%= render partial: 'items', locals: { task: @daily } %></div>
						<div id="daily-done"><%= render partial: 'done', locals: { task: @daily_done } %></div>
			    </div> <!-- content box -->
				</div> <!-- col -->

				<div class="col-xs-12 col-lg-6 col-xl-4">
			    <div class="content-box to-do">
			      <h2 class="font-script text-center">Weekly</h2>
						<p class="text-center">These automatically uncheck Sunday night so you get a new list&nbsp;each&nbsp;Monday&nbsp;morning.</p>
			      <div id="weekly-todo"><%= render partial: 'items', locals: { task: @weekly } %></div>
						<div id="weekly-done"><%= render partial: 'done', locals: { task: @weekly_done } %></div>
			    </div> <!-- content box -->
				</div> <!-- col -->

				<div class="col-xs-12  col-lg-6 col-xl-4">
			    <div class="content-box to-do">
			      <h2 class="font-script text-center">Monthly</h2>
						<p class="text-center">These automatically uncheck on the last day of the month so you start with a clean&nbsp;list&nbsp;each&nbsp;1st.</p>
			      <div id="monthly-todo"><%= render partial: 'items', locals: { task: @monthly } %></div>
						<div id="monthly-done"><%= render partial: 'done', locals: { task: @monthly_done } %></div>
			    </div> <!-- content box -->
				</div> <!-- col -->
			</div> <!-- row -->
	  </div> <!-- container -->
<% end %> <!-- current_user -->

<%= content_for :additional_js do %>
  <script type="text/javascript">
  	$(document).ready(function() {
  		$('.content-box').matchHeight();
      $('.new-task').click(function() {
          ga('send', 'event', 'Participation', 'To Do List', 'Create New Task');
      });
  	});

    $(function() {
      $(".taskWrapper").sortable({

        update: function(e, ui) {
          var $that = $(e.target);

          $.ajax({
            url: $(this).data("url"),
            type: "PATCH",
            data: $that.sortable('serialize'),
          });

          console.log(ui.item.index())
        }
      });
  	});
  </script>
<% end %>
