<main class="mb-5 container">
  <header class="text-center mt-3">
    <h1 class="font-script color-pink">Users and Superusers</h1>
  </header>


  <section class="text-center mb-5 my-"> <!-- admin -->
    <h2 id="superuser-header">Superusers</h2>
    <div id="superuser-container">

      <div class="table-responsive" style="width: 100%">
        <table id="tableSuperusers" class="table thin table-striped table-bordered" width="100%">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Contributor</th>
              <th>Admin</th>
              <th>Since</th>
              <th><i class="fas fa-times"></i></th>
            </tr>
          </thead>

          <tbody class="text-left">
            <% @superusers.each do |user| %>
              <tr>
                <td><%= user.full_name %></td>
                <td><%= mail_to user.email, user.email, target: "_blank" %></td>
                <td class="text-center"><% if user.contributor %><i class="fas fa-check"></i><% end %></td>
                <td class="text-center"><% if user.admin %><i class="fas fa-check"></i><% end %></td>
                <td><%= user.created_at.year %></td>
                <th class="text-center"><%= link_to '<i class="fas fa-times"></i>'.html_safe, user, method: :delete, data: { confirm: 'Are you sure?' } %></th>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div> <!-- table responsive -->

    </div> <!-- superuser container -->
  </section>








  <section class="text-center mb-5 my-"> <!-- admin -->
    <h2 id="preauthorization-header">Preauthorizations</h2>
    <div id="preauthorization-container">

      <button type="button" class="btn btn-pink btn-sm mb-3" data-toggle="modal" data-target="#newPreauthorization">
        New Preauthorization
      </button>

      <div class="table-responsive" style="width: 100%">
        <table id="tablePreauthorizations" class="table thin table-striped table-bordered" width="100%">
          <thead>
            <tr>
              <th>Email</th>
              <th>Admin</th>
              <th>Contributor</th>
              <th>Account Created</th>
              <th><i class="fas fa-times"></i></th>
            </tr>
          </thead>

          <tbody class="text-left">
            <% @preauthorizations.each do |preauthorization| %>
              <tr>
                <td><%= mail_to preauthorization.email, preauthorization.email, target: "_blank" %></td>
                <td class="text-center"><% if preauthorization.admin %><i class="fas fa-check"></i><% end %></td>
                <td class="text-center"><% if preauthorization.contributor %><i class="fas fa-check"></i><% end %></td>
                <td class="text-center"><% if preauthorization.fulfilled %><i class="fas fa-check"></i><% end %></td>
                <th class="text-center"><%= link_to '<i class="fas fa-times"></i>'.html_safe, preauthorization, method: :delete, data: { confirm: 'Are you sure?' } %></th>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div> <!-- table responsive -->

    </div> <!-- preauthorization container -->
  </section>



  <section class="mb-5 my-"> <!-- users -->
    <h2 id="sm-header" class="text-center">SM to Approve</h2>
    <div id="sm-container">
      <% to_approve = 0 %>
      <% @contributors.each do |user| %>
        <% sm_not_blank = ( user.website_name && user.website_name != "" ) || ( user.website_url && user.website_url != "" ) || ( user.sm_facebook && user.sm_facebook != "" ) || ( user.sm_pinterest && user.sm_pinterest != "" ) || ( user.sm_instagram && user.sm_instagram != "" ) || ( user.sm_twitter && user.sm_twitter != "" ) || ( user.sm_youtube && user.sm_youtube != "" ) || ( user.sm_email && user.sm_email != "" ) || ( user.sm_other && user.sm_other != "" ) %>
        <% if sm_not_blank && user.sm_approved == false %>

          <%= link_to user_path(user) do %>
            <h3 class="font-script color-pink h1" style="margin-bottom: -10px"><%= user.first_name %> <%= user.last_name %></h3>
          <% end %>

          <%= render partial: "users/sm_links", locals: { user: user } %>

          <% to_approve += 1 %>
        <% end %>  <!-- if sm not blank -->
      <% end %>  <!-- contributors each do -->

      <% if to_approve == 0 %>
        <p>You have no SM links to approve at this time. Woohoo!</p>
      <% end %>
    </div> <!-- sm container -->
  </section>








  <section class="mb-5 my-"> <!-- users -->
    <h2 id="contributor-header" class="text-center">Contributors</h2>
    <div id="contributor-container">

      <% @contributors.order("created_at DESC").each do |user| %>
        <h3 class="thin" style="margin-bottom: 0px">
          <%= link_to user_path(user) do %>
            <span class="thin uppercase color-black"><%= user.first_name %> <%= user.last_name %></span>
          <% end %>
           ( <%= user.created_at.year %>
            <% if user.website_name != "" && user.website_url != "" %>
              , <%= link_to user.website_name, user.website_url, class: "thin color-black" %>
            <% end %>,
            <div id="toggle-sm-<%= user.id %>" class="h3" style="display: inline-block">🔍&nbsp;</div>)
        </h3>

        <div id="sm-container-<%= user.id %>" class="hidden outline-box z-depth-1 mb-3">
          <%= render partial: "users/sm_links", locals: { user: user } %>
        </div>

        <div class="pl-4">
          <% blogs = Blog.where(user_id: user.id) %>
          <% blogs.each do |blog| %>
            <%= render partial: "contributions/blog_line", locals: { blog: blog } %>
          <% end %>

        </div> <!-- contributor's stuff -->
      <% end %>

    </div> <!-- contributor container -->
  </section>









  <section class="text-center mb-5 my-"> <!-- users -->
    <h2 id="member-header">Members</h2>
    <div id="member-container">

      <div class="table-responsive" style="width: 100%">
        <table id="tableMembers" class="table thin table-striped table-bordered" width="100%">
          <thead>
            <tr>
              <th>Date</th>
              <th>Name</th>
              <th>Email</th>
              <th>Contributor</th>
              <th>X</th>
            </tr>
          </thead>

          <tbody class="text-left">
            <% @users.where(admin: false, contributor: false).order("created_at DESC").each do |user| %>
              <tr>
                <td><%= user.created_at.strftime("%m/%d/%Y") %></td>
                <td><%= link_to user.full_name, user %></td>
                <td><%= user.email %></td>
                <td class="text-center"><% if user.contributor %><i class="fas fa-check"></i><% else %><%= link_to "Contributor!", make_contributor_path(user), method: :post %><% end %></td>
                <td><%= link_to user, method: :delete, data: { confirm: 'Are you sure?' } do %><%= fa_icon "trash" %><% end %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div> <!-- table responsive -->
    </div> <!-- member container -->

  </section>




</main>










<div class="modal fade" id="newPreauthorization" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create a New Preauthorization</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render partial: "preauthorizations/form", locals: { preauthorization: @new_preauthorization } %>
      </div>
    </div>
  </div>
</div>








<%= content_for :additional_js do %>
  <script>
    $(document).ready(function () {
      $('#tableSuperusers').DataTable();
      $('#tableContributors').DataTable();
      $('#tablePreauthorizations').DataTable();
      $('#tableMembers').DataTable();

      $('.dataTables_length').addClass('bs-select');

      $("#superuser-header").click(function() {
        $("#superuser-container").toggleClass("hidden");
      })
      $("#preauthorization-header").click(function() {
        $("#preauthorization-container").toggleClass("hidden");
      })
      $("#sm-header").click(function() {
        $("#sm-container").toggleClass("hidden");
      })
      $("#contributor-header").click(function() {
        $("#contributor-container").toggleClass("hidden");
      })
      $("#member-header").click(function() {
        $("#member-container").toggleClass("hidden");
      })

      <% @contributors.each do |user| %>
        $("#toggle-sm-<%= user.id %>").click(function() {
          $("#sm-container-<%= user.id %>").toggleClass("hidden");
        })
      <% end %>

    });
  </script>
<% end %>
