<main class="mb-5 container">
  <header class="text-center mb-4">
    <h1 class="font-weight-bold">Users and Superusers</h1>
  </header>


  <section class="text-center mb-5 my-"> <!-- admin -->
    <h2>Superusers</h2>

    <div class="table-responsive" style="width: 100%">
      <table id="tableSuperusers" class="table table-striped table-bordered" width="100%">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Contributor</th>
            <th>Admin</th>
            <th>Since</th>
            <th><i class="fas fa-times"></i></th>
          </tr>
        </thead>

        <tbody class="text-left">
          <% @superusers.each do |user| %>
            <tr>
              <td><%= user.full_name %></td>
              <td><%= mail_to user.email, user.email, target: "_blank" %></td>
              <td class="text-center"><% if user.contributor %><i class="fas fa-check"></i><% end %></td>
              <td class="text-center"><% if user.admin %><i class="fas fa-check"></i><% end %></td>
              <td><%= user.created_at.year %></td>
              <th class="text-center"><%= link_to '<i class="fas fa-times"></i>'.html_safe, user, method: :delete, data: { confirm: 'Are you sure?' } %></th>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div> <!-- table responsive -->

  </section>








  <section class="text-center mb-5 my-"> <!-- admin -->
    <h2>Preauthorizations</h2>

    <button type="button" class="btn btn-pink btn-sm mb-3" data-toggle="modal" data-target="#newPreauthorization">
      New Preauthorization
    </button>

    <div class="table-responsive" style="width: 100%">
      <table id="tablePreauthorizations" class="table table-striped table-bordered" width="100%">
        <thead>
          <tr>
            <th>Email</th>
            <th>Admin</th>
            <th>Contributor</th>
            <th>Account Created</th>
            <th><i class="fas fa-times"></i></th>
          </tr>
        </thead>

        <tbody class="text-left">
          <% @preauthorizations.each do |preauthorization| %>
            <tr>
              <td><%= mail_to preauthorization.email, preauthorization.email, target: "_blank" %></td>
              <td class="text-center"><% if preauthorization.admin %><i class="fas fa-check"></i><% end %></td>
              <td class="text-center"><% if preauthorization.contributor %><i class="fas fa-check"></i><% end %></td>
              <td class="text-center"><% if preauthorization.fulfilled %><i class="fas fa-check"></i><% end %></td>
              <th class="text-center"><%= link_to '<i class="fas fa-times"></i>'.html_safe, preauthorization, method: :delete, data: { confirm: 'Are you sure?' } %></th>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div> <!-- table responsive -->

  </section>







    <section class="text-center mb-5 my-"> <!-- users -->
      <h2>Contributors</h2>

      <div class="table-responsive" style="width: 100%">
        <table id="tableMembers" class="table table-striped table-bordered" width="100%">
          <thead>
            <tr>
              <td></td>
              <td class="font-bold">Contributor</td>
              <td class="font-bold">Social Media</td>
            </tr>
          </thead>

          <% @contributors.each do |user| %>
            <tr class="text-left">
              <td>
                <%= user.id %>
              </td>
              <td>
                <%= link_to user_path(user) do %>
                  <span class="font-bold color-pink"><%= user.first_name %> <%= user.last_name %><br /></span>
                <% end %>
                <%= mail_to user.email %><br>
                <%= pluralize(user.blogs.where(published: true).count, "Published Blog") %><br />
                <% if !user.admin %>
                  <%= pluralize(user.blogs.where(published: false, approved: true, submitted: true).count, "Approved Blog") %><br />
                  <%= pluralize(user.blogs.where(published: false, approved: false, submitted: true).count, "Submitted Blog") %><br />
                <% end %>
                <%= pluralize(user.blogs.where(published: false, approved: false, submitted: false).count, "WIP Blog") %>

              </td>
              <td>
                <% if user.sm_approved %>
                  <span class="font-bold"><i class="fas fa-user-check color-pink"></i> SM Approved</span>
                <% end %>
                <% sm_not_blank = user.website_name || user.website_url || user.sm_facebook || user.sm_pinterest || user.sm_instagram || user.sm_twitter || user.sm_youtube || user.sm_email || user.sm_other %>
                <% if sm_not_blank && user.sm_approved == false %>
                  <%= link_to approve_sm_path(user), method: :post do %>
                    <span class="font-bold"><i class="fas fa-exclamation color-pink"></i> Approve SM Links</span><br />
                  <% end %>
                <% end %>
                <% if user.website_name != "" %>
                  <br />Website Name: <%= user.website_name %>
                <% end %>
                <% if user.website_url != "" %>
                  <br />Website URL: <%= link_to user.website_url %>
                <% end %>
                <% if user.sm_facebook != "" %>
                  <br />Facebook: <%= link_to user.sm_facebook %>
                <% end %>
                <% if user.sm_pinterest != "" %>
                  <br />Pinterest: <%= link_to user.sm_pinterest %>
                <% end %>
                <% if user.sm_instagram != "" %>
                  <br />Instagram: <%= link_to user.sm_instagram %>
                <% end %>
                <% if user.sm_twitter != "" %>
                  <br />Twitter: <%= link_to user.sm_twitter %>
                <% end %>
                <% if user.sm_youtube != "" %>
                  <br />YouTube: <%= link_to user.sm_youtube %>
                <% end %>
                <% if user.sm_email != "" %>
                  <br />Email: <%= mail_to user.sm_email %>
                <% end %>
                <% if user.sm_other != "" %>
                  <br />Other: <%= link_to user.sm_other %>
                <% end %>
              </td>
            </tr>
          <% end %>


        </table>
      </div> <!-- table responsive -->
    </section>









  <section class="text-center mb-5 my-"> <!-- users -->
    <h2>Members</h2>

    <div class="table-responsive" style="width: 100%">
      <table id="tableMembers" class="table table-striped table-bordered" width="100%">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Admin</th>
            <th>Contributor</th>
          </tr>
        </thead>

        <tbody class="text-left">
          <% @users.each do |user| %>
            <tr>
              <td><%= link_to user.full_name, user %></td>
              <td><%= user.email %></td>
              <td class="text-center"><% if user.admin %><i class="fas fa-check"></i><% end %></td>
              <td class="text-center"><% if user.contributor %><i class="fas fa-check"></i><% else %><%= link_to "Make Contributor", make_contributor_path(user), method: :post %><% end %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div> <!-- table responsive -->

  </section>




</main>










<div class="modal fade" id="newPreauthorization" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create a New Preauthorization</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render partial: "preauthorizations/form", locals: { preauthorization: @new_preauthorization } %>
      </div>
    </div>
  </div>
</div>









<script>
  $(document).ready(function () {
    $('#tableSuperusers').DataTable();
    $('#tableContributors').DataTable();
    $('#tablePreauthorizations').DataTable();
    $('#tableMembers').DataTable();

    $('.dataTables_length').addClass('bs-select');
  });
</script>
