<!-- page-specific content -->
  <% title "Member List | SSM" %>
<!-- page-specific content -->

<h1 class="text-center font-script">Users Command Center</h1>

<div class="half-buffer"></div>

<div class="container">
  <h2 class="text-center">Subscribers</h2>
  <h5 class="text-center subscriberTitle linkish"><%= pluralize(@subscribers['total_subscribers'], 'subscriber') %> (Click to Show/Hide)</h5>
  <div class="row subscriberTable d-none">
    <table>
      <th>
        <td class="font-bold">Name</td>
        <td class="font-bold">Email</td>
        <td class="font-bold">Lists</td>
      </th>
      <% @subscribers['subscribers'].each do |subscriber| %>
        <tr>
          <td><%= subscriber['state'] %></td>
          <td><% if subscriber['first_name'] != nil %><%= subscriber['first_name'] %><% else %><em>Unlisted</em><% end %></td>
          <td><%= mail_to subscriber['email_address'] %></td>
          <td><%=  %></td>
        </tr>
      <% end %>
    </table>
  </div> <!-- row -->
</div> <!-- container -->


<div class="half-buffer"></div>
<%= render "layouts/quadborder" %>
<div class="half-buffer"></div>


<div class="container">
  <h2 class="text-center">Site Members</h2>
  <h5 class="text-center linkish memberTitle"><%= pluralize(@users.count, 'member') %> (Click to Show/Hide)</h5>
  <div class="row memberTable d-none">
    <table>
      <th>
        <td class="font-bold">Member</td>
        <td class="font-bold">Status</td>
        <td class="font-bold">Social Media</td>
        <td class="font-bold">Participation</td>
        <td class="font-bold">Contributions</td>
      </th>
      <% @users.each do |user| %>
        <tr>
          <td>
            <%= user.id %>
          </td>
          <td>
            <%= link_to user_path(user) do %>
              <span class="font-bold color-spouse"><%= user.first_name %> <%= user.last_name %><br /></span>
            <% end %>
            <%= mail_to user.email %>
          </td>
          <td>
            <% if user.admin %>
              <span class="font-bold"><i class="fas fa-user-check color-self"></i> Admin</span><br />
            <% end %>
            <% if user.contributor %>
              <span class="font-bold"><i class="fas fa-user-check color-spouse"></i> Contributor</span>
            <% elsif !user.admin %>
              <%= link_to approve_contributor_path(user), method: :post do %>
                 <% if user.contributor_request %>
                  <i class="fas fa-exclamation color-spouse"></i>
                <% end %>
                  Make Contributor
              <% end %>
            <% end %>
          </td>
          <td>
            <% if user.sm_approved %>
              <span class="font-bold"><i class="fas fa-user-check color-spouse"></i> SM Approved</span>
            <% else %>
            <% sm_not_blank = user.website_name || user.website_url || user.sm_facebook || user.sm_pinterest || user.sm_instagram || user.sm_twitter || user.sm_youtube || user.sm_email || user.sm_other %>
              <% if sm_not_blank && user.sm_approved == false %>
                <%= link_to approve_sm_path(user), method: :post do %>
                  <span class="font-bold"><i class="fas fa-exclamation color-spouse"></i> Approve SM Links</span><br />
                  <% if user.website_name %>
                    <%= user.website_name %><br />
                  <% end %>
                  <% if user.website_url %>
                    <%= link_to user.website_url %><br />
                  <% end %>
                  <% if user.sm_facebook %>
                    <%= link_to user.sm_facebook %><br />
                  <% end %>
                  <% if user.sm_pinterest %>
                    <%= link_to user.sm_pinterest %><br />
                  <% end %>
                  <% if user.sm_instagram %>
                    <%= link_to user.sm_instagram %><br />
                  <% end %>
                  <% if user.sm_twitter %>
                    <%= link_to user.sm_twitter %><br />
                  <% end %>
                  <% if user.sm_youtube %>
                    <%= link_to user.sm_youtube %><br />
                  <% end %>
                  <% if user.sm_email %>
                    <%= mail_to user.sm_email %><br />
                  <% end %>
                  <% if user.sm_other %>
                    <%= link_to user.sm_other %><br />
                  <% end %>
                <% end %>
              <% else %>
                None
              <% end %>
            <% end %>
          </td>
          <td>
            <%= pluralize(user.comments.count, "Comment") %>
          </td>
          <td>
            <% if user.contributor || user.admin %>
              <%= pluralize(user.blogs.where(published: true).count, "Published Blog") %><br />
              <% if !user.admin %>
                <%= pluralize(user.blogs.where(published: false, approved: true, submitted: true).count, "Approved Blog") %><br />
                <%= pluralize(user.blogs.where(published: false, approved: false, submitted: true).count, "Submitted Blog") %><br />
              <% end %>
              <%= pluralize(user.blogs.where(published: false, approved: false, submitted: false).count, "WIP Blog") %>
            <% else %>
              Member
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div> <!-- row -->
</div> <!-- container -->


<div class="half-buffer"></div>
<%= render "layouts/quadborder" %>
<div class="half-buffer"></div>


<div class="container">
  <h2 class="text-center">ConvertKit Info</h2>
  <div class="row">
    <div class="col-sm-6">
      <h2 class="text-center">Sequences</h2>
      <ul>
        <% @sequences.each do |sequence| %>
        <li><%= sequence['name'] %> (ID# <%= sequence['id'] %>)</li>
        <% end %>
      </ul>
    </div>

    <div class="col-sm-6">
      <h2 class="text-center">Tags</h2>
      <ul>
        <% @tags.each do |tag| %>
        <li><%= tag['name'] %> (ID# <%= tag['id'] %>)</li>
        <% end %>
      </ul>
    </div>
  </div> <!-- convertkit row -->
</div> <!-- container -->



<%= content_for :additional_js do %>
  <script type="text/javascript">
    $(function() {
      $('.blog-text').matchHeight();
      $('.subscriberTitle').click(function() {
        $('.subscriberTable').toggleClass('d-none');
      });
      $('.memberTitle').click(function() {
        $('.memberTable').toggleClass('d-none');
      });
    });
  </script>
<% end %>
