<!-- page-specific content -->
  <% title "Member List | SSM" %>
<!-- page-specific content -->



<div class="container">
  <%= render 'layouts/hr' %>

  <h1 class="text-center script-header">Members and Subscribers</h1>

  <div class="half-buffer"></div>

  <h2 class="text-center">Subscribers</h2>
  <h5 class="text-center"><%= pluralize(@subscribers['total_subscribers'], 'subscriber') %></h5>
  <div class="row">
    <table>
      <th>
        <td class="font-bold">Name</td>
        <td class="font-bold">Email</td>
        <td class="font-bold">Lists</td>
      </th>
      <% @subscribers['subscribers'].each do |subscriber| %>
        <tr>
          <td><%= subscriber['state'] %></td>
          <td><% if subscriber['first_name'] != nil %><%= subscriber['first_name'] %><% else %><em>Unlisted</em><% end %></td>
          <td><%= mail_to subscriber['email_address'] %></td>
          <td><%=  %></td>
        </tr>
      <% end %>
    </table>
  </div> <!-- row -->

  <div class="buffer"></div>

  <h2 class="text-center">Site Members</h2>
  <h5 class="text-center"><%= pluralize(@users.count, 'member') %></h5>
  <div class="row">
    <table>
      <th>
        <td class="font-bold">Name</td>
        <td class="font-bold">Activity</td>
        <td class="font-bold">Email</td>
      </th>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.first_name %> <%= user.last_name %></td>
          <td><%= pluralize(user.comments.count, "Comment") %></td>
          <td><%= mail_to user.email %></td>
        </tr>
      <% end %>
    </table>
  </div> <!-- row -->

  <h2 class="text-center">ConvertKit Info</h2>
  <div class="row">
    <div class="col-sm-6">
      <h2 class="text-center">Sequences</h2>
      <ul>
        <% @sequences.each do |sequence| %>
        <li><%= sequence['name'] %> (ID# <%= sequence['id'] %>)</li>
        <% end %>
      </ul>
    </div>

    <div class="col-sm-6">
      <h2 class="text-center">Tags</h2>
      <ul>
        <% @tags.each do |tag| %>
        <li><%= tag['name'] %> (ID# <%= tag['id'] %>)</li>
        <% end %>
      </ul>
    </div>
  </div> <!-- convertkit row -->

</div> <!-- page container -->



<script>
  $(function() {
    $('.blog-text').matchHeight();
  });
</script>
