<div class="header-frame frame" style="background-image: url(<%= asset_path "tools-for-homepage.jpg" %>)"><div class="image-overlay-white"><div class="inner-frame border-neutral"></div></div></div>
<div class="over-frame-text">
  <div class="container">
    <h1>My Homepage</h1>
  </div> <!-- container -->
  <div class="over-frame-bottom-row">
    <div class="container">
    </div>
  </div> <!-- over-frame-text -->
</div> <!-- over-frame-text -->


<div class="container">
	<div class="text-center">
		<%= link_to 'Edit My Info', edit_user_registration_path %>  |  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
	</div> <!-- nav -->




	<div class="half-buffer"></div>

	<%= render partial: "layouts/biobox", locals: { user: current_user } %>

	<div class="buffer"></div>

	<% if current_user.admin %>
		<h2 class="text-center">Admin Stuff</h2>
		<div class="half-buffer"></div>

    <div class="row">
      <div class="col-sm-6 col-lg-4">
        <%= link_to users_path do %>
          <div id="subscribers" class="card padded">
            <h3 class="text-center">Subscribers</h3>
            <p>Total Subscribers: <%= @subscribers['total_subscribers'] %></p>
          </div>
        <% end %>
      </div>

  		<div class="col-sm-6 col-lg-4">
        <%= link_to users_path do %>
    			<div id="members" class="card padded">
    				<h3 class="text-center">Members</h3>
    				<p>Member Count: <%= @members.count - 1 %>
              <br />New Members (This Week): <%= @new_members.count %></p>
    			</div>
    		<% end %>
      </div>

      <div class="col-sm-6 col-lg-4">
        <%= link_to contributions_path do %>
          <div id="members" class="card padded">
            <h3 class="text-center">Guest Posts</h3>
            <p>Unread Guest Post Ideas: <%= @contributions.count %></p>
          </div>
        <% end %>
      </div>

      <div class="col-sm-6 col-lg-4">
        <%= link_to comments_path do %>
          <div id="members" class="card padded">
            <h3 class="text-center">Comments</h3>
            <p>Total Comments: <%= @comments.count %>
              <br />New Comments (This Week): <%= @new_comments.count %></p>
          </div>
        <% end %>
      </div>
    </div> <!-- row -->

	<% end %>
</div> <!-- container -->

<script>
  $(function() {
  	$('.card').matchHeight();
  });
</script>
