
<section id="hero-and-header">

  <div class="container py-5 text-center">

    <% if current_user && current_user == @user %>
      <% if @user.first_name %>
        <h1 class="d-md-none"><%= @user.first_name %>'s Homepage</h1>
      <% else %>
        <h1 class="d-md-none">My Homepage</h1>
      <% end %>
    <% end %>

    <div class="row align-items-center">

      <div class="col-md-6 order-md-1">
          <img class="match-height classy-pic tilt-right mb-4" src="<%= asset_path "tools-for-homepage.jpg" %>" style="max-width: 100%; max-height: 40vh">
      </div> <!-- col -->

      <div class="col-md-6 order-md-0">
        <% if current_user && current_user == @user %>
          <% if @user.first_name %>
            <h1 class="d-none d-md-block"><%= @user.first_name %>'s Homepage</h1>
          <% else %>
            <h1 class="d-none d-md-block">My Homepage</h1>
          <% end %>
        
          <h4><strong>Here's where you find all your personalized tools and goodies.</strong></h4>
          <%= link_to 'Edit My Info', edit_user_registration_path, class: "btn btn-sm btn-pink" %>
          <%= link_to 'Logout', destroy_user_session_path, :method => :delete, class: "btn btn-sm btn-pink" %>

          <% if ( @user.contributor || @user.admin ) && @user == current_user %>
            <h4 class="pt-4 font-weight-bold">(And all your contributor superpowers.)</h4>
            <%= link_to "Contributor Welcome", page_path("contributor_welcome"), class: "btn btn-sm btn-pink" %>
            <%= link_to "My Drafts", admin_drafts_path, class: "btn btn-sm btn-pink" %>
          <% end %>
        <% end %>
      </div> <!-- col -->

    </div> <!-- row -->
  </div> <!-- container -->

</section>










<!-- BLOGS BY USER IF NOT OWN PAGE -->
<% if !current_user || ( current_user && current_user.id != @user.id) %>
  <div class="container">
    <% blogsbyuser = Blog.where(user_id: @user.id) %>
    <% if blogsbyuser.count != 0 %>
      <h2>Articles by <%= @user.first_name %></h2>
      <ul>
        <% blogsbyuser.each do |blog| %>
          <li><%= link_to blog.title, blog_path(blog) %></li>
        <% end %>
      </ul>
    <% end %>
  </div> <!-- container -->
<% end %>




<% if @user == current_user %>
  <div class="container">
    <h2 class="mt-3 text-center color-pink display-2 font-script">My Tools</h2>
        <div class="row">
      <%= render "layouts/tools/tasks" %>
      <%= render "layouts/tools/recipes" %>
      <%= render "layouts/tools/meals" %>
      <%= render "layouts/tools/capsules" %>
      <%= render "layouts/tools/birthdays" %>
      <%= render "layouts/tools/gifts" %>
  	</div> <!-- row -->
  </div> <!-- container -->
<% end %>




<% if @user.bio %>
 <%= render partial: "layouts/biobox", locals: { user: @user, header: nil } %>
 <div class="buffer"></div>
<% else %>
    <h2 class="mt-3 text-center color-pink">- - <%= link_to 'Complete My Profile', edit_user_registration_path, class: "color-pink" %> - -</h2>
<% end %>




<%= content_for :additional_js do %>
  <script type="text/javascript">
    $(function() {
      $('.content-box').matchHeight();
      $('.text').matchHeight();
      $('.card').matchHeight();
      $('.view').matchHeight();
      $('.card-title').matchHeight();
      $('.card-text').matchHeight();
    	$('.mycard').matchHeight();
    });
  </script>
<% end %>
