<div class="header-frame frame" style="background-image: url(<%= asset_path "tools-for-homepage.jpg" %>)"><div class="image-overlay-white"><div class="inner-frame border-neutral"></div></div></div>
<div class="over-frame-text">
  <div class="container text-center">
    <% if @user.first_name %>
      <h1><%= @user.first_name %>'s Homepage</h1>
    <% else %>
      <h1>My Homepage</h1>
    <% end %>
    <h4><strong>Here's where you find all your personalized tools and goodies.</strong></h4>
    <% if @user.contributor && @user == current_user %>
      <h4><strong>(And all your contributor superpowers.)</strong></h4>
    <% end %>
    <% if @user.admin && @user == current_user %>
      <h3>
        <%= link_to 'Purchases', purchases_path %>  |  <%= link_to "Blogs", home_allblogs_path %>
      </h3>
    <% end %>
    <div class="half-buffer"></div>
    <h3><%= link_to 'Edit My Info', edit_user_registration_path %>  |  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %></h3>
  </div> <!-- container -->
</div> <!-- over-frame-text -->


<%= render "layouts/quadborder" %>
<div class="half-buffer"></div>

<div class="container">
  <%= render "users/purchased_downloadables" %>
</div> <!-- container -->


<% if current_user.admin && current_user == @user %>
  <div class="half-buffer"></div>
  <%= render "layouts/quadborder" %>
  <div class="half-buffer"></div>

  <div class="container"> <!-- admin stuff -->
		<h2 class="text-center font-script">Admin Stuff</h2>

		<div class="half-buffer"></div>

    <div class="row">
      <div class="col-sm-6 col-lg-4">
        <%= link_to users_path do %>
          <div id="subscribers" class="mycard padded">
            <h3 class="text-center">Subscribers</h3>
            <p>Total Subscribers: <%= @subscribers['total_subscribers'] %></p>
          </div>
        <% end %>
      </div>

  		<div class="col-sm-6 col-lg-4">
        <%= link_to users_path do %>
    			<div id="members" class="mycard padded">
    				<h3 class="text-center">Members</h3>
    				<p>Member Count: <%= @members.count - 1 %>
              <br />New Members (This Week): <%= @new_members.count %></p>
    			</div>
    		<% end %>
      </div>

      <div class="col-sm-6 col-lg-4">
        <%= link_to contributions_path do %>
          <div id="members" class="mycard padded">
            <h3 class="text-center">Guest Posts</h3>
            <p>
              Unread Guest Post Ideas: <%= @contributions.count %><br />
              Contributor Requests: <%= User.where(contributor: false, contributor_request: true).count %><br />
              Posts Awaiting Approval: <%= Blog.where(submitted: true, approved: false).count %>
            </p>
          </div>
        <% end %>
      </div>

      <div class="col-sm-6 col-lg-4">
        <%= link_to comments_path do %>
          <div id="members" class="mycard padded">
            <h3 class="text-center">Comments</h3>
            <p>Total Comments: <%= @comments.count %>
              <br />New Comments (This Week): <%= @new_comments.count %></p>
          </div>
        <% end %>
      </div>

      <div class="col-sm-6 col-lg-4">
        <%= link_to home_allblogs_path do %>
          <div id="members" class="mycard padded">
            <h3 class="text-center">Blog Posts</h3>
            <p>Published Posts: <%= Blog.where(published: true).count %>
              <br />Unpublished Posts: <%= Blog.where(published: false).count %></p>
          </div>
        <% end %>
      </div>

      <div class="col-sm-6 col-lg-4">
          <div id="members" class="mycard padded">
            <h3 class="text-center">Admin Only Pages</h3>
            <%= link_to "Blog Posts Index", home_allblogs_path %>
            <%= link_to "Subcategories Index", subcategories_path %>
          </div>
      </div>
  </div> <!-- row -->

  </div> <!-- container -->
<% end %>


<% if @user == current_user && @user.contributor %>
  <div class="half-buffer"></div>
  <%= render "layouts/quadborder" %>
  <div class="half-buffer"></div>

  <div class="container">
    <h2 class="text-center font-script">My Contributor Area</h2>
    <div class="text-center">
      <%= link_to "Start a New Blog Post", new_blog_path, class: "btn btn-outline-danger" %>
    </div> <!-- text center -->
    <div class="half-buffer"></div>
    <div class="row">
      <div class="col-lg-6">
        <h3>My WIP Posts</h3>
          <% @wip_posts = @user.blogs.where(published: false, submitted: false, approved: false) %>
          <% if @wip_posts != [] %>
            <ul>
              <% @wip_posts.each do |blog| %>
                <li><%= link_to blog.title, blog_path(blog) %></li>
              <% end %>
            </ul>
          <% else %>
            <p>You currently don't have any WIP posts.</p>
          <% end %>
      </div> <!-- col -->

      <div class="col-lg-6">
        <h3>My Submitted Posts</h3>
          <% @submitted_posts = @user.blogs.where(published: false, submitted: true, approved: false) %>
          <% if @submitted_posts != [] %>
            <ul>
              <% @submitted_posts.each do |blog| %>
                <li><%= link_to blog.title, blog_path(blog) %></li>
              <% end %>
            </ul>
          <% else %>
            <p>You currently don't have any submitted posts.</p>
          <% end %>
      </div> <!-- col -->

      <div class="col-lg-6">
        <h3>My Approved Posts</h3>
        <% @approved_posts = @user.blogs.where(published: false, submitted: true, approved: true) %>
        <% if @approved_posts != [] %>
          <ul>
            <% @approved_posts.each do |blog| %>
              <li><%= link_to blog.title, blog_path(blog) %></li>
            <% end %>
          </ul>
        <% else %>
          <p>You currently don't have any published posts.</p>
        <% end %>
      </div> <!-- col -->

      <div class="col-lg-6">
        <h3>My Published Posts</h3>
        <% @published_posts = @user.blogs.where(published: true) %>
        <% if @published_posts != [] %>
          <ul>
            <% @published_posts.each do |blog| %>
              <li><%= link_to blog.title, blog_path(blog) %></li>
            <% end %>
          </ul>
        <% else %>
          <p>You currently don't have any published posts.</p>
        <% end %>
      </div> <!-- col -->

    </div> <!-- row -->
  </div> <!-- container -->
<% end %>


<div class="half-buffer"></div>
<%= render "layouts/quadborder" %>
<div class="half-buffer"></div>

<% if @user == current_user %>
  <div class="container">
    <h2 class="text-center font-script">My Tools</h2>
    <div class="half-buffer"></div>
    <div class="row">
      <%= render "layouts/tools/tasks" %>
      <%= render "layouts/tools/recipes" %>
      <%= render "layouts/tools/meals" %>
      <%= render "layouts/tools/capsules" %>
      <%= render "layouts/tools/birthdays" %>
      <%= render "layouts/tools/gifts" %>
  	</div> <!-- row -->
  </div> <!-- container -->
<% end %>



<div class="half-buffer"></div>

<% if current_user.bio %>
 <%= render partial: "layouts/biobox", locals: { user: current_user, header: nil } %>
 <div class="buffer"></div>
<% elsif current_user == @user %>
  <div class="half-buffer"></div>
  <h2 class="text-center color-spouse">- - <%= link_to 'Complete My Profile', edit_user_registration_path, class: "color-spouse" %> - -</h2>
<% end %>




<%= content_for :additional_js do %>
  <script type="text/javascript">
    $(function() {
      $('.content-box').matchHeight();
      $('.text').matchHeight();
      $('.card').matchHeight();
      $('.view').matchHeight();
      $('.card-title').matchHeight();
      $('.card-text').matchHeight();
    	$('.mycard').matchHeight();
    });
  </script>
<% end %>
