<div class="col-12 col-lg-4">
  <div class="card hoverable mb-4 w-100">
    <div class="card-body">
      <div class="row align-items-center">
        <div class="col-12 col-md-4 col-lg-12 px-0">
          <% if variation.image.attached? %>
            <%= image_tag rails_blob_url(variation.image), class: "image-fluid", style: "max-width: 100%; max-height: 250px" %>
          <% end %>
        </div>
        <div class="col-12 col-md-8 col-lg-12">
          <h3 class="font-weight-bold mb-0">
            <%= variation.name %>
          </h3>
          <p style="line-height: 1"><em><small><%= variation.short_description %></small></em></p>
          <p class="mb-0"><%= variation.description %></p>
          <p class="color-spouse" style="line-height: 1"><small><%= variation.subcategories %></small></p>
          <% if !variation.link_instead && variation.downloadable_file.attached? %>
            <a href="<%= rails_blob_url(variation.downloadable_file) %>" target="_blank" class="btn btn-spouse">Download</a>
          <% else %>
            <a href="<%= variation.link_url %>" target="_blank" class="btn btn-spouse">Get It Now</a>
          <% end %>
        </div>
      </div>
    </div> <!-- col -->
  </div> <!-- card -->
</div> <!-- big col -->
