
<%= simple_form_for(@purchase) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs row">
    <div class="form-group col-sm-6">
      <%= f.label "Your Information" %>
      <%= f.text_field :first_name, required: true, placeholder: "First Name", class: "form-control" %><br />
      <%= f.text_field :last_name, required: true, placeholder: "Last Name", class: "form-control" %><br />
      <%= f.text_field :email, required: true, value: current_user.email, class: "form-control" %><br />
      <%= f.text_field :phone, placeholder: "Phone Number (Issues Only)", class: "form-control" %><br />
    </div>
    <div class="form-group col-sm-6">
      <%= f.label "Address" %>
      <%= f.text_field :shipping_1, required: true, placeholder: "Address Line 1", class: "form-control" %>
      <%= f.text_field :shipping_2, placeholder: "Address Line 2", class: "form-control" %>
      <%= f.text_field :shipping_city, required: true, placeholder: "City", class: "form-control" %>
      <%= f.text_field :shipping_state, required: true, placeholder: "State", class: "form-control" %>
      <%= f.text_field :shipping_zip,required: true,  placeholder: "Zip Code", class: "form-control" %>
      <%= f.text_field :shipping_country, placeholder: "Country", class: "form-control" %>
    </div>


    <%= f.hidden_field :total, value: current_basket.subtotal %>
    <%= f.hidden_field :basket_id, value: current_basket.id %>
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="form-actions text-center">
    <%= f.submit "Go to Payment", class: "btn btn-spouse" %>
  </div>
<% end %>
