
<%= simple_form_for(@purchase) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs row">
    <div class="col-12">
      <h4 class="color-spouse font-weight-bold border-bottom-spouse mb-3">Your Information</h4>
    </div> <!-- col -->
    <div class="col-sm-6 mb-2">
      <%= f.text_field :first_name, required: true, placeholder: "First Name", class: "form-control" %>
    </div> <!-- col -->
    <div class="col-sm-6 mb-2">
      <%= f.text_field :last_name, placeholder: "Last Name", class: "form-control" %>
    </div> <!-- col -->
    <div class="col-sm-6 mb-2">
      <%= f.text_field :email, required: true, value: current_user.email, class: "form-control" %>
    </div> <!-- col -->
    <div class="col-sm-6 mb-2">
      <%= f.text_field :phone, placeholder: "Phone Number (Issues Only)", class: "form-control" %>
    </div>

    <div class="col-12 mt-4">
      <h4 class="color-spouse font-weight-bold border-bottom-spouse mb-3">Address (For Physical Products...because Shipping)</h4>
    </div> <!-- col -->
    <div class="col-lg-6 mb-2">
      <%= f.text_field :shipping_1, placeholder: "Address Line 1", class: "form-control" %>
    </div> <!-- col -->
    <div class="col-lg-6 mb-2">
      <%= f.text_field :shipping_2, placeholder: "Address Line 2", class: "form-control" %>
    </div> <!-- col -->
    <div class="col-sm-4 mb-2">
      <%= f.text_field :shipping_city, placeholder: "City", class: "form-control" %>
    </div> <!-- col -->
    <div class="col-sm-2 mb-2">
      <%= f.text_field :shipping_state, placeholder: "State", class: "form-control" %>
    </div> <!-- col -->
    <div class="col-sm-3 mb-2">
      <%= f.text_field :shipping_zip, placeholder: "Zip Code", class: "form-control" %>
    </div> <!-- col -->
    <div class="col-sm-3 mb-2">
      <%= f.text_field :shipping_country, placeholder: "Country", class: "form-control" %>
    </div> <!-- col -->


    <%= f.hidden_field :total, value: current_basket.subtotal %>
    <%= f.hidden_field :basket_id, value: current_basket.id %>
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>


  <div class="form-actions text-center">
    <%= f.button :button, "Next", type: "submit", name: "purchase_id", value: @purchase.id, class: "btn btn-spouse" %>
  </div>
<% end %>
