<div class="container-fluid px-5 table-responsive">
  <h1 class="text-center">All Purchases</h1>
    <table id="purchasesTable" class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Date</th>
        <th>Customer</th>
        <th>Address</th>
        <th>Contact Info</th>
        <th>Purchase Info</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @purchases.each do |purchase| %>
        <tr>
          <td><%= purchase.id %></td>
          <td><%= purchase.created_at.in_time_zone("America/Los_Angeles").strftime("%-m/%-d/%y") %></td>
          <td>
            <%= link_to user_path(purchase.user_id) do %>
              <strong class="color-self"><%= purchase.first_name %> <%= purchase.last_name %></strong><br />
            <% end %>
          </td>
          <td>
            <%= purchase.shipping_1 %><br />
            <% if purchase.shipping_2 != "" %><%= purchase.shipping_2 %><br /><% end %>
            <%= purchase.shipping_city %>, <%= purchase.shipping_state %> &nbsp;<%= purchase.shipping_zip %><br />
            <%= purchase.shipping_country %>
          </td>

          <td>
            <%= mail_to purchase.email, purchase.email, class: "color-self" %><br />
            <%= purchase.phone %>
          </td>

          <td>
            <strong><%= number_to_currency(purchase.total, unit: "$") %> Total (<%= BasketStatus.where(id: purchase.basket.basket_status_id).first.name %>)</strong>
            <ul>
              <% purchase.basket.basket_items.each do |i| %>
                <% Basket.find(purchase.basket_id).basket_items.each do |item| %>
                  <% if Variation.where(id: item.variation_id).count != 0 %>
                    <% variation = Variation.find(item.variation_id) %>
                    <li><%= variation.name %> (<%= number_to_currency(variation.price, unit: "$") %>)</li>
                  <% end %>
                <% end %>
              <% end %>
            </ul>
          </td>

          <td><%= link_to 'Show', purchase %><br />
            <%= link_to 'Edit', edit_purchase_path(purchase) %><br />
            <%= link_to 'Destroy', purchase, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>



</div>





<%= content_for :additional_js do %>
  <script type="text/javascript">
    $(document).ready(function () {
      $('#purchasesTable').DataTable({
        "aaSorting": [],
        columnDefs: [{
        orderable: false,
        targets: 3
        }]
      });
      $('.dataTables_length').addClass('bs-select');
    });
  </script>
<% end %>
