<div class="container">
  <h1 class="text-center font-script">All Purchases</h1>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Customer</th>
        <th>Contact Info</th>
        <th>Purchase Info</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @purchases.each do |purchase| %>
        <tr>
          <td> <%= purchase.id %></td>
          <td>
            <%= link_to user_path(purchase.user_id) do %>
              <strong class="color-self"><%= purchase.first_name %> <%= purchase.last_name %></strong><br />
            <% end %>
            <%= purchase.shipping_1 %><br />
            <% if purchase.shipping_2 != "" %><%= purchase.shipping_2 %><br /><% end %>
            <%= purchase.shipping_city %>, <%= purchase.shipping_state %> &nbsp;<%= purchase.shipping_zip %><br />
            <%= purchase.shipping_country %>
          </td>
          <td>
            <%= mail_to purchase.email, purchase.email, class: "color-self" %><br />
            <%= purchase.phone %>
          </td>
          <td><strong><%= number_to_currency(purchase.total, unit: "$") %> Total (<%= BasketStatus.where(id: purchase.basket.basket_status_id).first.name %>)</strong>
            <ul>
              <% purchase.basket.basket_items.each do |i| %>
                <li><%= Variation.find(id: i.variation_id).name %> (<%= number_to_currency(Variation.where(id: i.variation_id).first.price, unit: "$") %>)</li>
              <% end %>
            </ul>
          </td>
          <td><%= link_to 'Show', purchase %><br />
            <%= link_to 'Edit', edit_purchase_path(purchase) %><br />
            <%= link_to 'Destroy', purchase, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>



</div>
