
<%= simple_form_for(@goody) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
  <div class="form-group">
    <%= f.label "Product Images" %><br />
    <%= f.file_field :images, multiple: true %>
  </div>
    <%= f.input :active %>
  </div>

  <div class="form-actions text-center">
    <%= f.submit "Let's Get it Poppin'", class: "btn btn-danger" %>
  </div>
<% end %>
