<nav aria-label="breadcrumb" class="nav-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active"><%= link_to "Goodies", goodies_path %></li>
    <li class="breadcrumb-item active"><%= @goody.name.pluralize(2) %></li>
  </ol>
</nav>

<div class="text-center">
  <% if current_user && current_user.admin %>
    <%= link_to 'Edit Product'.upcase, edit_goody_path(@goody) %>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <%= link_to 'Add Product Variation'.upcase, new_variation_path(goody: @goody) %>
    &nbsp;&nbsp;|&nbsp;&nbsp;
  <% end %>
  <%= link_to 'Back to Store'.upcase, goodies_path %>
</div> <!-- right -->

<div class="half-buffer"></div>

<div class="container">

  <div class="text-center">
    <h1 class="color-spouse font-script"><%= @goody.name.pluralize(2) %></h1>
    <p><%= @goody.description %></p>
    <% if !@goody.active %><p><em>Currently Inactive</em></p><% end %>
  </div> <!-- centered -->

</div> <!-- container -->



<div class="container">
<!-- Section: Products v.3 -->
<section class="text-center">

  <!-- <h2 class="h1-responsive font-weight-bold text-center my-5">Options</h2> -->

  <div class="row"> <!-- Grid row -->

    <% @goody.variations.order(id: :asc).each do |variation| %>
      <%= render partial: 'goodies/variation_card', locals: {variation: variation, order_item: @order_item} %>
    <% end %>
  </div>
  <!-- Grid row -->

</section> <!-- Section: Products v.3 -->

</div> <!-- container -->





<%= content_for :additional_js do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.view').matchHeight();
      $('.card-title').matchHeight();
      $('.card-body').matchHeight();
      $('.card').matchHeight();
    });
  </script>
<% end %>
