<div class="container">
  <table class="lined-table">
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.id %></td>
        <td>
          <span style="font-weight: 900"><%= link_to blog.title, blog_path(blog) %></span><br />
          <%= link_to blog.user.first_name + " " + blog.user.last_name, user_path(blog.user) %> (<% if blog.user.admin %>Admin<% elsif blog.user.contributor %>Contributor<% end %> of <%= Blog.where(user_id: blog.user.id, published: true).count %> / <%= Blog.where(user_id: blog.user.id).count %>)<br />
          <%= pluralize(blog.comments_count, "Comment") %>
        </td>
        <td>
          <% if blog.published %>
            <span style="font-weight: 900" class="color-spouse">Published</span>
          <% else %>
            <span style="font-weight: 900" class="color-self">Not Published</span>
          <% end %><br />
          Published On: <%= blog.published_on %><br />
          Submitted: <%= blog.submitted %><br />
          Approved: <%= blog.approved %>
        </td>
      </tr>
    <% end %>
  </table>
</div> <!-- container -->
