<!-- page-specific content -->
  <% title "House | SSM" %>
  <%= content_for :head do %>
    <meta name="description" content="Get help keeping your house clean, getting organized, and herding your dust bunnies towards extinction." />
  <% end %>
<!-- page-specific content -->

<h1 class="font-script text-center color-pink">Household Management</h1>
<div class="half-buffer"></div>


<div class="header-frame frame" style="background-image: url(https://staysanemom.s3-us-west-1.amazonaws.com/keep-house-clean.jpg)"><div class="image-overlay-white"><div class="inner-frame border-pink"></div></div></div>
<div class="over-frame-text convert-kit">
  <div class="container">
    <h1>Clean That House!</h1>
    <h3 class="text-center">No a tornado didn't hit, I just have kids.</h3>
    <div class="half-buffer"></div>
    <div class="text-center">
      <h4 class="text-center padded">Want 5 secret tips to get (and keep) your house&nbsp;clean?</h4>
      <a href="#convertkitPopup" class="open-popup-link btn my-btn-outline-secondary hero-button">Get My Free Tips</a>
    </div> <!-- text center -->
  </div> <!-- container -->
  <div class="over-frame-bottom-row">
    <div class="container">
      <div class="buffer"></div>
    </div> <!-- container -->
  </div> <!-- over-frame-bottom-row -->
</div> <!-- over-frame-text -->

<div class="half-buffer d-md-none"></div>

<div class="container">
  <div class="row text-center">
    <% @subcategories.each do |subcategory| %>
      <div class="view view-2 col-6 col-md-4 col-lg-3">
        <div class="sub-photo" style="margin-bottom: 15px; box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); padding: 3px">
          <%= link_to subcategory_path(subcategory) do %>
            <%= image_tag rails_blob_url(subcategory.image), class: "img-fluid" if subcategory.image.attached? %>
            <div class="mask flex-center waves-effect waves-light rgba-white-light">
              <h4 class="boldest color-black"><%= subcategory.name %></h4>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container text-center" style="padding: 10px; padding-bottom: 15px">
  <h3>
    <div id="resourcesClick" class="color-pink" style="display: inline-block">Resources</div>&nbsp&nbsp&nbsp|&nbsp&nbsp
    <div id="toolsClick" class="color-pink" style="display: inline-block">Tools</div>&nbsp&nbsp|&nbsp&nbsp
    <div id="blogsClick" class="color-pink" style="display: inline-block">Blogs</div>
  </h3>
</div>


<div class="bg-transparent-pink padded" id="resourcesDiv">
  <div class="container padded resource-stripe">
    <h2 class="text-center font-script">Free Household Resources</h2>
    <% if current_user %>

      <% Subcategory.where(category: "House").each do |subcategory| %>
        <h3><%= subcategory.name %></h3>

        <% Resource.where(active: true).each do |resource| %>
          <% resources_list = [] %>
          <% if resource.subcategory_ids.include? subcategory.id %>
            <% resources_list << resource %>
          <% end %> <!-- if include -->

          <% resources_list.each do |resource| %>
            <% if !resource.link_instead %>
                <%= link_to asset_path(resource.document, skip_pipeline: true), target: "_blank" do %><%= resource.title %><% end %><br />
            <% else %>
              <a href="<%= resource.link_url %>" target="_blank"><%= resource.title %></a><br />
            <% end %> <!-- if else -->
          <% end %> <!-- resource each -->
        <% end %> <!-- resource each -->
      <% end %> <!-- subcategories each -->

    <% else %>
      <h5 class="text-center">Create a free account for access to the free resource library.</h5>
      <div class="text-center padded">
        <%= link_to new_user_registration_path(source: @page_title.to_s) do %><button class="btn my-btn-outline-secondary">Create an Account</button><% end %>
        <%#= "Page Title: " + @page_title.to_s %>
         or
         <%= link_to new_user_session_path do %><button class="btn my-btn-outline-secondary">Log In</button><% end %>
      </div>
    <% end %>
  </div> <!-- container -->
</div> <!-- bg house -->

<div class="buffer"></div>

<div class="container" id="toolsDiv">
  <h2 class="text-center font-script">Household Management Tools</h2>
  <div class="row tools">
    <%= render "layouts/tools/tasks" %>
    <%= render "layouts/tools/recipes" %>
    <%= render "layouts/tools/birthdays" %>
    <%= render "layouts/tools/gifts" %>
  </div> <!-- tools row -->
</div> <!-- container -->

<div class="buffer"></div>

<h2 class="text-center font-script" id="blogsDiv">Household Management Blogs</h2>

<div class="half-buffer"></div>

<div class="row bg-transparent-pink">
  <div class="container">
    <div class="half-buffer"></div>
    <div class="row">
      <% @featured_blogs.each do |blog| %>
        <%= render partial: "layouts/mdbcard", locals: { blog: blog, color: "house" } %>
      <% end %>
    </div> <!-- row for cards -->
  </div> <!-- container -->
</div> <!-- featured row -->

<div class="half-buffer"></div>

<div class="container">
  <div class="row">
    <% @all_house_blogs.each do |blog| %>
      <%= render partial: "layouts/mdbcard", locals: { blog: blog, color: "house" } %>
    <% end %>
  </div> <!-- row -->
</div> <!-- container -->




<!-- form itself -->
<div id="convertkitPopup" class="white-popup mfp-hide">
  <script async data-uid="fcce48a626" src="https://f.convertkit.com/fcce48a626/999d19a7ee.js"></script>
</div>







<%= content_for :additional_js do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.card').matchHeight();
      $('.view').matchHeight();
      $('.view-2').matchHeight();
      $('.card-text').matchHeight();
      $('.sub-photo').matchHeight();
      $('.open-popup-link').magnificPopup({
        type:'inline',
        midClick: true // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
      });

      $('.hero-button').click(function() {
          ga('send', 'event', 'Subscription', 'Hero Button Subscription', 'House Category Subscription Box');
      });

      $("#resourcesClick").click(function() {
        $('html,body').animate({
            scrollTop: $("#resourcesDiv").offset().top -100 },
            'slow');
      });

      $("#toolsClick").click(function() {
        $('html,body').animate({
            scrollTop: $("#toolsDiv").offset().top -100 },
            'slow');
      });

      $("#blogsClick").click(function() {
        $('html,body').animate({
            scrollTop: $("#blogsDiv").offset().top -100 },
            'slow');
      });
    });
  </script>
<% end %>
