<!-- page-specific content -->
  <% title "House | SSM" %>
  <%= content_for :head do %>
    <meta name="description" content="Get help keeping your house clean, getting organized, and herding your dust bunnies towards extinction." />
  <% end %>
<!-- page-specific content -->

<h1 class="font-script text-center color-house">Household Management</h1>
<div class="half-buffer"></div>


<div class="header-frame frame" style="background-image: url(<%= asset_path "keep-house-clean.jpg" %>)"><div class="image-overlay-white"><div class="inner-frame border-house"></div></div></div>
<div class="over-frame-text convert-kit">
  <div class="container">
    <h1>Clean That House!</h1>
    <h3 class="text-center">No a tornado didn't hit, I just have kids.</h3>
    <div class="half-buffer"></div>
    <div class="text-center">
      <h4 class="text-center padded">Want 5 secret tips to get (and keep) your house&nbsp;clean?</h4>
      <a href="#convertkitPopup" class="open-popup-link btn my-btn-outline-secondary hero-button">Get My Free Tips</a>
    </div> <!-- text center -->
  </div> <!-- container -->
  <div class="over-frame-bottom-row">
    <div class="container">
      <div class="buffer"></div>
    </div> <!-- container -->
  </div> <!-- over-frame-bottom-row -->
</div> <!-- over-frame-text -->

<div class="half-buffer"></div>


<div class="bg-house padded">
  <div class="container padded resource-stripe">
    <h2 class="text-center font-script">Free Household Resources</h2>
    <% if current_user %>
      <% @subcategories.each do |subcategory| %>
        <% if Blog.where(subcategory_id: subcategory.id) != [] %>
          <h3><%= subcategory.name %></h3>
          <% Blog.where(subcategory_id: subcategory.id).each do |blog| %>
            <% if blog.freebie_type == "File" %>
              <%= link_to asset_path(blog.freebie_filename, skip_pipeline: true), target: "_blank" do %><%= blog.freebie_description %><% end %><br />
            <% else %>
              <a href="<%= blog.freebie_filename %>" target="_blank"><%= blog.freebie_description %></a><br />
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <h5 class="text-center">Create a free account for access to the free resource library.</h5>
      <div class="text-center padded">
        <%= link_to new_user_registration_path do %><button class="btn my-btn-outline-secondary">Create an Account</button><% end %>
         or
         <%= link_to new_user_session_path do %><button class="btn my-btn-outline-secondary">Log In</button><% end %>
      </div>
    <% end %>
  </div> <!-- container -->
</div> <!-- bg house -->

<div class="buffer"></div>

<div class="container">

  <div class="recent-blogs">
    <div class="">
      <h2 class="text-center">Most Popular Household Management Blogs</h2>
      <div class="row">
        <% @commented_blogs.each do |blog| %>
          <%= render partial: "layouts/blogcard2", locals: { blog: blog } %>
        <% end %>
      </div>
    </div> <!-- popular blogs third -->

    <div class="buffer"></div>

    <div class="">
      <h2 class="text-center">Newest Household Management Blogs</h2>
      <div class="row">
        <% @recent_blogs.each do |blog| %>
          <%= render partial: "layouts/blogcard2", locals: { blog: blog } %>
        <% end %>
      </div>
    </div> <!-- popular blogs third -->

  <div class="buffer"></div>

  <% if @other_blogs && @other_blogs.count > 0 %>
    <h2 class="text-center">Other Blogs on Household Management</h2>
    <% @other_blogs.each do |blog| %>
      <%= link_to blog, class: "weight-400 color-black color-neutral-hover" do %>
        <h3 class="color-house font-bold"><%= blog.title %></h3>
        <p><%= blog.teaser %>  <%= link_to blog do %><span class="color-neutral"><%= blog.cta_read_more + "..." %></span><% end %></p>
      <% end %>
    <% end %>
  <% end %>

</div> <!-- page container -->


<!-- form itself -->
<div id="convertkitPopup" class="white-popup mfp-hide">
  <script async data-uid="fcce48a626" src="https://f.convertkit.com/fcce48a626/999d19a7ee.js"></script>
</div>







<script>
  $(document).ready(function() {
    $('.blog-text').matchHeight();
    $('.blog-teaser').matchHeight();
    $('.blog-description').matchHeight();
    $('.blog-info').matchHeight();
    $('.open-popup-link').magnificPopup({
      type:'inline',
      midClick: true // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
    });
    $('.hero-button').click(function() {
        ga('send', 'event', 'Subscription', 'Hero Button Subscription', 'House Category Subscription Box');
    });
  });
</script>
