<!-- page-specific content -->
  <% title "The Stay Sane Mom" %>
  <%= content_for :head do %>
    <meta name="description" content="Helping overworked moms keep clean house, a healthy marriage, balanced kids, and stay sane on top of it all." />
  <% end %>
<!-- page-specific content -->

<div class="header-frame frame" style="background-image: url(<%= asset_path "stay_sane_mom.jpg" %>)" role="img" aria-label="Overwhelmed mom acting like she's tearing her hair out."><div class="image-overlay-white"><div class="inner-frame border-neutral"></div></div></div>

<div class="over-frame-text">
  <div class="container">
    <h1 class="color-black">Need more sanity?</h1>
    <h4 class="text-center">We help you master your domain,<br .>so you can be more than just "mom".</h4>
  </div> <!-- container -->
  <div class="over-frame-bottom-row">
    <div class="container">
      <div class="text-center">
        <div class="half-buffer"></div>
          <a class="btn my-btn-outline-secondary hero-button" data-formkit-toggle="cd10cef13b" href="https://pages.convertkit.com/2d8e722187/31069c0b92">Your Support System Awaits</a>
        <div class="buffer"></div>
      </div> <!-- text center -->
    </div> <!-- container -->
  </div> <!-- over-frame-text -->
</div> <!-- over-frame-text -->

<div class="padded bg-solid-spouse">
  <div class="container">
    <h2 class="text-center boldest d-lg-none">New! Custom designed planners for&nbsp;your&nbsp;crazy&nbsp;life!</h2>
    <div class="half-buffer d-none d-lg-block"></div>
    <div class="row">
      <div class="col-sm-3">
        <%= image_tag "your-name-here-planner.png", style: "max-width: 100%;" %>
      </div> <!-- small col -->
      <div class="col-sm-9">
        <h2 class="text-center boldest d-none d-lg-block">New! Custom designed planners for&nbsp;your&nbsp;crazy&nbsp;life!</h2>
        <div class="half-buffer d-none d-lg-block"></div>
        <h5>Can everything you do fit on the mundane pages of the average planner?</h5>
        <h5>Me neither.</h5>
        <h5>Get a planner that's designed 100% just for your specific brand of insanity.</h5>
        <div class="half-buffer d-none d-lg-block"></div>
        <h3 class="text-center d-none d-lg-block"><%= link_to "Design your custom planner now!", static_path(:planners), class: "boldest color-white" %></h3>
      </div> <!-- small col -->
    </div> <!-- row -->
    <h3 class="text-center d-lg-none"><%= link_to "Design your custom planner now!", static_path(:planners), class: "boldest color-white" %></h3>
  </div> <!-- container -->
</div> <!-- stripe bg -->


  <div class="container">

    <div class="category-callouts">
        <h2 class="text-center script-header">Get Help with Your...</h2>

        <div class="row">
            <div class="col-sm-6 col-lg-3"><div class="category-div border-house transparent-hover house card">
              <%= link_to home_house_path do %>
                <div class="frame category-frame" style="background-image: url(<%= asset_path "keep-house-clean.jpg" %>)"><div class=""></div></div>
                <div class="text">
                  <h3 class="color-house text-center">House</h3>
                  <p>Let's face it, we all wish we could keep a cleaner house.  No one likes coming home to laundry mountain and a dust bunny brigade.</p>
                  <p>Here you can learn how to keep the chaos at bay.</p>
                </div> <!-- text -->
                <h5 class="text-center"><%= link_to "Clean My House", home_house_path, class: "color-house" %></h5>
              <% end %>
            </div></div> <!-- category div / col div -->

            <div class="col-sm-6 col-lg-3"><div class="category-div border-spouse transparent-hover spouse">
              <%= link_to home_spouse_path do %>
              <div class="frame category-frame" style="background-image: url(<%= asset_path "keep_marriage_healthy.jpg" %>)"><div class=""></div></div>
              <div class="text">
                <h3 class="color-spouse text-center font-script">Spouse</h3>
                <p>It's hard to pay attention to your marriage when jobs, chores, obligations, and all these tiny humans keep demanding things of us.</p>
                <p>These tools should help you keep a healthy marriage in spite of everything else you have going on.</p>
              </div> <!-- text -->
              <h5 class="text-center"><%= link_to "Build My Marriage", home_spouse_path, class: "color-spouse" %></h5>
              <% end %>
            </div></div> <!-- category div / col div -->

            <div class="col-sm-6 col-lg-3"><div class="category-div border-kids transparent-hover kids">
              <%= link_to home_kids_path do %>
              <div class="frame category-frame" style="background-image: url(<%= asset_path "raise_balanced_happy_kids.jpg" %>)"><div class=""></div></div>
              <div class="text">
                <h3 class="color-kids text-center">Kids</h3>
                <p>Kids. Progeny. Tiny bulldozers that terrorize your (previously-clean) house and leave nothing but mayhem in their wake.</p>
                <p>Here are your resources to raise balanced, happy, well-rounded kids without driving yourself crazy.</p>
              </div> <!-- text -->
              <h5 class="text-center"><%= link_to "Raise Happy Kids", home_kids_path, class: "color-kids" %></h5>
              <% end %>
            </div></div> <!-- category div / col div -->

            <div class="col-sm-6 col-lg-3 "><div class="category-div border-self transparent-hover neutral">
              <%= link_to home_self_path do %>
              <div class="frame category-frame" style="background-image: url(<%= asset_path "take-care-of-yourself.jpg" %>)"><div class=""></div></div>
              <div class="text">
                <h3 class="color-self text-center">Self</h3>
                <p>You wear many different hats throughout the course of the day. (Mom, chauffeur, executive assistant, chef, the list goes on...)  However, you are (believe it or not) also allowed to take care of yourself as a person.</p>
                <p>This section is for you if you're having trouble remembering who you were before you were "Mom".</p>
              </div> <!-- text -->
              <h5 class="text-center"><%= link_to "Stay Sane", home_self_path, class: "color-self" %></h5>
              <% end %>
            </div></div> <!-- category div / col div -->
        </div> <!-- row -->
    </div> <!-- category callouts -->
</div> <!-- container -->




<div class="about-me bg-neutral">
  <div class="container" style="padding: 0px 0 20px 0">
    <h2 class="text-center script-header" style="padding-top: 20px">About Me</h2>
    <div class="row">
      <div class="col-sm-4 text-center">
        <%= image_tag "liz-bayardelle-stay-sane-mom.jpg", class: "rounded-image" %>
      </div> <!-- col -->
      <div class="col-sm-8" style="padding: 0 30px 0 30px">
        <p>Hello there!  My name is Liz, but I also answer to "Hey Honey?", "Mom", or (more often) "Mom Mom Mom MAHM!".</p>
        <p>I'm the wife to an amazing man and mom to a preteen stepdaughter (and Instagram aficionado), a sparkle-clad toddlernado, two large canine furkids, a bunny of unusual size, and (if I don't vacuum daily) a herd of dustbunnies. My alterego by night is a PhD candidate, freelance consultant, web developer, and graphic designer, workout nut, entrepreneur, writer, and avid bookworm.</p>
        <h5><%= link_to "More About the Stay Sane Mom...", static_path(:AboutMe) %></h5>
      </div> <!-- col -->
    </div> <!-- row -->
  </div> <!-- container -->
</div> <!-- about me -->




<div class="buffer"></div>




<div class="container small-boxes">

  <h3 class="text-center">Most Popular Blogs</h3>
  <div class="row">
    <% @commented_blogs.each do |blog| %>
      <%= render partial: "layouts/mdbcard", locals: { blog: blog, color: blog.category.downcase } %>
    <% end %>
  </div> <!-- row -->
  <h5 class="text-center"><%= link_to "See " + (@all_blogs.count - 3).to_s + " More Posts...", blogs_path, class: "font-script" %></h5>
  <div class="half-buffer"></div>

  <h3 class="text-center">Popular Tools</h3>
  <div class="row">
    <%= render "layouts/tools/tasks" %>
    <%= render "layouts/tools/recipes" %>
    <%= render "layouts/tools/meals" %>
    <%= render "layouts/tools/capsules" %>
    <%= render "layouts/tools/birthdays" %>
    <%= render "layouts/tools/gifts" %>
  </div> <!-- row -->
  <div class="half-buffer"></div>


  <h3 class="text-center">Newest Blogs</h3>
  <div class="row">
    <% @recent_blogs.each do |blog| %>
      <%= render partial: "layouts/mdbcard", locals: { blog: blog, color: blog.category.downcase } %>
    <% end %>
  </div> <!-- row -->
  <h5 class="text-center"><%= link_to "See Older Posts...", blogs_path, class: "font-script" %></h5>
  <div class="half-buffer"></div>

</div> <!-- what's new container -->








<div class="container text-center">
  <h2 class="text-center font-script">Get Your Read On</h2>
  <div class="d-none d-md-block">
    <iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=13&l=ez&f=ifr&linkID=526f15239e6428e05b1f619edab282e1&t=thestaysane00-20&tracking_id=thestaysane00-20" width="468" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
  </div>
  <div class="d-block d-md-none">
    <iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=12&l=ez&f=ifr&linkID=3a935daae9cd59d53948557f9d763e70&t=thestaysane00-20&tracking_id=thestaysane00-20" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
  </div>
</div> <!-- container -->



  <!-- form itself -->
  <div id="convertkitPopup" class="white-popup mfp-hide">
    <script async data-uid="fcce48a626" src="https://f.convertkit.com/fcce48a626/999d19a7ee.js"></script>
  </div>




<%= content_for :additional_js do %>
  <script type="text/javascript">
    $(document).ready(function() {
        $('.height').matchHeight();
        $('.category-div').matchHeight();
        $('.card').matchHeight();
        $('.view').matchHeight();
        $('.card-title').matchHeight();
        $('.card-text').matchHeight();
        $('.open-popup-link').magnificPopup({
          type:'inline',
          midClick: true // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
        });
        $('.hero-button').click(function() {
            ga('send', 'event', 'Subscription', 'Hero Button Subscription', 'Homepage Hero Button Subscription');
        });
      });
  </script>
<% end %>
