<main id="homepage">

    <!-- Mashead header-->
    <header class="masthead texture-paint">
        <div class="container px-xl-5">
            <div class="row gx-5 p-md-0 align-items-center">
                <div class="col-12 text-center mb-5">
                    <h1 class="display-1 lh-1">Feel like you're going&nbsp;crazy?</h1>
                </div>
                <div class="col-md-6">
                    <div class="mb-5 mb-lg-0 text-left p-4 bg-white tilt-left no-tilt-sm z-depth-2">
                        <p class="h4 text-center ps-2 mb-4">
                            There are only three things you&nbsp;need&nbsp;to&nbsp;know.
                        </p>
                        <p class="h4 thin ps-2 mb-4">
                            1. You are not alone.
                        </p>
                        <p class="h4 thin ps-2 mb-4">
                            2. You still have an identity.
                        </p>
                        <p class="h4 thin ps-2 mb-0 pb-0">
                            3. You are <span class="color-pink font-script h1 pb-0 mb-0" style="line-height: .5">not</span> a bad mom for feeling this way.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <img class="match-height classy-pic tilt-right" src="https://staysanemom.s3.us-west-1.amazonaws.com/111-images/screaming-mom.jpg" class="w-100">
                </div>
                <div class="col-12 text-center">
                    <%= link_to "Get Support", page_path("support"), class: "btn btn-pink btn-lg mt-5" %>
                </div>
            </div>
        </div>
    </header>


    <!-- as seen on -->
    <section id="as-seen-on" class="bg-white text-center row py-5 z-depth-3-y z-over">
        <div class="col-12">
          <h2 class="">As Seen On</h2>
        </div>
        <div class="col-12 pt-2 pb-4">
          <a href="https://www.scarymommy.com/losing-mom-even-harder-when-youre-mom-too/" rel="nofollow" title="Scary Mommy">
            <img src="https://3a60h1vxk0ezoe7oqzr8fl8l-wpengine.netdna-ssl.com/wp-content/uploads/2015/08/SM_logo_transparent_PNG.jpg" alt="Scary Mommy" style="height: 35px; padding-bottom: 5px; display: inline-block;" />
          </a>
          <a href="https://filterfreeparents.com/author/elizabeth-bayardelle/" rel="nofollow" title="Filter Free parents">
            <%= image_tag "FFPLogo.png", alt: "Filter Free Parents", style: "height: 40px; display: inline-block;" %>
          </a>
          <a href="https://www.sammichespsychmeds.com/how-i-survived-my-first-thousand-repetitions-of-baby-shark-7-rules-for-toddler-moms/" rel="nofollow" title="Sammiches & Psych Meds">
            <%= image_tag "SPMLogo.png", alt: "Sammiches & Psych Meds", style: "height: 40px; margin-right: 30px; display: inline-block;" %>
          </a>
          <a href="https://www.imperfectlyperfectmama.com/author/liz-bayardelle/" rel="nofollow" title="Imperfectly Perfect Mama">
            <%= image_tag "IPMLogo.svg", alt: "Imperfectly Perfect Mama", style: "height: 40px; padding-bottom: 5px; display: inline-block;" %>
          </a>
        </div> <!-- col -->
    </section> <!-- as seen on -->








    <!-- Hero Story -->
    <section class="z-under texture-crumpled-paper py-5">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-12">
                    <h2 class="display-4 lh-1 mb-4">
                        You are the glue that holds everything&nbsp;together...
                    </h2>
                    <h2 class="display-4 lh-1 mb-4 text-right">
                        ...everything except you.
                    </h2>
                </div>
                <div class="col-12 col-lg-6">
                    <p class="lead color-neutral mb-3">
                        You used to be a real human being with a grown up job and a fancy degree.  You had thoughts, goals, dreams, ambitions, and sometimes you even went to the bathroom by yourself.
                    </p>
                    <p class="lead color-neutral mb-3">
                        ...and then kids.
                    </p>
                    <p class="lead color-neutral mb-3">
                        Kids you love more than anything in the world.  Kids that drive you absolutely batty.  Kids you would gladly die for.  Yeah, those kids.
                    </p>
                    <p class="lead fw-normal color-neutral mb-3">
                        Despite your ridiculous, mamma-bear love for your family, you still feel overwhelmed, exhausted, lost, disorganized, emotionally-frazzled, and unexplainably sad a large portion of the time.
                    </p>
                    <p class="lead fw-normal color-neutral mb-5">
                        You love your role as mom, but wouldn't it be nice if someone was there to support <span class="color-pink font-script h2 pb-0 mb-0" style="line-height: .5">you</span>?
                    </p>
                    <div class="text-center">
                        <div class="btn btn-neutral btn-lg me-3">
                            Why Do I Feel Crazy?
                        </div>
                        <%= link_to "Get Support", page_path("support"), class: "btn btn-pink btn-lg mt-5" %>
                    </div>
                </div>
                <div class="col-sm-8 col-lg-6 mt-5 text-center">
                    <img class="classy-pic tilt-right w-md-75" src="https://staysanemom.s3.us-west-1.amazonaws.com/111-images/mom-baby-laptop.jpeg" class="w-100">
                    <img class="classy-pic tilt-left extra w-md-75" src="https://staysanemom.s3.us-west-1.amazonaws.com/111-images/mom-kid-cookies.jpeg" class="w-100">
                    <img class="classy-pic tilt-right w-md-75" src="https://staysanemom.s3.us-west-1.amazonaws.com/111-images/mom-teen-water.jpeg" class="w-100">
                </div>
            </div>
        </div>
    </section>






    <!-- App features section-->
    <section id="features" class="bg-white z-depth-2-y z-over py-5">
        <div class="container text-center w-100">
            <h2 class="display-4 lh-1 mb-4">
                How do we help you get&nbsp;(or&nbsp;stay)&nbsp;sane?
            </h2>
        </div>
        <div class="container px-5">
            <div class="row gx-5 align-items-center">

                <div class="col-lg-8 order-lg-1 mb-5 mb-lg-0">
                    <div class="container-fluid px-5">
                        <div class="row gx-5">
                            <div class="col-md-6 mb-5">
                                <!-- Feature item-->
                                <div class="text-center">
                                    <h3 class="font-alt">Help On Your Schedule</h3>
                                    <p class="text-muted lh-sm mb-3">
                                        Sometimes you need answers while breastfeeding&nbsp;at&nbsp;3am.
                                    </p>
                                    <p class="text-muted lh-sm mb-0">                                    
                                        Moms don't keep normal hours.  Neither&nbsp;do&nbsp;we.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6 mb-5">
                                <!-- Feature item-->
                                <div class="text-center">
                                    <h3 class="font-alt">Quick Realistic Fixes</h3>
                                    <p class="text-muted lh-sm mb-3">
                                        You don't have time for hours of self-care or packets&nbsp;of&nbsp;worksheets.
                                    </p>
                                    <p class="text-muted lh-sm mb-0">                                    
                                        We get you what you need with short, targeted fixes&nbsp;and&nbsp;solutions.
                                    </p>                                    
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-5 mb-md-0">
                                <!-- Feature item-->
                                <div class="text-center">
                                    <h3 class="font-alt">Actual Human Contact</h3>
                                    <p class="text-muted lh-sm mb-3">
                                        Being a mom is freaking lonely.  You're never alone, but kids are not the same thing as social&nbsp;support.
                                    </p>
                                    <p class="text-muted lh-sm mb-0">                                    
                                        Here you get a dose of real-life, highly-sarcastic, adult banter with moms who have been where&nbsp;you&nbsp;are.
                                    </p>                                    
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- Feature item-->
                                <div class="text-center">
                                    <h3 class="font-alt">We Actually Get&nbsp;It (And&nbsp;You)</h3>
                                    <p class="text-muted lh-sm mb-3">
                                        You can't explain a mom's primal, contradictory, and emotionally-charged experience to a non-parent without sounding&nbsp;nuts.
                                    </p>
                                    <p class="text-muted lh-sm mb-0">                                    
                                        Don't worry.  We're moms too.  We get it.  No&nbsp;judgement, just&nbsp;support.
                                    </p>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 order-lg-0">
                    <img class="classy-pic tilt-left extra w-md-75" src="https://staysanemom.s3.us-west-1.amazonaws.com/111-images/women-talking.jpeg" class="w-100">
                    <img class="classy-pic tilt-right extra w-md-75" src="https://staysanemom.s3.us-west-1.amazonaws.com/111-images/woman-computer-planner.jpeg" class="w-100">
                </div>
            </div>
        </div>
    </section>






    <!--  background picture tbd -->
    <section class="texture-hands z-under">
        <div class="texture-hands-content">
            <div class="container z-over text-center px-5">
                <h2 class="text-black display-1 lh-1 mb-4">
                    Your feelings, our solutions.
                </h2>
                <a class="btn btn-outline-black py-3 px-4 rounded-pill" target="_blank">
                    I feel overwhelmed.
                </a>
                <a class="btn btn-outline-black py-3 px-4 rounded-pill" target="_blank">
                    I feel exhausted.
                </a>
                <a class="btn btn-outline-black py-3 px-4 rounded-pill" target="_blank">
                    I feel depressed.
                </a>
                <a class="btn btn-outline-black py-3 px-4 rounded-pill" target="_blank">
                    I feel disorganized.
                </a>
                <a class="btn btn-outline-black py-3 px-4 rounded-pill" target="_blank">
                    I feel lost.
                </a>
                <a class="btn btn-outline-black py-3 px-4 rounded-pill" target="_blank">
                    I need purpose.
                </a>
                <a class="btn btn-outline-black py-3 px-4 rounded-pill" target="_blank">
                    I need more time.
                </a>
            </div>
        </div>
    </section>




  <section id="how-we-help" class="bg-white z-depth-3-y z-over text-center py-5">
    <div class="container">
        <h2 class="display-2 lh-1">
          How We Help
        </h2>

        <p class="w-responsive mx-auto mb-5">
          We can't come watch your kids for you.  Or clean your house.  
          <br>
          But we do have two easy ways to make your life better.
        </p>

        <div class="row text-center">
            <div class="col-md-6 gx-5 pb-5">
                <img class="classy-pic w-75 mb-4" src="https://staysanemom.s3.us-west-1.amazonaws.com/111-images/Skeleton.jpeg" class="w-100">
                <p class="uppercase thin mb-0">Step One</p>
                <h3 class="color-pink font-script display-1">Quick Fixes</h3>
                <div class="step-text-box">
                    <p class="lh-sm">
                        Are you in a pinch?  Need something in the&nbsp;next&nbsp;15&nbsp;seconds.
                    </p>
                    <p class="lh-sm">
                        We've got your back...whether it's a homework organizer for the 7th grader, a tantrum survival guide for the toddler, or a financial tracker for your&nbsp;high&nbsp;schooler.
                    </p>
                </div> <!-- step text box -->
                <%= link_to "Hit Me", freebies_path, class: "btn btn-pink" %>
            </div>

            <div class="col-md-6 gx-5 pb-5">
                <img class="classy-pic w-75 mb-4" src="https://staysanemom.s3.us-west-1.amazonaws.com/111-images/family-sunglasses.jpeg" class="w-100">
                <p class="uppercase thin mb-0">Step Two</p>
                <h3 class="color-pink font-script display-1">Actual Solutions</h3>
                <div class="step-text-box">
                    <p class="lh-sm">
                        As you may have discovered (the hard way) not everything can be fixed in under&nbsp;10&nbsp;minutes.
                    </p>
                    <p>
                        These bad boys are the deep-dive, getting at the root of the problem, no punches pulled kind of solutions.  Because there are only two ways of doing things: right&nbsp;and&nbsp;again.
                    </p>
                </div> <!-- step text box -->
                <%= link_to "Let's Go", solutions_path, class: "btn btn-pink" %>
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
  </section>





    <section class="z-under py-5">
        <div class="container text-center px-md-5">
            <h2 class="display-1 lh-1 mb-4">
                What do you know about&nbsp;sanity?
            </h2>
            <div class="row align-items-center">
                <div class="col-lg-8 order-lg-1 mb-5 mb-lg-0">
                    <div class="container-fluid px-md-5">
                        <div class="tilted-card">
                            <h4 class="lh-1 h2 font-script color-pink">
                              Hi&nbsp;I'm&nbsp;Mom... I&nbsp;mean&nbsp;Liz.
                            </h4>
                            <p>
                              Welcome to <em>The Stay Sane Mom</em>! My name is Liz and I'm the mom to a teenage stepdaughter (and TikTok aficionado), a sparkle-clad kidnado, a newly-toddler boy (and professional raccoon noise impersonator), two large canine furkids, and (if I don't vacuum daily) a herd of irascible dustbunnies.
                            </p>
                            <p>
                              My "nights and naptimes" alterego is an author, freelance digital consultant, workout nut, avid bookworm, and has a PhD in Business Psychology.
                            </p>
                            <p>
                              Oh yeah, I'm also the founder of <em>The Stay Sane Mom</em>.
                            </p>
                            <p>
                              I started this site when I first became a mom and realized that the crazy-ridiculous-overwhelming love you have for your kids doesn't erase your desire to have your own identity, career, achievements, goals, or life outside of being "mom".
                            </p>
                            <p>
                                I adore my kids and wouldn't trade my time with them for anything, but that just meant there was even <em>more</em> tension when "mom-Liz" and "career-Liz" did battle in my brain.
                            </p>
                            <p>
                                It took me a long time to begin wrapping my head around how to be both people at once (without exploding) and some days I still don't have it all figured out.
                            </p>
                            <p>
                                Some days the only thing that kept me sane(ish) was having a community of other moms who had the same crazy problems I did, so that's what I hope to build here.  A community of moms who can reassure you that you're not alone in what you're going through and you're not crazy for how you're feeling.
                            </p>
                            <h4 class="h3 text-center font-script color-pink">
                              Stay Sane(ish), Liz
                            </h4>
                        </div> <!-- tilted-card -->
                    </div>
                </div>
                <div class="col-lg-4 order-lg-0">
                    <div class="row">
                        <div class="col-12 w-75 col-sm-4 col-md-12"><img class="classy-pic tilt-left extra w-100 w-md-75" src="https://staysanemom.s3.us-west-1.amazonaws.com/111-images/Natalie.jpeg" class="w-100"></div>
                        <div class="col-12 w-75 col-sm-4 col-md-12"><img class="classy-pic tilt-right extra w-100 w-md-75" src="https://staysanemom.s3.us-west-1.amazonaws.com/111-images/Kids.jpeg" class="w-100"></div>
                        <div class="col-12 w-75 col-sm-4 col-md-12"><img class="classy-pic tilt-left extra w-100 w-md-75" src="https://staysanemom.s3.us-west-1.amazonaws.com/111-images/Tyson.jpeg" class="w-100"></div>
                    </div>
                </div>
            </div> <!-- row -->
        </div>
    </section>






<%= content_for :additional_js do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.match-height').matchHeight();
      $('.step-text-box').matchHeight();
    });
  </script>
<% end %>


</main>