<div class="frame" style="background-image: url(<%= asset_path "stay_sane_mom.jpg" %>)"></div>

  <div class="container">

    <div class="category-callouts">
        <h2 class="text-center script-header">Get Help with Your...</h2>

        <div class="row">
            <div class="col-sm-6 col-lg-3"><div class="category-div border-house transparent-hover house">
              <%= link_to home_house_path do %>
              <div class="frame category-frame" style="background-image: url(<%= asset_path "keep_house_clean.jpg" %>)"></div>
              <div class="text">
                <h3 class="color-house text-center">House</h3>
                <p>Let's face it, we all wish we could keep a cleaner house.  No one likes coming home to laundry mountain and a dust bunny brigade.</p>
                <p>Here you can learn how to keep the chaos at bay.</p>
              </div> <!-- text -->
              <h5 class="text-center"><%= link_to "Get a Cleaner House", home_house_path, class: "color-house" %></h5>
              <% end %>
            </div></div> <!-- category div / col div -->

            <div class="col-sm-6 col-lg-3"><div class="category-div border-spouse transparent-hover spouse">
              <%= link_to home_spouse_path do %>
              <div class="frame category-frame" style="background-image: url(<%= asset_path "keep_marriage_healthy.jpg" %>)"></div>
              <div class="text">
                <h3 class="color-spouse text-center">Spouse</h3>
                <p>It's hard to pay attention to your marriage when jobs, chores, obligations, and all these tiny humans keep demanding things of us.</p>
                <p>These tools should help you keep a healthy marriage in spite of everything else you have going on.</p>
              </div> <!-- text -->
              <h5 class="text-center"><%= link_to "Build Your Marriage", home_spouse_path, class: "color-spouse" %></h5>
              <% end %>
            </div></div> <!-- category div / col div -->

            <div class="col-sm-6 col-lg-3"><div class="category-div border-kids transparent-hover kids">
              <%= link_to home_kids_path do %>
              <div class="frame category-frame" style="background-image: url(<%= asset_path "raise_balanced_happy_kids.jpg" %>)"></div>
              <div class="text">
                <h3 class="color-kids text-center">Kids</h3>
                <p>Kids. Progeny. Tiny bulldozers that terrorize your (previously-clean) house and leave nothing but mayhem in their wake.</p>
                <p>Here are your resources to raise balanced, happy, well-rounded kids without driving yourself crazy.</p>
              </div> <!-- text -->
              <h5 class="text-center"><%= link_to "Raise Happy Kids", home_kids_path, class: "color-kids" %></h5>
              <% end %>
            </div></div> <!-- category div / col div -->

            <div class="col-sm-6 col-lg-3 "><div class="category-div border-neutral transparent-hover neutral">
              <%= link_to home_self_path do %>
              <div class="frame category-frame" style="background-image: url(<%= asset_path "take-care-of-yourself.jpg" %>)"></div>
              <div class="text">
                <h3 class="color-neutral text-center">Self</h3>
                <p>You wear many different hats throughout the course of the day. (Mom, chauffeur, executive assistant, chef, the list goes on...)  However, you are (believe it or not) also allowed to take care of yourself as a person.</p>
                <p>This section is for you if you're having trouble remembering who you were before you were "Mom".</p>
              </div> <!-- text -->
              <h5 class="text-center"><%= link_to "Take Time for Yourself", home_self_path, class: "color-neutral" %></h5>
              <% end %>
            </div></div> <!-- category div / col div -->
        </div> <!-- row -->
    </div> <!-- category callouts -->



    <div class="about-me">
      <h2 class="text-center script-header">About Me</h2>
      <div class="row">
        <div class="col-sm-3 text-center">
          <%= image_tag "liz-bayardelle-stay-sane-mom.jpg", class: "rounded-image" %>
        </div>
        <div class="col-sm-9">
          <p>Hello there!  My name is Liz, but I most often answer to "Mom" or (more often) "Mom Mom Mom MAHM!".</p>
          <p>I'm the wife to an amazing man and mom to a preteen stepdaughter (and Instagram aficionado), a sparkle-clad toddlernado, two large canine furkids, a bunny of unusual size, and (if I don't vacuum daily) a herd of dustbunnies. My alterego by night is a PhD candidate, freelance consultant, web developer, and graphic designer, workout nut, entrepreneur, writer, and avid bookworm.</p>
        </div>
      </div>
    </div> <!-- about me -->


    <div class="recent-blogs">
      <h2 class="text-center script-header">Recent Blog Posts</h2>
      <% @blogs.each do |blog| %>
        <%= link_to blog do %>
          <div class="blog-card">
            <% case blog.category %>
            <% when "House" %>
              <div class="house transparent-hover">
                <div class="flag">House</div>
            <% when "Spouse" %>
              <div class="spouse transparent-hover">
                <div class="flag">Spouse</div>
            <% when "Kids" %>
              <div class="kids transparent-hover">
                <div class="flag">Kids</div>
            <% else %>
              <div class="other transparent-hover neutral">
                <div class="flag">Self</div>
            <% end %>
              <div class="blog-frame" style="background-image: url(<%= asset_path "stay_sane_mom.jpg" %>)"></div>
              <div class="blog-text">
                <h2><%= blog.title %></h2>
                <p><%= blog.teaser %></p>
                <p class="published-on"><small>
                  Published on <%= blog.published_on.in_time_zone("America/Los_Angeles").strftime("%B %d, %Y") %> in <%= blog.category %>
                  <% if current_user && current_user.admin %>
                       | <%= link_to 'Edit', edit_blog_path(blog) %> |
                      <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
                  <% end %>
                </small></p>
              </div> <!-- blog-text -->
            </div> <!-- end case div -->
          </div> <!-- blog card -->
        <% end %>
      <% end %>

      <h4 class="text-center"><%= link_to "See " + (@all_blogs.count - 3).to_s + " More Posts", blogs_path %></h4>
    </div> <!-- recent blogs -->

  </div> <!-- page container -->


  <script>
    $(function() {
    	$('.category-div').matchHeight();
    });
  </script>
