<!-- page-specific content -->
  <% title "The Stay Sane Mom" %>
  <%= content_for :head do %>
    <meta name="description" content="Helping overworked moms keep clean house, a healthy marriage, balanced kids, and stay sane on top of it all." />
  <% end %>
<!-- page-specific content -->

<div class="header-frame frame" style="background-image: url(<%= asset_path "stay_sane_mom.jpg" %>)" role="img" aria-label="Overwhelmed mom acting like she's tearing her hair out."><div class="image-overlay-white"><div class="inner-frame border-neutral"></div></div></div>

<div class="over-frame-text">
  <div class="container">
    <h1 class="color-black">Need more sanity?</h1>
    <h4 class="text-center">Get tips, free goodies, and tools to make your&nbsp;life&nbsp;easier.</h4>
  </div> <!-- container -->
  <div class="over-frame-bottom-row">
    <div class="container">
      <div class="text-center">
        <div class="half-buffer"></div>
          <a class="btn btn-outline-secondary" data-formkit-toggle="cd10cef13b" href="https://pages.convertkit.com/2d8e722187/31069c0b92">Your Support System Awaits</a>
        <div class="buffer"></div>
      </div> <!-- text center -->
    </div> <!-- container -->
  </div> <!-- over-frame-text -->
</div> <!-- over-frame-text -->


  <div class="container">

    <div class="category-callouts">
        <h2 class="text-center script-header">Get Help with Your...</h2>

        <div class="row">
            <div class="col-sm-6 col-lg-3"><div class="category-div border-house transparent-hover house">
              <%= link_to home_house_path do %>
                <div class="frame category-frame" style="background-image: url(<%= asset_path "keep-house-clean.jpg" %>)"><div class=""></div></div>
                <div class="text">
                  <h3 class="color-house text-center">House</h3>
                  <p>Let's face it, we all wish we could keep a cleaner house.  No one likes coming home to laundry mountain and a dust bunny brigade.</p>
                  <p>Here you can learn how to keep the chaos at bay.</p>
                </div> <!-- text -->
                <h5 class="text-center"><%= link_to "Clean My House", home_house_path, class: "color-house" %></h5>
              <% end %>
            </div></div> <!-- category div / col div -->

            <div class="col-sm-6 col-lg-3"><div class="category-div border-spouse transparent-hover spouse">
              <%= link_to home_spouse_path do %>
              <div class="frame category-frame" style="background-image: url(<%= asset_path "keep_marriage_healthy.jpg" %>)"><div class=""></div></div>
              <div class="text">
                <h3 class="color-spouse text-center font-script">Spouse</h3>
                <p>It's hard to pay attention to your marriage when jobs, chores, obligations, and all these tiny humans keep demanding things of us.</p>
                <p>These tools should help you keep a healthy marriage in spite of everything else you have going on.</p>
              </div> <!-- text -->
              <h5 class="text-center"><%= link_to "Build My Marriage", home_spouse_path, class: "color-spouse" %></h5>
              <% end %>
            </div></div> <!-- category div / col div -->

            <div class="col-sm-6 col-lg-3"><div class="category-div border-kids transparent-hover kids">
              <%= link_to home_kids_path do %>
              <div class="frame category-frame" style="background-image: url(<%= asset_path "raise_balanced_happy_kids.jpg" %>)"><div class=""></div></div>
              <div class="text">
                <h3 class="color-kids text-center">Kids</h3>
                <p>Kids. Progeny. Tiny bulldozers that terrorize your (previously-clean) house and leave nothing but mayhem in their wake.</p>
                <p>Here are your resources to raise balanced, happy, well-rounded kids without driving yourself crazy.</p>
              </div> <!-- text -->
              <h5 class="text-center"><%= link_to "Raise Happy Kids", home_kids_path, class: "color-kids" %></h5>
              <% end %>
            </div></div> <!-- category div / col div -->

            <div class="col-sm-6 col-lg-3 "><div class="category-div border-self transparent-hover neutral">
              <%= link_to home_self_path do %>
              <div class="frame category-frame" style="background-image: url(<%= asset_path "take-care-of-yourself.jpg" %>)"><div class=""></div></div>
              <div class="text">
                <h3 class="color-self text-center">Self</h3>
                <p>You wear many different hats throughout the course of the day. (Mom, chauffeur, executive assistant, chef, the list goes on...)  However, you are (believe it or not) also allowed to take care of yourself as a person.</p>
                <p>This section is for you if you're having trouble remembering who you were before you were "Mom".</p>
              </div> <!-- text -->
              <h5 class="text-center"><%= link_to "Stay Sane", home_self_path, class: "color-self" %></h5>
              <% end %>
            </div></div> <!-- category div / col div -->
        </div> <!-- row -->
    </div> <!-- category callouts -->
</div> <!-- container -->

<div class="about-me bg-neutral">
  <div class="container" style="padding: 0px 0 20px 0">
    <h2 class="text-center script-header" style="padding-top: 20px">About Me</h2>
    <div class="row">
      <div class="col-sm-3 text-center">
        <%= image_tag "liz-bayardelle-stay-sane-mom.jpg", class: "rounded-image" %>
      </div> <!-- col -->
      <div class="col-sm-9" style="padding: 0 30px 0 30px">
        <p>Hello there!  My name is Liz, but I also answer to "Hey Honey?", "Mom", or (more often) "Mom Mom Mom MAHM!".</p>
        <p>I'm the wife to an amazing man and mom to a preteen stepdaughter (and Instagram aficionado), a sparkle-clad toddlernado, two large canine furkids, a bunny of unusual size, and (if I don't vacuum daily) a herd of dustbunnies. My alterego by night is a PhD candidate, freelance consultant, web developer, and graphic designer, workout nut, entrepreneur, writer, and avid bookworm.</p>
        <h5><%= link_to "More About the Stay Sane Mom...", static_path(:AboutMe) %></h5>
      </div> <!-- col -->
    </div> <!-- row -->
  </div> <!-- container -->
</div> <!-- about me -->

<div class="container">
    <div class="recent-blogs">
      <h2 class="text-center script-header">Recent Blog Posts</h2>
      <div class="row">
        <% @blogs.each do |blog| %>
          <%= link_to blog do %>
            <div class="col-lg-4"><div class="blog-card">
              <% case blog.category %>
              <% when "House" %>
                <div class="house transparent-hover">
                  <div class="flag">House</div>
              <% when "Spouse" %>
                <div class="spouse transparent-hover">
                  <div class="flag">Spouse</div>
              <% when "Kids" %>
                <div class="kids transparent-hover">
                  <div class="flag">Kids</div>
              <% when "Self" %>
                <div class="self transparent-hover">
                  <div class="flag">Self</div>
              <% else %>
                <div class="other transparent-hover neutral">
                  <div class="flag">Other</div>
              <% end %>
                <div class="blog-frame" style="background-image: url(<%= rails_blob_url(blog.image) if blog.image.attached? %>)">
                  <% case blog.category %>
                  <% when "House" %>
                    <div class="image-overlay-house"></div>
                  <% when "Spouse" %>
                    <div class="image-overlay-spouse"></div>
                  <% when "Kids" %>
                    <div class="image-overlay-kids"></div>
                  <% when "Self" %>
                    <div class="image-overlay-self"></div>
                  <% else %>
                    <div class="image-overlay-neutral"></div>
                  <% end %>
                </div>
                <div class="blog-text">
                  <div class="blog-description">
                    <h2><%= blog.title %></h2>
                    <p class="blog-teaser"><%= blog.teaser %><span class="color-neutral" style="padding-left: 5px"><%= blog.cta_read_more + "..." %></span></p>
                  </div> <!-- blog description -->
                  <div class="blog-info">
                    <p class="published-on">
                      <strong>Categories:
                        <%= raw blog.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
                      </strong><br />
                      <small>
                      <%= pluralize(blog.comments.count, "Comment") %>, Published on <%= blog.published_on.in_time_zone("America/Los_Angeles").strftime("%B %d, %Y") %>
                      <% if current_user && current_user.admin %>
                          <%= link_to edit_blog_path(blog) do %><%= fa_icon "pencil" %><% end %>
                          <%= link_to blog, method: :delete, data: { confirm: 'Are you sure?' } do %><%= fa_icon "remove" %><% end %>
                      <% else %>
                           | <%= link_to "Home", root_path %>
                      <% end %>
                    </small></p>
                  </div> <!-- blog info -->
                </div> <!-- blog-text -->
              </div> <!-- end case div -->
            </div></div> <!-- blog card/col -->
          <% end %>
        <% end %>
      </div> <!-- row -->

      <h4 class="text-center"><%= link_to "See " + (@all_blogs.count - 3).to_s + " More Posts", blogs_path %></h4>
    </div> <!-- recent blogs -->

  </div> <!-- page container -->



  <!-- form itself -->
  <div id="convertkitPopup" class="white-popup mfp-hide">
    <script async data-uid="fcce48a626" src="https://f.convertkit.com/fcce48a626/999d19a7ee.js"></script>
  </div>







  <script>
  $(function() {
    $('.category-div').matchHeight();
    $('.blog-text').matchHeight();
  });

    $('.open-popup-link').magnificPopup({
      type:'inline',
      midClick: true // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
    });
  </script>
