
<style>
    .on-page-parallax {
        /* The image used */
          background:linear-gradient(0deg, rgba(255, 255, 255, 0.7), 
        rgba(255, 255, 255, 0.7)), 
        url(https://images.pexels.com/photos/3756036/pexels-photo-3756036.jpeg);
      background-size:cover;

          /* Set a specific height */
          min-height: 600px; 

          /* Create the parallax scrolling effect */
          background-attachment: fixed;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
    }

    .on-page-parallax-inners {
        margin-top: -600px;
        padding-top: 10rem;
    }
</style>






<main id="homepage">

    <!-- Mashead header-->
    <section class="on-page-parallax"></section>

    <section class="on-page-parallax-inners py-5">
        <div class="container py-5 px-xl-5">
            <div class="row align-items-center">
                <div class="col-12 text-center">
                    <h1 class="color-pink display-3 lh-1 text-shadow" style="font-weight: 700">
                        Feel&nbsp;like&nbsp;yourself, even&nbsp;as the mom&nbsp;of&nbsp;small&nbsp;children.
                    </h1>
                    <p class="large-p color-black">
                        We give moms immediate, easy-to-implement support that they can consume while cutting snacks, folding laundry, or driving to soccer practice.
                    </p>
                    <p class="large-p color-black">
                        You deserve to feel fulfilled, happy, and whole, even while you are in the hardcore, child-dominated, bootcamp-level hellscape that is parenting.
                    </p>
                </div>
                <div class="col-12 text-center">
                    <%= link_to "Get Support", root_path(anchor: "action-steps"), class: "btn btn-pink btn-lg" %>
                </div>
            </div>
        </div>
    </section>




    <%= render partial: "freebies/stripe_habits" %>






    <!-- Liz's Note:  Eventually these will link to individual products. -->
    <!-- SUPPORT:  30 day sanity saver -->
    <!-- SANITY:  WIP eBook from CO -->
    <!-- STRATEGY:  Survive to 5 -->

    <section id="results" class="text-center py-5 z-under">
        <div class="container py-5">
            <div class="row">

                <div class="col-sm-4">
                    <img class="match-height classy-pic" src="https://images.pexels.com/photos/2536579/pexels-photo-2536579.jpeg" class="w-100">
                    <h3 class="mt-3 mb-1 color-pink uppercase thin">
                        Feel Like Yourself
                    </h3>
                    <p>
                        Have an adult identity without sacrificing your committment to&nbsp;your&nbsp;kids.
                    </p>
                </div> <!-- col -->

                <div class="col-sm-4">
                    <img class="match-height classy-pic" src="https://images.pexels.com/photos/4474036/pexels-photo-4474036.jpeg" class="w-100">
                    <h3 class="mt-3 mb-1 color-pink uppercase thin">
                        Find Your Balance
                    </h3>
                    <p>
                        Find a balance between parenting, work, life, and maybe even some actual time&nbsp;for&nbsp;yourself.
                    </p>
                </div> <!-- col -->

                <div class="col-sm-4">
                    <img class="match-height classy-pic" src="https://images.pexels.com/photos/774866/pexels-photo-774866.jpeg" class="w-100">
                    <h3 class="mt-3 mb-1 color-pink uppercase thin">
                        Claim Your Purpose
                    </h3>
                    <p>
                        You have a higher calling than changing diapers. Pursue your dreams without being any less&nbsp;of&nbsp;a&nbsp;mom.
                    </p>
                </div> <!-- col -->

            </div> <!-- row -->
        </div> <!-- container -->
    </section> <!-- results -->






    <section id="problem" class="bg-white text-center py-5 z-depth-3-y z-over">
        <div class="container">
            <div class="row">

                <div class="col-12 text-center mb-3">
                    <h2 class="h3">
                        You are the glue that holds everything together...everything except you.
                    </h2>
                </div> <!-- col -->

                <div class="col-md-6">
                    <p>
                        You used to be a real human being with a grown up job and a fancy degree.
                    </p>
                    <p>
                        You had thoughts, goals, dreams, ambitions, and sometimes you even went to the bathroom by yourself.
                    </p>
                    <p class="bold">
                        ...and then kids.
                    </p>
                    <p>
                        Kids you love more than anything in the world. Kids that drive you absolutely batty. Kids you would gladly die for. Yeah, those kids.
                    </p>
                </div>

                <div class="col-md-6">
                    <p>
                        Despite your ridiculous, mamma-bear love for your family, you still feel overwhelmed, exhausted, lost, disorganized, emotionally-drained, and unexplainably sad a large portion of the time.
                    </p>
                    <p class="bold">
                        You're there for everyone...but who's there to support you?
                    </p>
                    <p>
                        You love your role as mom, but wouldn't it be nice if someone was there to support <span class="color-pink font-script h2 pb-0 mb-0" style="line-height: .5">you</span>?
                    </p>
                </div>

                <div class="col-12 text-center">
                    <%= link_to "Get Support", root_path(anchor: "action-steps"), class: "btn btn-pink btn-lg" %>
                </div>


            </div> <!-- row -->
        </div> <!-- container -->
    </section> <!-- problem -->





<!-- What You Deserve -->
    <section id="you-deserve" class="text-center py-5 z-under">
        <div class="container py-5">
            <div class="row">

                <div class="col-12">
                    <h2 class="h3">
                        You deserve to be a mom <span class="color-pink font-script h2 pb-0 mb-0" style="line-height: .5">and</span> a fulfilled, happy person...and both at the same time.
                    </h2>
                </div> <!-- col -->

            </div> <!-- row -->
        </div> <!-- container -->
    </section> <!-- you-deserve -->
<!-- What You Deserve -->




<!-- Problem / Why we can help -->
   <section id="problem" class="bg-white text-center py-5 z-depth-3-y z-over">
        <div class="container">
            <div class="row">

                <div class="col-12 text-center pb-2">
                    <h2 class="h3">
                        Only a fellow mom can understand your crazy, contradictory, emotionally-charged hurricane of a life.
                    </h2>
                </div> <!-- col -->

                <div class="col-md-4 text-center px-5 px-md-3">
                    <img class="w-100 classy-pic tilt-left my-4" src="https://staysanemom.s3.us-west-1.amazonaws.com/111-images/Liz+and+Kiddos.jpg">
                </div> <!-- col -->

                <div class="col-md-8 text-center text-md-left">
                    <p>We understand you because we <em>are</em> you.  The Stay Sane Mom was created for moms, by a mom.</p>
                    <p>Liz is an author, coach, and parenting expert (if such thing exists).  She also has her PhD in business psychology.</p>
                    <p>More importantly, Liz has spent the last decade or so with these adorable little monsters. Midnight feedings, homework help, adorable cuddles, and slightly-less-adorable tantrums...she's seen it all.</p>
                    
                </div> <!-- col -->

                <div class="col-12 text-center pb-2">
                    <p class="bold h4">Get support from a fellow mom who has truly been there.</p>
                    <%= link_to "Get Support", root_path(anchor: "action-steps"), class: "btn btn-pink btn-lg" %>
                    <%= link_to "About Us", page_path("AboutUs"), class: "btn btn-outline-pink" %>
                </div> <!-- col -->

            </div> <!-- row -->
        </div> <!-- container -->
    </section> <!-- problem -->
<!-- Problem / Why we can help -->




<!-- Product Callout -->
    <section id="product-callout" class="text-center py-5 z-under">
        <div class="container">
            <div class="row">

                <div class="col-12 text-center">
                    <h2 class="h2 color-pink">
                        Go From Chaos to Control in&nbsp;30&nbsp;Days
                        <br><small>(in Less Than 5 Minutes a Day)</small>
                    </h2>
                </div> <!-- col -->

                <div class="col-md-4 text-center px-5 px-md-3">
                    <img style="max-width: 100%; height: auto;" src="https://staysanemom.s3.us-west-1.amazonaws.com/111-Sales+Images/Sample+Image.png">
                </div> <!-- col -->

                <div class="col-md-8 text-center text-md-left">
                    <p class="smallish">Right now you feel exhausted, overwhelmed, out of balance, and quite possibly more than a little lost.</p>
                    <p class="smallish">The 30 Day Sanity Saver video course gives you easy-to-use strategies (in under 5 minutes a day) to make your life as a mom more bearable, balanced, and (dare we say) even sometimes enjoyable.</p>
                    <p class="smallish">You can binge all 30 days in a few hours or take one day at a time.  This course is all about giving you what <em>you</em> need to feel happier, more balanced, and more secure as a parent.</p>
                    <p class="smallish">Make your life feel happier and more sane.</p>
                </div> <!-- col -->


                <div class="col-12 text-center">
                    <script async src="//tinder.thrivecart.com/embed/v1/thrivecart.js"></script>
                    <a data-thrivecart-account="linchpin-industries" data-thrivecart-tpl="v2" data-thrivecart-product="37" class="thrivecart-button btn btn-pink">
                        Get It Together
                    </a>
                    <a href="https://www.thestaysanemom.com/solutions/39" class="btn btn-outline-pink">
                        More Info
                    </a>
                </div> <!-- col -->

            </div> <!-- row -->
        </div> <!-- container -->
    </section> <!-- product-callout -->
<!-- Product Callout -->







<!-- as seen on -->
    <section id="as-seen-on" class="bg-white text-center row py-5 z-depth-3-y z-over">
        <div class="col-12">
          <h2 class="">As Seen On</h2>
        </div>
        <div class="col-12 pt-2 pb-4">
          <a href="https://www.scarymommy.com/losing-mom-even-harder-when-youre-mom-too/" rel="nofollow" title="Scary Mommy">
            <img src="https://3a60h1vxk0ezoe7oqzr8fl8l-wpengine.netdna-ssl.com/wp-content/uploads/2015/08/SM_logo_transparent_PNG.jpg" alt="Scary Mommy" style="height: 35px; padding-bottom: 5px; display: inline-block;" />
          </a>
          <a href="https://filterfreeparents.com/author/elizabeth-bayardelle/" rel="nofollow" title="Filter Free parents">
            <%= image_tag "FFPLogo.png", alt: "Filter Free Parents", style: "height: 40px; display: inline-block;" %>
          </a>
          <a href="https://www.sammichespsychmeds.com/how-i-survived-my-first-thousand-repetitions-of-baby-shark-7-rules-for-toddler-moms/" rel="nofollow" title="Sammiches & Psych Meds">
            <%= image_tag "SPMLogo.png", alt: "Sammiches & Psych Meds", style: "height: 40px; margin-right: 30px; display: inline-block;" %>
          </a>
          <a href="https://www.imperfectlyperfectmama.com/author/liz-bayardelle/" rel="nofollow" title="Imperfectly Perfect Mama">
            <%= image_tag "IPMLogo.svg", alt: "Imperfectly Perfect Mama", style: "height: 40px; padding-bottom: 5px; display: inline-block;" %>
          </a>
        </div> <!-- col -->
    </section> <!-- as seen on -->
<!-- as seen on -->





<!-- THREE STEPS -->
    <section id="action-steps" class="text-center py-5 z-under">
        <div class="container pb-3">
            <div class="row">

                <div class="col-12 text-center mb-2">
                    <h2 class="h2">
                        3 Simple Steps to a Saner&nbsp;Mom&nbsp;Life
                    </h2>
                </div> <!-- col -->

                <div class="col-sm-4">
                    <div class="match-height-2">
                        <img class="max-w-100" src="https://staysanemom.s3.us-west-1.amazonaws.com/111-Sales+Images/Sample+Image.png">
                    </div> 
                    <div class="match-height-3">
                        <p class="mt-3 mb-0 uppercase bold smallish">Step 1</p>
                        <h3 class="mt-0 color-pink thin">
                            Get Immediate Support
                        </h3>
                        <p>
                            Get a free support video in your email inbox every day for the next week.
                        </p>
                        <p>
                            Your life, just less lonely.
                        </p>
                    </div> <!-- mh3 -->
                    <script async src="//tinder.thrivecart.com/embed/v1/thrivecart.js"></script>
                    <a data-thrivecart-account="linchpin-industries" data-thrivecart-tpl="v2" data-thrivecart-product="39" class="thrivecart-button btn btn-pink">
                        Get Support Now
                    </a>
                </div> <!-- col -->


                <!-- Eventually MLBT -->
                <div class="col-sm-4">
                    <div class="match-height-2">
                        <img class="max-w-100" src="https://staysanemom.s3.us-west-1.amazonaws.com/111-Sales+Images/Heroes+(No+Title).png">
                    </div> 
                    <div class="match-height-3">
                        <p class="mt-3 mb-0 uppercase bold smallish">Step 2</p>
                        <h3 class="mt-0 color-pink thin">
                            Make Things Easier
                        </h3>
                        <p>
                            Momming is hard enough without creating everything from scratch.
                        </p>
                        <p>
                            Get done-for-you templates for everything from chore charts to meal prep.
                        </p>
                    </div> <!-- mh3 -->
                    <script async src="//tinder.thrivecart.com/embed/v1/thrivecart.js"></script>
                    <a data-thrivecart-account="linchpin-industries" data-thrivecart-tpl="v2" data-thrivecart-product="72" class="thrivecart-button btn btn-pink">
                        Simplify My Life
                    </a>
                </div> <!-- col -->


                <!-- Eventually Survive to 5 -->
                <div class="col-sm-4">
                    <div class="match-height-2">
                        <img class="max-w-100" src="https://staysanemom.s3.us-west-1.amazonaws.com/111-Sales+Images/Cover+Art+(Small+Fan).png">
                    </div> 
                    <div class="match-height-3">
                        <p class="mt-3 mb-0 uppercase bold smallish">Step 3</p>
                        <h3 class="mt-0 color-pink thin">
                            Create a Mom-Life Balance
                        </h3>
                        <p>
                            Troubleshoot your specific issues and find a liveable (and enjoyable balance) in your life.
                        </p>
                        <p>
                            It's like an instruction manual...for your brain.
                        </p>
                    </div> <!-- mh3 -->
                    <script async src="//tinder.thrivecart.com/embed/v1/thrivecart.js"></script>
                    <a data-thrivecart-account="linchpin-industries" data-thrivecart-tpl="v2" data-thrivecart-product="74" class="thrivecart-button btn btn-pink">
                        Get It Now
                    </a>
                </div> <!-- col -->

            </div> <!-- row -->
        </div> <!-- container -->
    </section> <!-- solve-problem -->
<!-- THREE STEPS -->




<!-- Our Promise / Mission Statement -->
    <section id="mission-statement" class="bg-white text-center row py-5 z-depth-3-y z-over">
        <div class="container">
            <div class="row">

                <div class="col-12">
                  <h2 class="h2">Our Promises To You</h2>
                  <p>
                    We can't come vacuum for you (or watch your kids while you sleep), but&nbsp;here's&nbsp;what&nbsp;we can&nbsp;promise&nbsp;you.
                  </p>
                </div>



                <div class="col-sm-6 col-lg-3 pt-2 pb-2">
                    <i class="fas fa-baby color-pink display-1 mb-2"></i>
                    <h3 class="h4">Based on Experience</h3>
                    <p>
                        Everything you get here is based on real life momming experience.  We've&nbsp;been&nbsp;there. Literally.
                    </p>
                </div> <!-- col -->





                <div class="col-sm-6 col-lg-3 pt-2 pb-2">
                    <i class="fas fa-clipboard-check color-pink display-1 mb-2"></i>
                    <h3 class="h4">Based on Real Life</h3>
                    <p>
                        No mom has time to implement a 2-hour-a-day solution.  Everything here can be done in naptime-length&nbsp;chunks&nbsp;or&nbsp;less.
                    </p>
                </div> <!-- col -->





                <div class="col-sm-6 col-lg-3 pt-2 pb-2">
                    <i class="fas fa-brain color-pink display-1 mb-2"></i>
                    <h3 class="h4">Based on Research</h3>
                    <p>
                        You need scientific findings, not things someone read in a meme.  We back our wisdom in real research. (Well...that&nbsp;and&nbsp;sarcasm).
                    </p>
                </div> <!-- col -->






                <div class="col-sm-6 col-lg-3 pt-2 pb-2">
                    <i class="fas fa-people-carry color-pink display-1 mb-2"></i>
                    <h3 class="h4">Based on Community</h3>
                    <p>
                        Parenting can be effing lonely.  We may live inside your computer, but our biggest priority is still making sure you feel like you have real&nbsp;human&nbsp;support.
                    </p>
                </div> <!-- col -->




            </div> <!-- row -->
        </div> <!-- container -->
    </section> 
<!-- Our Promise / Mission Statement -->



</main>









<%= content_for :additional_js do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.match-height').matchHeight();
      $('.match-height-2').matchHeight();
      $('.match-height-3').matchHeight();
    });
  </script>
<% end %>

