<!-- page-specific content -->
  <% title "Kids | SSM" %>
  <%= content_for :head do %>
    <meta name="description" content="The research you need to raise happy, balanced, motivated kids." />
  <% end %>
<!-- page-specific content -->

<h1 class="font-script text-center color-kids">Kids & Parenting</h1>
<div class="half-buffer"></div>


<div class="header-frame frame" style="background-image: url(<%= asset_path "raise_balanced_happy_kids.jpg" %>)"><div class="image-overlay-white"><div class="inner-frame border-kids"></div></div></div>
<div class="over-frame-text convert-kit">
  <div class="container text-center">
    <h1>Messy Little Humans</h1>
    <h3>Raise happy, balanced little monsters.</h3>
  </div> <!-- container -->
  <div class="over-frame-bottom-row">
    <div class="container">
      <div class="text-center">
        <div class="half-buffer"></div>
        <a href="#convertkitPopup" class="open-popup-link btn my-btn-outline-secondary hero-button">Click Here for the Secret</a>
        <div class="buffer"></div>
      </div> <!-- text center -->
    </div> <!-- container -->
  </div> <!-- over-frame-bottom-row -->
</div> <!-- over-frame-text -->

<div class="half-buffer"></div>


<div class="bg-kids padded">
  <div class="container padded resource-stripe">
    <h2 class="text-center font-script">Free Parenting Resources</h2>
    <% if current_user %>
      <% @subcategories.each do |subcategory| %>
        <% if Blog.where(subcategory_id: subcategory.id) != [] %>
          <h3><%= subcategory.name %></h3>
          <% Blog.where(subcategory_id: subcategory.id).each do |blog| %>
            <% if blog.freebie_type == "File" %>
              <%= link_to asset_path(blog.freebie_filename, skip_pipeline: true), target: "_blank" do %><%= blog.freebie_description %><% end %>
            <% else %>
              <a href="<%= blog.freebie_filename %>" target="_blank"><%= blog.freebie_description %></a>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <h5 class="text-center">Create a free account for access to the free resource library.</h5>
      <div class="text-center padded">
        <%= link_to new_user_registration_path do %><button class="btn my-btn-outline-secondary">Create an Account</button><% end %>
         or
         <%= link_to new_user_session_path do %><button class="btn my-btn-outline-secondary">Log In</button><% end %>
      </div>
    <% end %>
  </div> <!-- container -->
</div> <!-- bg house -->

<div class="buffer"></div>

<div class="container">

  <div class="recent-blogs">
    <div class="">
      <h2 class="text-center">Most Popular Parenting Blogs</h2>
      <div class="row">
        <% @commented_blogs.each do |blog| %>
          <%= render partial: "layouts/blogcard2", locals: { blog: blog } %>
        <% end %>
      </div>
    </div> <!-- popular blogs third -->

    <div class="buffer"></div>

    <div class="">
      <h2 class="text-center">Newest Parenting Blogs</h2>
      <div class="row">
        <% @recent_blogs.each do |blog| %>
          <%= render partial: "layouts/blogcard2", locals: { blog: blog } %>
        <% end %>
      </div>
    </div> <!-- popular blogs third -->

  <div class="buffer"></div>

  <% if @other_blogs && @other_blogs.count > 0 %>
    <h2 class="text-center">Other Blogs on Parenting & Kids</h2>
    <% @other_blogs.each do |blog| %>
      <%= link_to blog, class: "weight-400 color-black color-neutral-hover" do %>
        <h3 class="color-kids font-bold"><%= blog.title %></h3>
        <p><%= blog.teaser %>  <%= link_to blog do %><span class="color-neutral"><%= blog.cta_read_more + "..." %></span><% end %></p>
      <% end %>
    <% end %>
  <% end %>

</div> <!-- page container -->



<!-- form itself -->
<div id="convertkitPopup" class="white-popup mfp-hide">
  <script async data-uid="1832c287ca" src="https://f.convertkit.com/1832c287ca/c10fa015bf.js"></script>
</div>







<script>
  $(document).ready(function() {
    $('.blog-text').matchHeight();
    $('.blog-teaser').matchHeight();
    $('.blog-description').matchHeight();
    $('.blog-info').matchHeight();
    $('.open-popup-link').magnificPopup({
      type:'inline',
      midClick: true // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
    });
    $('.hero-button').click(function() {
        ga('send', 'event', 'Subscription', 'Hero Button Subscription', 'Kids Category Subscription Box');
    });
  });
</script>
