<!-- page-specific content -->
  <% title "Search Results for " +  params[:q] + "| SSM" %>
  <%= content_for :head do %>
    <meta name="description" content="We moms need all the help we can get. Find information about how to keep a clean house, a healthy marriage, balanced kids, and some sanity for mom." />
  <% end %>
<!-- page-specific content -->

<div class="container">

  <h2 class="font-script text-center">Blogs About "<%= params[:q] %>"</h2>
  <div class="text-center">
    <% if @blogs.suggestions.any? %>
      <p>Did you mean "<%= @blogs.suggestions.first %>"?</p>
    <% end %>
  </div>

  <div class="row">

    <% @blogs.each do |blog| %>
      <%= render partial: "layouts/blogcard2", locals: { blog: blog } %>
    <% end %>
  </div> <!-- row -->

</div> <!-- page container -->

<%= content_for :additional_js do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.height').matchHeight();
      $('.blog-text').matchHeight();
      $('.blog-teaser').matchHeight();
      $('.blog-description').matchHeight();
      $('.blog-info').matchHeight();
      $('.formkit-submit').click(function() {
        ga('send', 'event', 'Subscription', 'Hero CTA Subscription', 'Blog Index Hero CTA Subscription');
      });

    });
  </script>
<% end %>
