<!-- page-specific content -->
  <% title "Self-Development | SSM" %>
  <%= content_for :head do %>
    <meta name="description" content="Even though you're a mom, you still get to be a person too.  Here's to staying sane, Mom." />
  <% end %>
<!-- page-specific content -->

<h1 class="font-script text-center color-self">Self-Development</h1>
<div class="half-buffer"></div>


<div class="header-frame frame" style="background-image: url(<%= asset_path "take-care-of-yourself.jpg" %>)"><div class="image-overlay-white"><div class="inner-frame border-self"></div></div></div>
<div class="over-frame-text convert-kit">
  <div class="container">
    <div class="buffer"></div>
    <h1>You matter too!</h1>
    <h3 class="text-center">Even though you're a mom,<br />you can still accomplish incredible things.</h3>
    <div class="text-center">
      <div class="half-buffer"></div>
      <a href="#convertkitPopup" class="open-popup-link btn my-btn-outline-secondary hero-button">Set Goals to Win</a>
      <div class="buffer"></div>
    </div> <!-- text center -->
  </div> <!-- container -->
  <div class="over-frame-bottom-row">
    <div class="container">
    </div> <!-- container -->
  </div> <!-- over-frame-bottom-row -->
</div> <!-- over-frame-text -->

<div class="half-buffer"></div>

<div class="bg-self padded">
  <div class="container padded resource-stripe">
    <h2 class="text-center font-script">Free Personal Development Resources</h2>
    <% if current_user %>

      <h3>Productivity & To Do Lists</h3>
      <%= link_to "Morning Battle Plan (Daily Task Organizer)", asset_path("Morning-Battle-Plan.pdf", skip_pipeline: true), target: "_blank" %><br />

      <h3>Reflection and Self-Improvement</h3>
      <%= link_to "SWOT Analysis Worksheet", asset_path("SWOT-Analysis.pdf", skip_pipeline: true), target: "_blank" %><br />
      <%= link_to "Task Prioritizing Tool (Worksheet)", asset_path("Task-Priority-Sorting-Tool.pdf", skip_pipeline: true), target: "_blank" %><br />

      <h3>Goal Setting</h3>
      <%= link_to "SMART Goal Setting Worksheet", asset_path("SMART-Goal-Worksheet.pdf", skip_pipeline: true), target: "_blank" %><br />
      <a href="https://docs.google.com/spreadsheets/d/1jQ9O4tJN8LMvfrWKOtR2C_BtAp6pB_zDY4vECqDm7wc/copy" target="_blank">Goal to Action Planner (Google Sheets)</a>




    <% else %>
      <h5 class="text-center">Create a free account for access to the free resource library.</h5>
      <div class="text-center padded">
        <%= link_to new_user_registration_path do %><button class="btn my-btn-outline-secondary">Create an Account</button><% end %>
         or
         <%= link_to new_user_session_path do %><button class="btn my-btn-outline-secondary">Log In</button><% end %>
      </div>
    <% end %>
  </div> <!-- container -->
</div> <!-- bg house -->

<div class="buffer"></div>

<div class="container">

  <div class="recent-blogs">
    <div class="">
      <h2 class="text-center">Most Popular Self-Development Blogs</h2>
      <div class="row">
        <% @commented_blogs.each do |blog| %>
          <%= render partial: "layouts/blogcard2", locals: { blog: blog } %>
        <% end %>
      </div>
    </div> <!-- popular blogs third -->

    <div class="buffer"></div>

    <div class="">
      <h2 class="text-center">Newest Self-Development Blogs</h2>
      <div class="row">
        <% @recent_blogs.each do |blog| %>
          <%= render partial: "layouts/blogcard2", locals: { blog: blog } %>
        <% end %>
      </div>
    </div> <!-- popular blogs third -->

  <div class="buffer"></div>

  <% if @other_blogs && @other_blogs.count > 0 %>
    <h2 class="text-center">Other Blogs on Self-Development</h2>
    <% @other_blogs.each do |blog| %>
      <%= link_to blog, class: "weight-400 color-black color-neutral-hover" do %>
        <h3 class="color-self font-bold"><%= blog.title %></h3>
        <p><%= blog.teaser %>  <%= link_to blog do %><span class="color-neutral"><%= blog.cta_read_more + "..." %></span><% end %></p>
      <% end %>
    <% end %>
  <% end %>

</div> <!-- page container -->


<!-- form itself -->
<div id="convertkitPopup" class="white-popup mfp-hide">
  <script async data-uid="ea9aafed0b" src="https://f.convertkit.com/ea9aafed0b/320ca1ea50.js"></script>
</div>







<script>
  $(document).ready(function() {
    $('.blog-text').matchHeight();
    $('.blog-teaser').matchHeight();
    $('.blog-description').matchHeight();
    $('.blog-info').matchHeight();
    $('.open-popup-link').magnificPopup({
      type:'inline',
      midClick: true // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
    });
    $('.hero-button').click(function() {
        ga('send', 'event', 'Subscription', 'Hero Button Subscription', 'Self Category Subscription Box');
    });
  });
</script>
