<!-- page-specific content -->
  <% title "Marriage | SSM" %>
  <%= content_for :head do %>
    <meta name="description" content="Before the dirty diapers and sleepless nights, you were actually a couple.  Here's how to maintain a healthy marriage even with kids." />
  <% end %>
<!-- page-specific content -->

<h1 class="font-script text-center color-spouse">Marriage & Relationships</h1>
<div class="half-buffer"></div>


<div class="header-frame frame" style="background-image: url(<%= asset_path "keep_marriage_healthy.jpg" %>)"><div class="image-overlay-white"><div class="inner-frame border-spouse"></div></div></div>
<div class="over-frame-text convert-kit">
  <div class="container text-center">
    <h1>Marriage is (Still) Important</h1>
    <h3>Want to learn 3 techniques<br />to instantly get closer to your spouse?</h3>
    <div class="half-buffer"></div>
    <a href="#convertkitPopup" class="hero-button open-popup-link btn my-btn-outline-secondary">Get My Free Tips</a>
  </div> <!-- container -->
  <div class="over-frame-bottom-row">
    <div class="container">
      <div class="text-center">
        <div class="buffer"></div>
      </div> <!-- text center -->
    </div> <!-- container -->
  </div> <!-- over-frame-bottom-row -->
</div> <!-- over-frame-text -->

<div class="half-buffer"></div>


<div class="bg-spouse padded">
  <div class="container padded resource-stripe">
    <h2 class="text-center font-script">Free Marriage Resources</h2>
    <% if current_user %>

      <h3>Marriage Exercises</h3>
      <%= link_to "168 Questions to Ask Your Partner", asset_path("168-Questions-to-Ask-Your-Partner.pdf", skip_pipeline: true), target: "_blank" %><br />
      <%= link_to "31 Days to Keep the Romance Alive (Printable Card Deck)", asset_path("31-Days-to-Keep-the-Romance-Alive.pdf", skip_pipeline: true), target: "_blank" %>

      <h3>Individual Worksheets</h3>
      <%= link_to "How to Ward Off the Four Horsemen of Divorce", asset_path("Four-Horsemen.pdf", skip_pipeline: true), target: "_blank" %><br />


    <% else %>
      <h5 class="text-center">Create a free account for access to the free resource library.</h5>
      <div class="text-center padded">
        <%= link_to new_user_registration_path do %><button class="btn my-btn-outline-secondary">Create an Account</button><% end %>
         or
         <%= link_to new_user_session_path do %><button class="btn my-btn-outline-secondary">Log In</button><% end %>
      </div>
    <% end %>
  </div> <!-- container -->
</div> <!-- bg house -->

<div class="buffer"></div>

<div class="container">

  <div class="recent-blogs">
    <div class="">
      <h2 class="text-center">Most Popular Marriage Blogs</h2>
      <div class="row">
        <% @commented_blogs.each do |blog| %>
          <%= render partial: "layouts/blogcard2", locals: { blog: blog } %>
        <% end %>
      </div>
    </div> <!-- popular blogs third -->

    <div class="buffer"></div>

    <div class="">
      <h2 class="text-center">Newest Marriage Blogs</h2>
      <div class="row">
        <% @recent_blogs.each do |blog| %>
          <%= render partial: "layouts/blogcard2", locals: { blog: blog } %>
        <% end %>
      </div>
    </div> <!-- popular blogs third -->

  <div class="buffer"></div>

  <% if @other_blogs && @other_blogs.count > 0 %>
    <h2 class="text-center">Other Blogs on Marriage</h2>
    <% @other_blogs.each do |blog| %>
      <%= link_to blog, class: "weight-400 color-black color-neutral-hover" do %>
        <h3 class="color-spouse font-bold"><%= blog.title %></h3>
        <p><%= blog.teaser %>  <%= link_to blog do %><span class="color-neutral"><%= blog.cta_read_more + "..." %></span><% end %></p>
      <% end %>
    <% end %>
  <% end %>

</div> <!-- page container -->

<!-- form itself -->
<div id="convertkitPopup" class="white-popup mfp-hide">
  <script async data-uid="1b3f810348" src="https://f.convertkit.com/1b3f810348/d61be915f2.js"></script>
</div>







<script>
  $(document).ready(function() {
    $('.blog-text').matchHeight();
    $('.blog-teaser').matchHeight();
    $('.blog-description').matchHeight();
    $('.blog-info').matchHeight();
    $('.open-popup-link').magnificPopup({
      type:'inline',
      midClick: true // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
    });
    $('.hero-button').click(function() {
        ga('send', 'event', 'Subscription', 'Hero Button Subscription', 'Spouse Category Subscription Box');
    });
  });
</script>
