<!-- page-specific content -->
  <% title "Marriage | SSM" %>
  <%= content_for :head do %>
    <meta name="description" content="Before the dirty diapers and sleepless nights, you were actually a couple.  Here's how to maintain a healthy marriage even with kids." />
  <% end %>
<!-- page-specific content -->

<h1 class="font-script text-center color-spouse">Marriage & Relationships</h1>
<div class="half-buffer"></div>


<div class="header-frame frame" style="background-image: url(<%= asset_path "keep_marriage_healthy.jpg" %>)"><div class="image-overlay-white"><div class="inner-frame border-spouse"></div></div></div>
<div class="over-frame-text convert-kit">
  <div class="container text-center">
    <h1>Marriage is (Still) Important</h1>
    <h3>Want to learn 3 techniques<br />to instantly get closer to your spouse?</h3>
    <div class="half-buffer"></div>
    <a href="#convertkitPopup" class="hero-button open-popup-link btn my-btn-outline-secondary">Get My Free Tips</a>
  </div> <!-- container -->
  <div class="over-frame-bottom-row">
    <div class="container">
      <div class="text-center">
        <div class="buffer"></div>
      </div> <!-- text center -->
    </div> <!-- container -->
  </div> <!-- over-frame-bottom-row -->
</div> <!-- over-frame-text -->

<div class="half-buffer"></div>


<div class="bg-spouse padded">
  <div class="container padded resource-stripe">
    <h2 class="text-center font-script">Free Marriage Resources</h2>
    <% if current_user %>
      <% @subcategories.each do |subcategory| %>
        <% if Blog.where(subcategory_id: subcategory.id) != [] %>
          <h3><%= subcategory.name %></h3>
          <% alreadyArray = [] %>
          <% Blog.where(subcategory_id: subcategory.id).each do |blog| %>
            <% if !alreadyArray.include? blog.freebie_filename %>
              <% if blog.freebie_type == "File" %>
                  <%= link_to asset_path(blog.freebie_filename, skip_pipeline: true), target: "_blank" do %><%= blog.freebie_description %><% end %><br />
              <% elsif blog.freebie_type == "Link" %>
                <a href="<%= blog.freebie_filename %>" target="_blank"><%= blog.freebie_description %></a><br />
              <% end %> <!-- if else -->
              <% alreadyArray << blog.freebie_filename %>
            <% end %> <!-- unless already -->
          <% end %> <!-- blog do -->
        <% end %> <!-- if blog with subcategory exists -->
      <% end %> <!-- subcategories each -->
    <% else %>
      <h5 class="text-center">Create a free account for access to the free resource library.</h5>
      <div class="text-center padded">
        <%= link_to new_user_registration_path do %><button class="btn my-btn-outline-secondary">Create an Account</button><% end %>
         or
         <%= link_to new_user_session_path do %><button class="btn my-btn-outline-secondary">Log In</button><% end %>
      </div>
    <% end %>
  </div> <!-- container -->
</div> <!-- bg house -->

<div class="buffer"></div>

<div class="container">
  <h2 class="text-center font-script">Marriage Tools</h2>
  <div class="row tools">
    <%= render "layouts/tools/birthdays" %>
    <%= render "layouts/tools/gifts" %>
  </div> <!-- tools row -->
  <div class="buffer"></div>

  <h2 class="text-center font-script">Marriage Blogs</h2>
  <div class="half-buffer"></div>
  <div class="row">
    <% @all_spouse_blogs.each do |blog| %>
      <%= render partial: "layouts/mdbcard", locals: { blog: blog, color: "spouse" } %>
    <% end %>
  </div> <!-- row -->

</div> <!-- page container -->

<!-- form itself -->
<div id="convertkitPopup" class="white-popup mfp-hide">
  <script async data-uid="1b3f810348" src="https://f.convertkit.com/1b3f810348/d61be915f2.js"></script>
</div>







<%= content_for :additional_js do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.card').matchHeight();
      $('.view').matchHeight();
      $('.card-title').matchHeight();
      $('.card-text').matchHeight();
      $('.open-popup-link').magnificPopup({
        type:'inline',
        midClick: true // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
      });
      $('.hero-button').click(function() {
          ga('send', 'event', 'Subscription', 'Hero Button Subscription', 'Spouse Category Subscription Box');
      });
    });
  </script>
<% end %>
