<!-- page-specific content -->
  <% title "Marriage | SSM" %>
  <%= content_for :head do %>
    <meta name="description" content="Before the dirty diapers and sleepless nights, you were actually a couple.  Here's how to maintain a healthy marriage even with kids." />
  <% end %>
<!-- page-specific content -->

<div class="frame" style="background-image: url(<%= asset_path "keep_marriage_healthy.jpg" %>)"><div class="image-overlay-spouse"></div></div>
<div class="over-frame-text convert-kit">
  <div class="container">
    <h1>Marriage is (Still) Important</h1>
  </div> <!-- container -->
  <div class="over-frame-bottom-row">
    <div class="container">
      <h3 class="color-white text-center">Want to learn 3 techniques<br />to instantly get closer to your spouse?</h3>
      <div class="text-center">
        <div class="half-buffer"></div>
        <a href="#convertkitPopup" class="open-popup-link btn btn-outline-secondary">Get My Free Tips</a>
        <div class="buffer"></div>
      </div> <!-- text center -->
    </div> <!-- container -->
  </div> <!-- over-frame-bottom-row -->
</div> <!-- over-frame-text -->

<div class="container">

  <div class="recent-blogs">
    <h2 class="text-center script-header">Related Blogs</h2>

    <div class="row">
      <% @recent_blogs.each do |blog| %>
        <%= link_to blog do %>
          <div class="col-lg-4"><div class="blog-card">
            <% case blog.category %>
            <% when "House" %>
              <div class="house transparent-hover">
                <div class="flag">House</div>
            <% when "Spouse" %>
              <div class="spouse transparent-hover">
                <div class="flag">Spouse</div>
            <% when "Kids" %>
              <div class="kids transparent-hover">
                <div class="flag">Kids</div>
            <% when "Self" %>
              <div class="self transparent-hover">
                <div class="flag">Self</div>
            <% else %>
              <div class="other transparent-hover neutral">
                <div class="flag">General</div>
            <% end %>
              <div class="blog-frame" style="background-image: url(<%= rails_blob_url(blog.image) if blog.image.attached? %>)">
                <% case blog.category %>
                <% when "House" %>
                  <div class="image-overlay-house"></div>
                <% when "Spouse" %>
                  <div class="image-overlay-spouse"></div>
                <% when "Kids" %>
                  <div class="image-overlay-kids"></div>
                <% when "Self" %>
                  <div class="image-overlay-self"></div>
                <% else %>
                  <div class="image-overlay-neutral"></div>
                <% end %>
              </div>
              <div class="blog-text">
                <h2><%= blog.title %></h2>
                <p><%= blog.teaser %><span class="color-neutral font-serif"><%= blog.cta_read_more + "..." %></span></p>
                <p class="published-on"><small>
                  Published on <%= blog.published_on.in_time_zone("America/Los_Angeles").strftime("%B %d, %Y") %> in <%= blog.category %>
                  <% if current_user && current_user.admin %>
                       | <%= link_to 'Edit', edit_blog_path(blog) %> |
                      <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
                  <% else %>
                       | <%= link_to "Home", root_path %>
                  <% end %>
                </small></p>
              </div> <!-- blog-text -->
            </div> <!-- end case div -->
          </div></div> <!-- blog card/col -->
        <% end %>
      <% end %>
    </div> <!-- row -->
  </div> <!-- recent blogs -->


  <div class="half-buffer"></div>
  <% if @other_blogs && @other_blogs.count > 0 %>
    <h4 class="text-center">Older Blogs on Marriage and Spouses</h4>
    <% @other_blogs.each do |blog| %>
      <%= link_to blog, class: "weight-400 color-black color-neutral-hover font-serif" do %>
        <h3 class="color-spouse font-sans"><%= blog.title %></h3>
        <p><%= blog.teaser %>  <%= link_to blog do %><span class="color-neutral font-serif"><%= blog.cta_read_more + "..." %></span><% end %></p>
      <% end %>
    <% end %>
  <% end %>

</div> <!-- page container -->


<!-- form itself -->
<div id="convertkitPopup" class="white-popup mfp-hide">
  <script async data-uid="1b3f810348" src="https://f.convertkit.com/1b3f810348/d61be915f2.js"></script>
</div>







<script>
  $(function() {
    $('.blog-text').matchHeight();
  });

  $('.open-popup-link').magnificPopup({
    type:'inline',
    midClick: true // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
  });
</script>
