<main class="pt-0">

  <div class="view jarallax" style="height: 600px;">
    <img class="jarallax-img" src="https://staysanemom.s3-us-west-1.amazonaws.com/Categories/8-balance-1.jpg" alt="">
    <div class="mask rgba-black-med">
      <div class="container flex-center text-center">
        <div class="row mb-5">
          <div class="col-md-12 wow fadeIn mb-3 color-white">
            <h1 class="display-4 mb-2 wow fadeInDown font-weight-bold" data-wow-delay="0.3s">
              Balance
            </h1>
            <h4 class="mb-3 mt-1 font-weight-bold wow fadeIn" data-wow-delay="0.4s">
              Noun.  The fine art of trying to be a mom and a human at the same time.
            </h4>
            <h4 class="mb-3 mt-1 font-weight-bold wow fadeIn" data-wow-delay="0.4s">
              It's hard, but it is possible.
            </h4>
            <a class="btn btn-neutral btn-lg wow fadeIn" href="#blogs" data-wow-delay="0.4s">See How</a>
            <a class="btn btn-self btn-lg wow fadeIn" href="https://the-stay-sane-mom.ck.page/537abe6f7b" target="_blank" data-wow-delay="0.4s">Free Printable Morning Battle Plan</a>
          </div> <!-- col -->
        </div> <!-- row -->
      </div> <!-- container -->
    </div> <!-- mask -->
  </div> <!-- jarallax view -->


  <div class="z-depth-3">
    <div class="container-fluid p-5">
      <div class="row text-center">

        <% @subcategories = Subcategory.where(category: "Balance", active: true) %>
        <% @subcategories.each do |subcategory| %>
          <div class="view view-2 col-6 col-md-4 col-lg-3">
            <div class="sub-photo z-depth-2 mb-3 p-2">
              <%= link_to subcategory_path(subcategory) do %>
                <%= image_tag rails_blob_url(subcategory.image), class: "img-fluid sub-img" if subcategory.image.attached? %>
                <div class="mask flex-center waves-effect waves-light rgba-white-strong">
                  <h4 class="boldest color-black"><%= subcategory.name %></h4>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>


        <div class="col-md-12 wow fadeIn mb-3 text-center pt-5 py-4">
          <h2 class="h1 mb-2 wow fadeInDown" data-wow-delay="0.3s">Tools</h2>
        </div> <!-- col -->

        <%= render "layouts/tools/birthdays" %>
        <%= render "layouts/tools/gifts" %>
        <%= render "layouts/tools/tasks" %>

      </div>
    </div> <!-- container -->
  </div> <!-- z depth -->






  <div class="view jarallax text-center">
    <img class="jarallax-img" src="https://staysanemom.s3-us-west-1.amazonaws.com/Categories/8-balance-2.jpg" alt="">
    <div class="mask rgba-black-strong">
      <div class="container flex-center text-center">
        <div class="row">
          <div class="col-12 color-white">
            <h2 class="h1 pb-3 font-weight-bold">Need Help Balancing Your Time?</h2>
            <h4 class="pb-3">
              It's hard to work towards multiple goals at once.
            </h4>
            <h4 class="pb-3">
              This goal to action planner helps you translate all your different goals into actionable steps.
            </h4>
            <% if !current_user %>
              <a class="btn btn-self btn-lg wow fadeIn" href="https://pages.convertkit.com/731b0758d8/5d05e07af5" target="_blank" data-wow-delay="0.4s">Get the Free Planner</a>
            <% else %>
              <%= link_to "Get the Free Planner", resource_path(Resource.find(22)), class: "btn btn-self btn-lg wow fadeIn" %>
            <% end %>
          </div> <!-- col -->
        </div> <!-- row -->
      </div> <!-- container -->
    </div> <!-- mask -->
  </div> <!-- jarallax -->





  <div class="container pb-4" id="blogs">

    <div class="row">  <!--Grid row-->
      <div class="col-md-12 wow fadeIn mb-3 text-center pt-5 py-4">
        <h2 class="h1 mb-2 wow fadeInDown" data-wow-delay="0.3s">Articles on Finding Balance</h2>
      </div> <!-- col -->

      <% @blogs = Blog.where(published: true, balance: true).order("created_at DESC") %>
      <% @blogs.each do |blog| %>
        <%= render partial: "layouts/mdbcard", locals: { blog: blog, color: blog.category.downcase } %>
      <% end %>

    </div> <!--Grid row-->

  </div> <!-- container -->


</main>

<%= content_for :additional_js do %>
  <script>
    $(document).ready(function() {

      // object-fit polyfill run
      objectFitImages();

      /* init Jarallax */
      jarallax(document.querySelectorAll('.jarallax'));

      jarallax(document.querySelectorAll('.jarallax-keep-img'), {
        keepImg: true,
      });

      $("#top-bar").removeClass('bg-solid-neutral');
      $("#top-bar").addClass('bg-solid-self');

      $('.height').matchHeight();
      $('.category-div').matchHeight();
      $('.card').matchHeight();
      $('.view').matchHeight();
      $('.card-text').matchHeight();
      $('.sub-photo').matchHeight();
      $('.sub-img').matchHeight();


    });
  </script>
<% end %>
