<!-- page-specific content -->
  <% title "Resource Library | SSM" %>
  <%= content_for :head do %>
    <meta name="description" content="We moms need all the help we can get. Here's the stockpile of knowledge for our members." />
  <% end %>
<!-- page-specific content -->

<div class="header-frame frame" style="background-image: url(<%= asset_path "free-resource-library.jpg" %>)"><div class="image-overlay image-overlay-white"><div class="inner-frame border-neutral"></div></div></div>
<div class="over-frame-text">
  <div class="container text-center">
    <div class="buffer"></div>
    <div class="half-buffer"></div>
    <h1>Resource Library</h1>
    <div class="half-buffer"></div>
    <h4>As a member, you have complete access to all the resources in&nbsp;the&nbsp;SSM&nbsp;universe.</h4>
    <div class="half-buffer"></div>
    <h4>Binge away, my pretties!</h4>
  </div> <!-- container -->
  <% if !current_user %>
    <div class="over-frame-bottom-row">
      <div class="container">
        <div class="text-center">
          <div class="half-buffer"></div>
            <%= link_to new_user_registration_path do %><div class="btn my-btn-outline-secondary new-account">Create a Free Account Now</div><% end %>
          <div class="buffer"></div>
        </div> <!-- text center -->
      </div> <!-- container -->
    </div> <!-- over-frame-text -->
  <% end %>
</div> <!-- over-frame-text -->

<div class="buffer"></div>

<% if current_user %>
  <div class="bg-house padded">
    <div class="container padded resource-stripe">
      <h2 class="text-center font-script">Household Resources</h2>

        <h3>Housecleaning & Maintenance</h3>
        <%= link_to "5 Secret Rules to Get (and Keep) Your House Clean (and Workbook)", asset_path("5_House_Secrets.pdf", skip_pipeline: true), target: "_blank" %>

        <h3>Finances & Budgeting</h3>
        <a href="https://docs.google.com/spreadsheets/d/1HRdOTR-5pEvlUUybTXYbmrZYF5054iEIiXQoV4h7w-4/copy" target="_blank">Yearly Expenses Planner (Google Sheets)</a>

        <h3>Holidays</h3>
        <%= link_to "Thanksgiving Battle Plan (Meal Timing Organizer)", asset_path("Thanksgiving-Battle-Plan.pdf", skip_pipeline: true), target: "_blank" %>

    </div> <!-- container -->
  </div> <!-- bg house -->

  <div class="buffer"></div>

  <div class="bg-spouse padded">
    <div class="container padded resource-stripe">
      <h2 class="text-center font-script">Marriage Resources</h2>

        <h3>Marriage Exercises</h3>
        <%= link_to "168 Questions to Ask Your Partner", asset_path("168-Questions-to-Ask-Your-Partner.pdf", skip_pipeline: true), target: "_blank" %><br />
        <%= link_to "31 Days to Keep the Romance Alive (Printable Card Deck)", asset_path("31-Days-to-Keep-the-Romance-Alive.pdf", skip_pipeline: true), target: "_blank" %>

        <h3>Individual Worksheets</h3>
        <%= link_to "How to Ward Off the Four Horsemen of Divorce", asset_path("Four-Horsemen.pdf", skip_pipeline: true), target: "_blank" %><br />

    </div> <!-- container -->
  </div> <!-- bg house -->

  <div class="buffer"></div>

  <div class="bg-kids padded">
    <div class="container padded resource-stripe">
      <h2 class="text-center font-script">Parenting Resources</h2>

        <h3>Research Cheatsheats</h3>
        <%= link_to "Parenting Styles Guide & Worksheet", asset_path("Parenting-Styles-Cheatsheet.pdf", skip_pipeline: true), target: "_blank" %><br />

        <h3>Printable Organization</h3>
        <%= link_to "Minimalist Pre-Baby Shopping List", asset_path("Minimalist-Baby-Shopping-List.pdf", skip_pipeline: true), target: "_blank" %><br />
        <%= link_to "Printable Chore Chart", asset_path("Printable-Chore-Chart.pdf", skip_pipeline: true), target: "_blank" %><br />

        <h3>Parenting Resources</h3>
        <%= link_to "Tantrum Survival Playbook", asset_path("Tantrum-Survival-Playbook.pdf", skip_pipeline: true), target: "_blank" %><br />

        <h3>Other</h3>
        <%= link_to "Best Mom Blogs by Category (Downloadable Directory)", asset_path("Best-Mom-Blogs-Directory.pdf", skip_pipeline: true), target: "_blank" %><br />

    </div> <!-- container -->
  </div> <!-- bg house -->

  <div class="buffer"></div>

  <div class="bg-self padded">
    <div class="container padded resource-stripe">
      <h2 class="text-center font-script">Personal Development Resources</h2>

        <h3>Productivity & To Do Lists</h3>
        <%= link_to "Morning Battle Plan (Daily Task Organizer)", asset_path("Morning-Battle-Plan.pdf", skip_pipeline: true), target: "_blank" %><br />

        <h3>Reflection and Self-Improvement</h3>
        <%= link_to "SWOT Analysis Worksheet", asset_path("SWOT-Analysis.pdf", skip_pipeline: true), target: "_blank" %><br />
        <%= link_to "Task Prioritizing Tool (Worksheet)", asset_path("Task-Priority-Sorting-Tool.pdf", skip_pipeline: true), target: "_blank" %><br />

        <h3>Goal Setting</h3>
        <%= link_to "SMART Goal Setting Worksheet", asset_path("SMART-Goal-Worksheet.pdf", skip_pipeline: true), target: "_blank" %><br />
        <a href="https://docs.google.com/spreadsheets/d/1jQ9O4tJN8LMvfrWKOtR2C_BtAp6pB_zDY4vECqDm7wc/copy" target="_blank">Goal to Action Planner (Google Sheets)</a>

    </div> <!-- container -->
  </div> <!-- bg house -->

  <div class="buffer"></div>

<% else %>

  <div class="text-center container">
    <h4>All your free resources will appear here once you have <%= link_to "created a free account", new_user_registration_path %> and are <%= link_to "logged in", new_user_session_path %> to your account.</h4>
  </div>

<% end %>


<script>
  $(document).ready(function() {
    $('.new-account').click(function() {
        ga('send', 'event', 'Subscription', 'Hero CTA Subscription', 'Resource Library Create Account Hero Button');
    });
  });
</script>
