<!-- page-specific content -->
  <% title "Tools | SSM" %>
  <%= content_for :head do %>
    <meta name="description" content="Running a household is hard.  Here are some tools to help you stay organized, increase your productivity, and stay sane." />
  <% end %>
<!-- page-specific content -->

<div class="header-frame frame" style="background-image: url(<%= asset_path "tools.jpg" %>)"><div class="image-overlay-neutral"><div class="inner-frame border-neutral"></div></div></div>
<div class="over-frame-text">
  <div class="container">
  	<h1>Mom Tools</h1>
  </div> <!-- container -->
	<div class="over-frame-bottom-row">
		<div class="container">
				<h4 class="color-white text-center">Get notified whenever a new tool comes online.</h4>
				<script async data-uid="84f6a98d37" src="https://f.convertkit.com/84f6a98d37/1f7a4e4290.js"></script>
		</div>
	</div> <!-- over-frame-text -->
</div>

<div class="half-buffer"></div>

<div class="container">
	<div class="row">


    <div class="col-sm-6 col-lg-3"><div class="content-box border-neutral transparent-hover neutral">
      <%= link_to tasks_path do %>
        <div class="content-box-img" style="background-image: url(<%= asset_path "to-do-list.jpg" %>)"><div class="image-overlay-neutral"></div></div>
        <div class="text">
          <h2 class="color-neutral font-script text-center">To Do List</h2>
          <p class="weight-400">Let's face it, we all wish we could keep a cleaner house.  No one likes coming home to laundry mountain and a dust bunny brigade.</p>
          <p class="weight-400">Here you can learn how to keep the chaos at bay.</p>
        </div> <!-- text -->
        <h5 class="text-center"><%= link_to "Go to My List", tasks_path, class: "color-neutral" %></h5>
      <% end %>
    </div></div> <!-- category div / col div -->


		<div class="col-sm-6 col-lg-3"><div class="content-box border-neutral transparent-hover neutral">
			<%= link_to people_path do %>
				<div class="content-box-img" style="background-image: url(<%= asset_path "keep-track-of-family-dates-and-events.jpg" %>)"><div class="image-overlay-neutral"></div></div>
				<div class="text">
					<h2 class="color-neutral font-script text-center">My People</h2>
					<p class="weight-400">Birthdays, anniversaries, family photos, special events, gifts for the holidays...</p>
					<p class="weight-400">It's hard to keep track of the special events, dates to come, and all the other important information about one's "tribe".</p>
				</div> <!-- text -->
				<h5 class="text-center"><%= link_to "Stop Forgetting Birthdays Now", tasks_path, class: "color-neutral" %></h5>
			<% end %>
		</div></div> <!-- category div / col div -->

		<div class="col-sm-6 col-lg-3"><div class="content-box border-neutral transparent-hover neutral">
			<%= link_to occasions_path do %>
				<div class="content-box-img" style="background-image: url(<%= asset_path "gift-planner.jpg" %>)"><div class="image-overlay-neutral"></div></div>
				<div class="text">
					<h2 class="color-neutral font-script text-center">Gift Organizer</h2>
					<p class="weight-400">Let's face it.  Being the head of a household requires buying a lot of junk for a lot of people.</p>
					<p class="weight-400">Use this easy tracker to figure out what you need to buy, for whom, and by when.  Without losing your marbles.</p>
				</div> <!-- text -->
				<h5 class="text-center"><%= link_to "Make Holidays Less Stressful", tasks_path, class: "color-neutral" %></h5>
			<% end %>
		</div></div> <!-- category div / col div -->

	</div> <!-- row -->
</div> <!-- container -->


<script>
  $(function() {
    $('.content-box').matchHeight();
  });
</script>
