<!-- page-specific content -->
  <% title "Tools | SSM" %>
  <%= content_for :head do %>
    <meta name="description" content="Running a household is hard.  Here are some tools to help you stay organized, increase your productivity, and stay sane." />
  <% end %>
<!-- page-specific content -->

<div class="header-frame frame" style="background-image: url(<%= asset_path "tools.jpg" %>)"><div class="image-overlay-black"><div class="inner-frame border-neutral"></div></div></div>
<div class="over-frame-text">
  <div class="container text-center">
  	<h1 class="display-1 pt-5 mt-5 color-white">Mom Tools</h1>
    <div class="half-buffer"></div>
    <a class="btn btn-pink tool-subscribe" style="font-weight: 700; border: solid medium; margin-bottom: 20px" data-formkit-toggle="cd10cef13b" href="https://pages.convertkit.com/6e409b399f/68d10a4da2">Get notified when a new tool is born.</a>
  </div> <!-- container -->
	<div class="over-frame-bottom-row">
		<div class="container text-center">
		</div>
	</div> <!-- over-frame-text -->
</div>

<div class="half-buffer"></div>

<div class="container">
	<div class="row">

    <%= render "layouts/tools/tasks" %>
    <%= render "layouts/tools/recipes" %>
    <%= render "layouts/tools/capsules" %>
    <%= render "layouts/tools/birthdays" %>
    <%= render "layouts/tools/gifts" %>
    <%= render "layouts/tools/meals" %>


	</div> <!-- row -->
</div> <!-- container -->


<%= content_for :additional_js do %>
  <script type="text/javascript">
    $(function() {
      $('.content-box').matchHeight();
      $('.height').matchHeight();
      $('.category-div').matchHeight();
      $('.card').matchHeight();
      $('.view').matchHeight();
      $('.card-text').matchHeight();

      $('.tool-subscribe').click(function() {
          ga('send', 'event', 'Subscription', 'Hero CTA Subscription', 'Tool Page Hero Button Subscription');
      });
    });
  </script>
<% end %>
