
    <div class="new-comment">
      <%= simple_form_for [@blog, Comment.new] do |f| %>
        <%= f.error_notification %>


        <div class="form-inputs col-xs-12" style="margin-bottom: 10px">
          <%= f.text_area :body, class: "form-control", placeholder: "Add a comment", required: true %>
        </div>

        <% if @comment_user %>
          <%= f.hidden_field :name, value: [@comment_user.first_name, @comment_user.last_name].join(' ') %>
          <%= f.hidden_field :email, value: @comment_user.email %>
        <% else %>
          <div class="row">
            <div class="form-inputs col-sm-6">
              <%= f.label "Your Name" %>
              <%= f.text_field :name, class: "form-control", required: true, placeholder: "e.g. Warren Buffett" %>
            </div>
            <div class="form-inputs col-sm-6">
              <%= f.label "Your Email (Not Displayed)" %>
              <%= f.text_field :email, class: "form-control", required: true, placeholder: "e.g. wbuffett@gmail.com" %>
            </div>
          </div> <!-- row -->
        <% end %>
        <% if !current_user %>
          <p style="margin-top: 15px">To display a link to your website along with your comment, <%= link_to "create an account", new_user_registration_path %> or <%= link_to "log in", new_user_session_path %>.</p>
        <% end %>

        <div class="form-actions text-right">
          <div class="half-buffer"></div>
          <%= f.button :submit, "Submit Comment", class: "btn btn-outline-danger submit-comment" %>
        </div>
      <% end %>
    </div>

    <h2 class="color-neutral"><%= pluralize(@comments.count, "Comment") %></h2>
    <% @comments.each do |comment| %>
        <div class="row">
          <div class="col-1 text-right" style="padding: 0">
            <% if comment.user && comment.user.avatar.attached? %>
              <%= image_tag rails_blob_url(comment.user.avatar), class: "img-fluid z-depth-1 rounded-circle", style: "width: 70px; height: 70px; object-fit: cover; margin-bottom: 10px" %>
            <% else %>
              <%= image_tag "missing_avatar.jpg", class: "img-fluid z-depth-1 rounded-circle", style: "width: 70px; height: 70px; object-fit: cover; margin-bottom: 10px" %>
            <% end %>
          </div> <!-- img col -->
          <div class="col-11">
            <h5 class="comment-byline" style="text-transform: capitalize; margin-bottom: 0px"><%= comment.name %> on <%= comment.created_at.strftime("%b %d, %Y") %></h5>
            <p style="width: 100%; margin-bottom: 0px">
              <span><%= comment.body %></span>
              <% if current_user && current_user.admin %>
                <%= link_to blog_comment_path(@blog, comment), method: :delete, data: {confirm: "Are you sure you want to delete that comment?"} do %>
                  <%= fa_icon "trash", class: "color-neutral color-neutral-hover" %>
                <% end %><br />
              <% end %>
            </p>
            <% if comment.user %>
              <p style="width: 100%; margin-bottom: 0px"><em><small>
                <% if comment.user.website_url && comment.user.website_name %>
                  From <%= link_to comment.user.website_url do %><%= comment.user.website_name %><% end %>
                <% end %>
                <% if comment.user.contributor && comment.user.id != 1 %>
                  &nbsp;&nbsp </em>|<em> &nbsp;&nbsp<i class="fas fa-keyboard color-pink"></i> &nbsp;Stay Sane Mom Contributor
                <% end %>
                <% if comment.user.id == 1 %>
                  &nbsp;&nbsp </em>|<em> &nbsp;&nbsp<i class="fas fa-glasses color-pink"></i> &nbsp;Stay Sane Mom Founder
                <% end %>
              </small></em></p>
            <% end %>

            <p class="color-pink font-bold" id="replyCommentTarget<%= comment.id %>">Reply <i class="fas fa-reply"></i></p>

            <% @responses = Response.where(comment_id: comment.id) %>
            <% @responses.each do |response| %>
              <div class="row">
                <div class="col-1 text-right" style="padding: 0">
                  <% if response.user && response.user.avatar.attached? %>
                    <%= image_tag rails_blob_url(response.user.avatar), class: "img-fluid z-depth-1 rounded-circle", style: "width: 70px; height: 70px; object-fit: cover; margin-bottom: 20px" %>
                  <% else %>
                    <%= image_tag "missing_avatar.jpg", class: "img-fluid z-depth-1 rounded-circle", style: "width: 70px; height: 70px; object-fit: cover; margin-bottom: 10px" %>
                  <% end %>
                </div> <!-- img col -->
                <div class="col-11">
                  <h5 class="comment-byline" style="text-transform: capitalize; margin-bottom: 0px"><%= response.name %> on <%= response.created_at.strftime("%b %d, %Y") %></h5>
                  <p style="width: 100%; margin-bottom: 0px">
                    <span><%= response.body %></span>
                    <% if current_user && current_user.admin %>
                      <%= link_to comment_response_path(comment, response), method: :delete, data: {confirm: "Are you sure you want to delete that response?"} do %>
                        <%= fa_icon "trash", class: "color-neutral color-neutral-hover" %>
                      <% end %><br />
                    <% end %>
                  </p>
                  <% if response.user %>
                    <p style="width: 100%; margin-bottom: 0px"><em><small>
                      <% if response.user.website_url && response.user.website_name %>
                        From <%= link_to response.user.website_url do %><%= response.user.website_name %><% end %>
                      <% end %>
                      <% if response.user.contributor && response.user.id != 1 %>
                        &nbsp;&nbsp </em>|<em> &nbsp;&nbsp<i class="fas fa-keyboard color-pink"></i> &nbsp;Stay Sane Mom Contributor
                      <% end %>
                      <% if response.user.id == 1 %>
                        &nbsp;&nbsp </em>|<em> &nbsp;&nbsp<i class="fas fa-glasses color-pink"></i> &nbsp;Stay Sane Mom Founder
                      <% end %>
                    </small></em></p>
                  <% end %>
                </div> <!-- img col -->
              </div> <!-- row -->
            <% end %> <!-- comment each response show -->

            <div class="new-response d-none" id="replyCommentField<%= comment.id %>">
              <%= simple_form_for [comment, Response.new] do |f| %>
                <%= f.error_notification %>

                <div class="form-inputs col-xs-12" style="margin-bottom: 10px">
                  <%= f.text_area :body, class: "form-control", placeholder: "Reply to comment", required: true %>
                </div>

                <% if @comment_user %>
                  <%= f.hidden_field :name, value: [@comment_user.first_name, @comment_user.last_name].join(' ') %>
                  <%= f.hidden_field :email, value: @comment_user.email %>
                <% else %>
                  <div class="row">
                    <div class="form-inputs col-sm-6">
                      <%= f.label "Your Name" %>
                      <%= f.text_field :name, class: "form-control", required: true, placeholder: "e.g. Warren Buffett" %>
                    </div>
                    <div class="form-inputs col-sm-6">
                      <%= f.label "Your Email (Not Displayed)" %>
                      <%= f.text_field :email, class: "form-control", required: true, placeholder: "e.g. wbuffett@gmail.com" %>
                    </div>
                  </div> <!-- row -->
                <% end %>
                <% if !current_user %>
                  <p style="margin-top: 15px">To display a link to your website along with your response, <%= link_to "create an account", new_user_registration_path %> or <%= link_to "log in", new_user_session_path %>.</p>
                <% end %>

                <div class="form-actions text-right">
                  <div class="half-buffer"></div>
                  <%= f.button :submit, "Reply", class: "btn btn-outline-danger submit-comment" %>
                </div>
              <% end %>
            </div>

            <script>
              $(document).ready(function() {
                $('#replyCommentTarget<%= comment.id %>').click(function() {
                  $('#replyCommentField<%= comment.id %>').toggleClass('d-none');
                });
              });
            </script>

          </div> <!-- img col -->
        </div> <!-- row -->
    <% end %> <!-- comment each -->
