
<%= simple_form_for(@printable) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <div class="form-group">
      <%= f.label "Blog Image" %><br />
      <%= f.file_field :image %>
    </div>
    <%= f.input :price %>
    <%= f.input :description %>
    <%= f.input :link %>
    <%= f.input :house %>
    <%= f.input :marriage %>
    <%= f.input :pregnancy %>
    <%= f.input :babies %>
    <%= f.input :toddlers %>
    <%= f.input :kids %>
    <%= f.input :teens %>
    <%= f.input :balance %>
    <%= f.input :active %>
  </div>

  <div class="form-actions text-center">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
