<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @printable.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @printable.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @printable.description %>
</p>

<p>
  <strong>Link:</strong>
  <%= @printable.link %>
</p>

<p>
  <strong>House:</strong>
  <%= @printable.house %>
</p>

<p>
  <strong>Marriage:</strong>
  <%= @printable.marriage %>
</p>

<p>
  <strong>Pregnancy:</strong>
  <%= @printable.pregnancy %>
</p>

<p>
  <strong>Babies:</strong>
  <%= @printable.babies %>
</p>

<p>
  <strong>Toddlers:</strong>
  <%= @printable.toddlers %>
</p>

<p>
  <strong>Kids:</strong>
  <%= @printable.kids %>
</p>

<p>
  <strong>Teens:</strong>
  <%= @printable.teens %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @printable.balance %>
</p>

<p>
  <strong>Active:</strong>
  <%= @printable.active %>
</p>

<%= link_to 'Edit', edit_printable_path(@printable) %> |
<%= link_to 'Back', printables_path %>
