<header class="header-stripe">
  <h1 class="display-4 thin">Guest Post Dashboard</h1>
</header>

<main class="container mt-3">


  <h2 id="ideas-header" class="font-script color-pink mt-4 text-center">Guest Post Ideas</h2>
  <section id="ideas-container" class="mb-5">

    <% unresponded = @contributions.where(responded: false) %>
    <% responded = @contributions.where(responded: true) %>

    <% if unresponded.count != 0 %>
      <h3 id="needing-replies-header" class="thin uppercase mb-2 text-center">Ideas Needing Replies</h3>
      <div id="needing-replies-container">
        <table class="lined-table">
          <tbody>
            <% unresponded.each do |contribution| %>
              <tr>
                <td style="border-right: none" class="color-pink">
                  <%= link_to replied_contribution_path(contribution), class: "color-pink", method: :post do %><%= fa_icon "thumbs-up" %><% end %>
                  <%= link_to contribution, method: :delete, data: { confirm: 'Are you sure?' } do %><%= fa_icon "trash" %><% end %>
                </td>
                <td style="border-left: none">
                  <span class="color-pink"><strong><%= contribution.name %></strong></span><br />
                  <%= mail_to contribution.email %><br />
                  <%= contribution.blog %>
                </td>
                <td>
                  <span class="color-pink"><strong>For the <%= contribution.category %> Category</strong></span><br />
                  <%= contribution.idea %><% if contribution.comments != "" %><br />
                  <em>Comments: <%= contribution.comments %><% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>You currently have no outstanding guest post ideas.</p>
      <% end %>
    </div> <!-- needing replies container -->



    <% if responded.count != 0 %>
      <h3 id="replied-header" class="thin uppercase text-center mt-5">Ideas Already Replied</h3>
      <div id="replied-container">
        <% responded.each do |contribution| %>
          <p style="line-height: 1.2"><small>
            <span class="color-pink"><strong><%= contribution.name %></strong></span> (<%= link_to contribution.blog %>)<br />
            <%= contribution.idea %><% if contribution.comments != "" %><br />
            <em>Comments: <%= contribution.comments %><% end %>
            <br>
            <%= link_to unreplied_contribution_path(contribution), method: :post do %>Mark&nbsp;Unreplied<% end %>
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <%= link_to 'Delete', contribution, method: :delete, data: { confirm: 'Are you sure?' } %>
          </small></p>
        <% end %>
      <% else %>
        <p>You currently have no outstanding guest post ideas.</p>
      <% end %>
    </div> <!-- replied container -->


  </section>



  <h2 id="existing-header" class="font-script color-pink mt-4 text-center">Existing Guest Posts</h2>
  <section id="existing-container" class="mb-5">

    <% @wip_blogs = [] %>
    <% @submitted_blogs = [] %>
    <% @approved_blogs = [] %>
    <% @published_blogs = [] %>
    <% @blogs.each do |blog| %>
      <% if blog.user.contributor && !blog.user.admin %>
        <% if !blog.submitted %>
          <% @wip_blogs << blog %>
        <% end %>
        <% if blog.submitted && !blog.approved %>
          <% @submitted_blogs << blog %>
        <% end %>
        <% if blog.approved && !blog.published %>
          <% @approved_blogs << blog %>
        <% end %>
        <% if blog.published && blog.published_on >= Date.today %>
          <% @published_blogs << blog %>
        <% end %>
      <% end %>
    <% end %>

    <h3 id="wip-header" class="section-header">WIP Guest Posts</h3>
    <div id="wip-container" class="section-container">
      <% @wip_blogs = Blog.where.not(user_id: 1).where(submitted: false) %>
      <% if @wip_blogs.count != 0 %>
        <% @wip_blogs.each do |blog| %>
          <%= render partial: "contributions/blog_line", locals: { blog: blog } %>
        <% end %>
      <% else %>
        <p>You currently have no WIP guest posts.</p>
      <% end %>
    </div> <!-- section container -->

    <h3 id="submitted-header" class="section-header">Submitted Guest Posts</h3>
    <div id="submitted-container" class="section-container">
      <% @submitted_blogs = Blog.where.not(user_id: 1).where(submitted: true, approved: false, published: false) %>
      <% if @submitted_blogs.count != 0 %>
        <% @submitted_blogs.each do |blog| %>
          <%= render partial: "contributions/blog_line", locals: { blog: blog } %>
        <% end %>
      <% else %>
        <p>You currently have no submitted guest posts.</p>
      <% end %>
    </div> <!-- section container -->

    <h3 id="approved-header" class="section-header">Approved/Scheduled Guest Posts</h3>
    <div id="approved-container" class="section-container">
      <% @approved_blogs = Blog.where.not(user_id: 1).where(submitted: true, approved: true, published: false) %>
      <% if @approved_blogs.count != 0 %>
        <% @approved_blogs.each do |blog| %>
          <%= render partial: "contributions/blog_line", locals: { blog: blog } %>
        <% end %>
      <% else %>
        <p>You currently have no accepted guest posts.</p>
      <% end %>
    </div> <!-- section container -->

    <h3 id="published-header" class="section-header">Published Guest Posts</h3>
    <div id="published-container" class="section-container">
      <% @published_blogs = Blog.where.not(user_id: 1).where(published: true) %>
      <% if @published_blogs.count != 0 %>
        <% @published_blogs.each do |blog| %>
          <%= render partial: "contributions/blog_line", locals: { blog: blog } %>
        <% end %>
      <% else %>
        <p>You currently have no published guest posts.</p>
      <% end %>
    </div> <!-- section container -->

  </section>





<%= content_for :additional_js do %>
  <script type="text/javascript">
    $(document).ready(function () {
      $("#wip-header").click(function() {
        $("#wip-container").toggleClass("hidden");
      })
      $("#submitted-header").click(function() {
        $("#submitted-container").toggleClass("hidden");
      })
      $("#approved-header").click(function() {
        $("#approved-container").toggleClass("hidden");
      })
      $("#published-header").click(function() {
        $("#published-container").toggleClass("hidden");
      })
      $("#ideas-header").click(function() {
        $("#ideas-container").toggleClass("hidden");
      })
      $("#existing-header").click(function() {
        $("#existing-container").toggleClass("hidden");
      })
      $("#needing-replies-header").click(function() {
        $("#needing-replies-container").toggleClass("hidden");
      })
      $("#replied-header").click(function() {
        $("#replied-container").toggleClass("hidden");
      })
    });
  </script>
<% end %>
