<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contribution.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contribution.email %>
</p>

<p>
  <strong>Category:</strong>
  <%= @contribution.category %>
</p>

<p>
  <strong>Idea:</strong>
  <%= @contribution.idea %>
</p>

<p>
  <strong>Prev published:</strong>
  <%= @contribution.prev_published %>
</p>

<p>
  <strong>Terms:</strong>
  <%= @contribution.terms %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @contribution.comments %>
</p>

<p>
  <strong>Responded:</strong>
  <%= @contribution.responded %>
</p>

<p>
  <strong>Archived:</strong>
  <%= @contribution.archived %>
</p>

<%= link_to 'Edit', edit_contribution_path(@contribution) %> |
<%= link_to 'Back', contributions_path %>
