<div class="col-sm-6 col-lg-4" style="margin-bottom: 20px">
  <div class="card">
    <div class="view overlay">
      <%= link_to main_app.people_path do %><%= image_tag "keep-track-of-family-dates-and-events.jpg", class: "card-img-top", alt: "Card image cap" %><% end %>
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <div class="card-body">
      <h4 class="card-title"><%= link_to "Birthday Tracker", people_path, class: "card-title color-pink" %></h4>
      <p class="card-text">Input birthdays, anniversaries, and more.  Never forget an important date again.</p>
    </div>

    <div class="rounded-bottom mdb-color bg-pink text-center pt-3">
      <ul class="list-unstyled list-inline font-small">
        <% if current_user %>
          <%= link_to main_app.people_path do %><li class="list-inline-item pr-2 white-text">You Have <%= pluralize( Person.where(user_id: current_user.id).where(birthday: Time.now.beginning_of_month..(Time.now.end_of_month)).count, "Birthday") %> This Month</li><% end %>
        <% else %>
          <%= link_to main_app.people_path do %><li class="list-inline-item pr-2 white-text">Never Forget Another Birthday</li><% end %>
        <% end %>
      </ul>
    </div> <!-- bottom -->
  </div> <!-- card -->
</div> <!-- col -->
