<div class="col-md-6 col-lg-4" style="margin-bottom: 20px">
  <div class="card">
    <div class="view overlay">
      <%= link_to main_app.occasions_path do %><%= image_tag "gift-planner.jpg", class: "card-img-top", alt: "Card image cap" %><% end %>
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <div class="card-body">
      <h4 class="card-title"><%= link_to "Holiday Gift Planner", occasions_path, class: "card-title color-neutral" %></h4>
      <p class="card-text">Plan all your major holidays with our automated gift planner.</p>
    </div>

    <div class="rounded-bottom mdb-color bg-solid-neutral text-center pt-3">
      <ul class="list-unstyled list-inline font-small">
        <% if current_user %>
          <%= link_to main_app.occasions_path do %><li class="list-inline-item pr-2 white-text">You Have <%= pluralize( Gift.where(user_id: current_user.id, purchased: false).count, "Gifts") %> to Buy</li><% end %>
        <% else %>
          <%= link_to main_app.occasions_path do %><li class="list-inline-item pr-2 white-text">Start Planning Ahead</li><% end %>
        <% end %>
      </ul>
    </div> <!-- bottom -->
  </div> <!-- card -->
</div> <!-- col -->
