<p id="notice"><%= notice %></p>

<h1>Meals</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Ready in minutes</th>
      <th>Image</th>
      <th>Gluten free</th>
      <th>Dairy free</th>
      <th>Vegetarian</th>
      <th>Vegan</th>
      <th>Ingredients</th>
      <th>Instructions</th>
      <th>Downloaded</th>
      <th>Favorite</th>
      <th>User</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meals.each do |meal| %>
      <tr>
        <td><%= meal.title %></td>
        <td><%= meal.ready_in_minutes %></td>
        <td><%= meal.image %></td>
        <td><%= meal.gluten_free %></td>
        <td><%= meal.dairy_free %></td>
        <td><%= meal.vegetarian %></td>
        <td><%= meal.vegan %></td>
        <td><%= meal.ingredients %></td>
        <td><%= meal.instructions %></td>
        <td><%= meal.downloaded %></td>
        <td><%= meal.favorite %></td>
        <td><%= meal.user_id %></td>
        <td><%= meal.notes %></td>
        <td><%= link_to 'Show', meal %></td>
        <td><%= link_to 'Edit', edit_meal_path(meal) %></td>
        <td><%= link_to 'Destroy', meal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Meal', new_meal_path %>
