<!-- page-specific content -->
  <% pagetitle = "My Recipe Box" %>
  <% description = "My personal stockpile of sophisticated culinary creations...and grilled cheeese." %>
  
  <% title pagetitle %>
  <%= content_for :head do %>
    <meta name="description" content="<%= description %>" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:title" content="<% pagetitle %>" />
    <meta property="og:description" content="<%= description %>" />
    <meta property="og:image" content="https://staysanemom.s3.us-west-1.amazonaws.com/111-Share+Images/Online+Recipe+Box.jpg" />
    <meta property="article:author" content="Liz Bayardelle, PhD" />
    <meta property="og:type" content="product" />
  <% end %>
<!-- page-specific content -->





<div class="container">
  <p class="text-center pt-3">Bored?  You can always <%= link_to "browse our recipe library", recipes_path %>.</p>

  <h1 class="text-center font-script color-pink display-1">My Recipe Box</h1>


  <div class="half-buffer"></div>

  <% if @meals.count == 0 %>
    <div class="text-center">
      <h4>Uh oh!  You don't have any meals inputted!</h4>
      <div class="half-buffer"></div>
      <%= link_to "Create Your Own Recipe", new_meal_path, class: "btn btn-pink" %>
      <h4>or</h4>
      <%= link_to "Browse Our Recipe Library", recipes_path, class: "btn btn-pink" %>
    </div> <!-- centered -->
  <% else %>
    <div class="row">
      <% @meals.each do |meal| %>
        <div class="col-sm-6 col-md-4">
            <div class="card text-center" style="margin-bottom: 20px">
              <div class="card-float-right">
                <%= link_to meal_path(meal), method: :delete, data: {confirm: "Are you sure you want to delete that meal?"} do %> <!-- , remote: true -->
                  <i class="far fa-trash-alt color-white"></i>
                <% end %>
                <% if meal.favorite %>
                  <%= link_to unfavorite_meal_path(meal), method: :post do %><i class="fas fa-star" style="color: yellow"></i><% end %>
                <% else %>
                  <%= link_to favorite_meal_path(meal), method: :post do %><i class="far fa-star" style="color: white"></i><% end %>
                <% end %>
              </div> <!-- float right -->
              <img src=<%= meal.image %> class='card-img-top' %>
              <div class="card-body">
                <h4 class="card-title">
                  <%= link_to meal_path(meal) do %>
                    <%= meal.title %>
                  <% end %>
                </h4>
                <p class="card-text">Ready in <%= pluralize(meal.ready_in_minutes, "Minute") %></p>
                <%= link_to "See Recipe", meal_path(meal.id), class: "btn btn-pink" %>
              </div> <!-- card body -->
            </div> <!-- Card -->
        </div> <!-- col -->
      <% end %>
    </div> <!-- row -->
  <% end %> <!-- if meals empty -->

</div> <!-- container -->

<%= content_for :additional_js do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.card').matchHeight();
      $('.view').matchHeight();
      $('.card-title').matchHeight();
      $('.card-text').matchHeight();
    });
  </script>
<% end %>
