<!-- page-specific content -->
  <% title @meal.title + " | SSM" %>
  <%= content_for :head do %>
    <meta name="description" content="A delicious recipe for <%= @meal.title %>" />
  <% end %>
<!-- page-specific content -->

<div class="container">
  <div class="text-center">
    <p><%= link_to "Back to My Meals Library", meals_path %> or <%= link_to "Search for a New Recipe", recipes_path %></p>
    <h1><%= @meal.title %></h1>
    <p class="color-neutral">Ready in <%= pluralize(@meal.ready_in_minutes, "Minute") %></p>
    <% if @meal.image %><%= image_tag @meal.image, class: 'Recipe-image img-responsive' %><% end %>
    <div class="Icon-container">
      <% if @meal.gluten_free %>
        <span><i class="fas fa-bread-slice"></i> Gluten Free</span>
      <% end %>

      <% if @meal.dairy_free %>
        <span><i class="fas fa-cheese"></i> Dairy Free</span>
      <% end %>

      <% if @meal.vegetarian %>
        <span><i class="fas fa-carrot"></i> Vegetarian</span>
      <% end %>

      <% if @meal.vegan %>
        <span><i class="fas fa-wheat"></i> Vegan</span>
      <% end %>
    </div> <!-- icons -->
  </div> <!-- text center -->

  <div class="half-buffer"></div>

  <div class="row">
      <div class="col-sm-6">
        <h2 class="color-spouse font-script">Ingredients</h2>
        <ul>
        <% @meal.ingredients.each do |string, amount, name| %>
          <li>
            <%= string[18..-1] %>
            <% amount[10..-1] %> <!-- hidden -->
            <% name[8..-1] %> <!-- hidden -->
          </li>
        <% end %>
        </ul>
      </div> <!-- col -->

      <div class="col-sm-6">
        <h2 class="color-spouse font-script">Instructions</h2>
        <ol>
        <% @meal.instructions.each do |number, step| %>
          <li><%= step[8..-1] %></li>
        <% end %>
        </ol>
      </div> <!-- col -->

  </div> <!-- row -->

</div> <!-- container -->
