<!-- page-specific content -->
  <% title @meal.title + " | SSM" %>
  <%= content_for :head do %>
    <meta name="description" content="A delicious recipe for <%= @meal.title %>" />
  <% end %>
<!-- page-specific content -->

<div class="container pt-3">
  <div class="text-center">
    <p><%= link_to "Back to My Meals Library", meals_path %> or <%= link_to "Search for a New Recipe", recipes_path %></p>
    <h1><%= @meal.title %></h1>
    <p class="color-neutral">Ready in <%= pluralize(@meal.ready_in_minutes, "Minute") %></p>
    <% if @meal.image %><%= image_tag @meal.image, class: 'Recipe-image img-responsive z-depth-4 mb-3' %><% end %>
    <div class="Icon-container">
      <% if @meal.gluten_free %>
        <span><i class="fas fa-bread-slice"></i> Gluten Free</span>
      <% end %>

      <% if @meal.dairy_free %>
        <span><i class="fas fa-cheese"></i> Dairy Free</span>
      <% end %>

      <% if @meal.vegetarian %>
        <span><i class="fas fa-carrot"></i> Vegetarian</span>
      <% end %>

      <% if @meal.vegan %>
        <span><i class="fas fa-wheat"></i> Vegan</span>
      <% end %>
    </div> <!-- icons -->
  </div> <!-- text center -->


  <div class="row mt-5 gx-5">
      <div class="col-sm-6">
        <div class="match-height m-3 bg-white z-depth-3 py-3 px-2">
          <h2 class="text-center color-pink font-script">Ingredients</h2>
          <ul>
          <% @meal.ingredients.each do |string, amount, name| %>
            <li>
              <%= string[18..-1] %>
              <% amount[10..-1] %> <!-- hidden -->
              <% name[8..-1] %> <!-- hidden -->
            </li>
          <% end %>
          </ul>
        </div>
      </div> <!-- col -->

      <div class="col-sm-6">
        <div class="match-height m-3 bg-white z-depth-3 py-3 px-2">
          <h2 class="text-center color-pink font-script">Instructions</h2>
          <ol>
          <% @meal.instructions.each do |number, step| %>
            <li><%= step[8..-1] %></li>
          <% end %>
          </ol>
        </div>
      </div> <!-- col -->

  </div> <!-- row -->

</div> <!-- container -->






<%= content_for :additional_js do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.match-height').matchHeight();
    });
  </script>
<% end %>

