<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @resource.user %>
</p>

<p>
  <strong>Title:</strong>
  <%= @resource.title %>
</p>

<p>
  <strong>Teaser:</strong>
  <%= @resource.teaser %>
</p>

<p>
  <strong>Freebie type:</strong>
  <%= @resource.freebie_type %>
</p>

<p>
  <strong>Freebie description:</strong>
  <%= @resource.freebie_description %>
</p>

<p>
  <strong>Cta:</strong>
  <%= @resource.cta %>
</p>

<p>
  <strong>Convertkit href:</strong>
  <%= @resource.convertkit_href %>
</p>

<p>
  <strong>Link instead:</strong>
  <%= @resource.link_instead %>
</p>

<p>
  <strong>Link url:</strong>
  <%= @resource.link_url %>
</p>

<p>
  <strong>House:</strong>
  <%= @resource.house %>
</p>

<p>
  <strong>Spouse:</strong>
  <%= @resource.spouse %>
</p>

<p>
  <strong>Kids:</strong>
  <%= @resource.kids %>
</p>

<p>
  <strong>Self:</strong>
  <%= @resource.self %>
</p>

<p>
  <strong>Active:</strong>
  <%= @resource.active %>
</p>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
