<div class="col-sm-6 col-lg-4 text-center p-3">
  <a href="<%= url_for(freebie) %>" target="_blank" onclick="dataLayer.push({'category': 'Funnels', 'action': 'Button to Freebie Landing Page', 'label': 'Freebie: <%= freebie.name %>', 'value':0});">
    <h3 class="card-title pb-0 mb-0 h3 thin uppercase color-pink"><%= freebie.name %></h3>
  </a>

  <% if current_user && current_user.admin %>
    <% unless freebie.active %>
      <h2>INACTIVE</h2>
    <% end %>
  <% end %>

  <img src="<%= rails_blob_url(freebie.image) if freebie.image.attached? %>" class="my-4 w-100 auto-height">

  <div class="text-center pb-5 mb-5">
    <% if freebie.thrivelink && freebie.thrivelink != "" %>
      <%= freebie.thrivelink.html_safe %>
      <%= link_to "See More", freebie_path(freebie), class: "btn btn-neutral-light" %>
    <% else %>
      <%= link_to freebie.short_description, freebie_path(freebie), class: "btn btn-pink" %>
    <% end %>
    <br>
    <% if current_user && current_user.admin %>
      <small class="mt-2">
        <%= link_to 'Edit', edit_freebie_path(freebie) %>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <%= link_to 'Delete', freebie_path(freebie),
            data: {:confirm => 'Are you sure?'}, :method => :delete %>
      </small>
    <% end %>
  </div>

</div>
