<!-- page-specific content -->
  <% title "Quick Fixes" %>


  <%= content_for :head do %>
    <% description = "
      Sometimes you just need a quick win.  No fuss, no educating, don't teach me to fish...just give me the dang fish.  We've got your back.
    " %>
    <meta name="description" content="<%= description %>" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:title" content="Quick Fixes for Moms" />
    <meta property="og:description" content="<%= description %>" />
    <meta property="og:image" content="https://staysanemom.s3.us-west-1.amazonaws.com/111-Share+Images/Quick+Fixes.jpg" />
    <meta property="article:author" content="Liz Bayardelle, PhD" />
    <meta property="og:type" content="product.group" />
  <% end %>
<!-- page-specific content -->





<div class="text-right px-5">
  <% if current_user && current_user.admin %>
    <%= link_to 'Input a New Freebie', new_freebie_path, class: "mt-2 btn btn-grey-light btn-sm"  %>
    <%= link_to 'Admin Page', admin_freebies_path, class: "mt-2 btn btn-grey-light btn-sm" %>
  <% end %>
</div> <!-- right -->

<div class="container">
  <h1 class="pt-3 mb-0 text-center big-title">Quick Fixes</h1>
  <p class="text-center lh-sm pb-0">Are you in a pinch? Need something in the next 15 seconds?</p>
  <p class="text-center lh-sm pb-2">We've got your back...whether it's a homework organizer for the 7th grader, a tantrum survival guide for the toddler, or a financial tracker for your high schooler.</p>

  <div class="row">
    <% @freebies.each do |freebie| %>
      <%= render partial: "freebies/card", locals: { freebie: freebie } %>
    <% end %>
  </div>
</div>


<%= content_for :additional_js do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.card-title').matchHeight();
    });
  </script>
<% end %>
