
<%= simple_form_for(@occasion) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="row">
      <div class="form-group col-sm-6 ">
        <%= f.input :name, required: true %>
      </div> <!-- col -->
      <div class="form-group col-sm-6">
        <%= f.label :date %>
        <input type="text" class="form-control datepicker" data-datepicker-holder="#dateHolder"/>
        <%= f.hidden_field :date, id: "dateHolder", class: "hiddenDateField" %>
      </div> <!-- col -->
    </div> <!-- row -->
    <div class="form-group">
      <%= f.label :notes %>
      <%= f.text_area :notes, class: "form-control" %>
    </div> <!-- col -->
    <div class="form-group collection-checkboxes">
      <%= f.label "Who do you need to shop for?" %><br />
      <%= f.collection_check_boxes(:people, Person.where(user_id: current_user.id).order("last_name ASC"), :id, :full_name) %>
    </div> <!-- col -->
  </div>

  <div class="form-actions text-center">
    <%= f.button :submit, class: "btn btn-outline-primary", style: "margin-bottom: 10px" %>
  </div>
<% end %>
