<!-- page-specific content -->
  <% title "Gift Planner | SSM" %>
  <%= content_for :head do %>
    <meta name="description" content="It's hard to keep track of the special events, dates to come, and all the other important information about one's 'tribe'." />
  <% end %>
<!-- page-specific content -->

<div class="frame" style="background-image: url(<%= asset_path "gift-planner.jpg" %>)"><div class="image-overlay-neutral"></div></div>
<div class="over-frame-text">
  <div class="container">
    <h1>Gift Planner</h1>
  </div> <!-- container -->
  <div class="over-frame-bottom-row">
    <div class="container text-center">
      <a href="#newOccasionPopup" class="open-popup-link btn btn-outline-secondary">Create a New Occasion</a>
      <div class="buffer"></div>
    </div> <!-- container -->
  </div> <!-- over-frame-text -->
</div> <!-- over-frame-text -->

<div class="half-buffer"></div>

<div class="container">
  <p class="text-center">An "occasion" is something for which you have to buy people gifts. (Think "Christmas" or "Father's Day".)<br />Hit "Create a New Occasion" for each separate such event.</p>

  <div class="text-center">
    <div class="btn btn-outline-primary" id="seePastButton">See Past Events</div>
    <div class="btn btn-outline-primary d-none" id="seeFutureButton">Back to Future Events</div>
  </div>

  <div class="half-buffer"></div>

  <div id="futureEvents">
    <% @occasions.each do |occasion| %>
      <%= link_to occasion_path(occasion) do %><h3 style="margin-bottom: 0px"><%= occasion.name %> (<%= occasion.date.strftime("%B %e, %Y") %>)</h3><% end %>
      <% @purchased_gifts = occasion.gifts.where(purchased: true) %>
      <h4 style="font-weight: 300; margin-bottom: 0px">Gifts needed for <%= pluralize(occasion.gifts.count, "person") %> ( <%= @purchased_gifts.count %> Purchased )</h4>
      <p><small><%= link_to 'See Details', occasion %> | <%= link_to 'Edit', edit_occasion_path(occasion) %> | <%= link_to 'Destroy', occasion, method: :delete, data: { confirm: 'Are you sure?' } %></small></p>
    <% end %>
  </div> <!-- future -->

  <div id="pastEvents" class="d-none">
    <% @past_occasions.each do |occasion| %>
      <%= link_to occasion_path(occasion) do %><h3 style="margin-bottom: 0px"><%= occasion.name %> (<%= occasion.date.strftime("%B %e, %Y") %>)</h3><% end %>
      <% @purchased_gifts = occasion.gifts.where(purchased: true) %>
      <h4 style="font-weight: 300; margin-bottom: 0px">Gifts needed for <%= pluralize(occasion.gifts.count, "person") %> ( <%= @purchased_gifts.count %> Purchased )</h4>
      <p><small><%= link_to 'See Details', occasion %> | <%= link_to 'Edit', edit_occasion_path(occasion) %> | <%= link_to 'Destroy', occasion, method: :delete, data: { confirm: 'Are you sure?' } %></small></p>
    <% end %>
  </div> <!-- future -->
</div> <!-- container -->

<!-- new person popup itself -->
<div id="newOccasionPopup" class="white-popup mfp-hide">
  <h2 class="text-center">So what are we planning for?</h2>
  <%= render 'form', occasion: @occasion %>
</div>


<script>
  $(function() {
    $('#seePastButton').click(function(){
      $('#seePastButton').addClass('d-none');
      $('#seeFutureButton').removeClass('d-none');
      $('#futureEvents').addClass('d-none');
      $('#pastEvents').removeClass('d-none');
    });
    $('#seeFutureButton').click(function(){
      $('#seePastButton').removeClass('d-none');
      $('#seeFutureButton').addClass('d-none');
      $('#futureEvents').removeClass('d-none');
      $('#pastEvents').addClass('d-none');
    });
  });

  $('.open-popup-link').magnificPopup({
    type:'inline',
    midClick: true // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
  });
</script>
