<div class="col-sm-6 col-lg-4">
  <div class="card hoverable mb-4">
    <div class="card-body text-center">
      <div class="row align-items-center">
        <div class="col-12">
          <a href="<%= solution.link %>" target="_blank">
            <% if solution.image.attached? %>
              <%= image_tag rails_blob_url(solution.image), style: "max-width: 100%" %>
            <% end %>
          </a>
        </div>
        <div class="col-12 p-bottom-margin">
          <h3 class="color-pink"><a href="" target="_blank"><%= solution.name %></a><h3>
          <p class="lh-1"><small><%= simple_format(solution.description) %></small></p>
          <div class="text-center pb-5 mb-5">
            <%= solution.link.html_safe %>
            <%= link_to "See More", solution_path(solution), class: "btn btn-neutral-light" %>
            <% if current_user && current_user.admin %>
              <p><small class="pt-3"><%= link_to 'Edit', edit_solution_path(solution) %></small></p>
            <% end %>
          </div>
        </div> <!-- col -->
      </div>
    </div> <!-- col -->
  </div> <!-- row -->
</div>



