<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @solution.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @solution.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @solution.description %>
</p>

<p>
  <strong>Link:</strong>
  <%= @solution.link %>
</p>

<p>
  <strong>House:</strong>
  <%= @solution.house %>
</p>

<p>
  <strong>Marriage:</strong>
  <%= @solution.marriage %>
</p>

<p>
  <strong>Pregnancy:</strong>
  <%= @solution.pregnancy %>
</p>

<p>
  <strong>Babies:</strong>
  <%= @solution.babies %>
</p>

<p>
  <strong>Toddlers:</strong>
  <%= @solution.toddlers %>
</p>

<p>
  <strong>Kids:</strong>
  <%= @solution.kids %>
</p>

<p>
  <strong>Teens:</strong>
  <%= @solution.teens %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @solution.balance %>
</p>

<p>
  <strong>Active:</strong>
  <%= @solution.active %>
</p>

<%= link_to 'Edit', edit_solution_path(@solution) %> |
<%= link_to 'Back', solutions_path %>
