<!-- page-specific content -->
  <% title @solution.name %>


  <%= content_for :head do %>
    <% description = @solution.description %>
    <meta name="description" content="<%= description %>" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:title" content="<%= @solution.name %>" />
    <meta property="og:description" content="<%= description %>" />
    <meta property="og:image" content="<%= rails_blob_url(@solution.fb_share_image) if @solution.fb_share_image.attached? %>" />
    <meta property="article:author" content="Liz Bayardelle, PhD" />
    <meta property="og:type" content="product" />
  <% end %>



<%= content_for :pinterest do %>
  <script>
    pintrk('track', 'pagevisit', {
    property: 'solution Show: <%= @solution.name %>'
    });
  </script>
<% end %>

<!-- page-specific content -->





<section class="bg-pink p-4 text-center z-depth-3">
  <h2 class="h3 color-white"><%= @solution.top_question %></h2>
</section>



<section id="hero" class="container py-4">

  <% if current_user && current_user.admin %>
    <div id="adminbuttons" class="text-center">
      <% unless @solution.active %>
        <h2>INACTIVE</h2>
      <% end %>
      <%= link_to 'Edit solution', edit_solution_path(@solution), class: "btn btn-grey-light btn-sm" %>
      <%= link_to 'Public Index', solutions_path, class: "btn btn-grey-light btn-sm" %>
    </div>
  <% end %>

  <div class="row py-4">

    <div class="col-12 col-sm-5 text-center pull-sm-7">
      <img src="<%= rails_blob_url(@solution.image) if @solution.image.attached? %>" style="max-width: 100%; max-height: 30vh;"> 
    </div> <!-- col -->

    <div class="col-12 col-sm-7 text-center text-sm-left push-sm-5">
      <h1 class="thin h2 uppercase color-pink"><%= @solution.name %></h1>
      <h3 class="bold landing-subheading"><%= simple_format(@solution.long_description) %></h3>
      <%= @solution.link.html_safe %>

    </div> <!-- col -->
  </div> <!-- row -->
</section>




<% if @solution.t1_long && @solution.t1_long != "" %>
  <section class="bg-pink py-5 z-depth-3-y">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center pb-4">
          <h2 class="color-white boldest">"<%= @solution.t1_short %>"</h2>
        </div>
        <div class="col-sm-3 text-center">
          <div class="image-cropper mb-3" style="display: block; margin-left: auto; margin-right: auto">
            <img src="<%= rails_blob_url(@solution.t1_image) if @solution.t1_image.attached? %>" class="rounded">
          </div>
          <p class="color-white boldest mb-0"><%= @solution.t1_name %></p>
          <p style="line-height: 1" class="color-white"><small><em><%= @solution.t1_title %></em></small></p>
        </div> <!-- col -->
        <div class="col-sm-9">
          <p class="boldest color-white">"<%= @solution.t1_long %>"</p>
        </div> <!-- col -->
      </div> <!-- row -->
    </div> <!-- container -->
  </section>
<% end %>




<section id="pain-points" class="container pt-5">
  <div class="text-center">
    <h2><%= @solution.outcome %></h2>
    <img src="<%= rails_blob_url(@solution.image) if @solution.image.attached? %>" class="my-3" style="max-width: 80%; max-height: 30vh;">
  </div>

  <% if @solution.wyg1 != "" %>
    <div class="outline-box z-depth-3">
      <h3 class="text-center boldest pb-2 mt-2">Here's what you get...</h3>
      <ul class="checkmarks">
        <li><%= @solution.wyg1 %></li>
        <li><%= @solution.wyg2 %></li>
        <li><%= @solution.wyg3 %></li>
      </ul>
    </div>
  <% end %>

  <h2 class="text-center pt-5"><%= @solution.outcome_2 %></h2>

  <div class="text-center bottom-link pt-3">
    <%= @solution.link.html_safe %>
  </div>
</section>



<% if @solution.pin_image.attached? %>
  <section id="pins" class="mt-5 bg-white z-depth-2-y py-5 text-center">
    <h2 class="display-2 color-pink font-script mb-0">Save It, Share It</h2>
    <div class="pinterest-image row padded pin-image-stripe">
      <div class="container">
        <% @solution.pin_image.each do |image| %>
          <%= image_tag url_for(image)%>
        <% end %>
      </div>
    </div>
  </section>
<% end %>



