<div class="biobox">
  <%= render "layouts/quadborder" %>

  <div class="half-buffer"></div>

  <div class="row">
    <div class="biobox-image col-xs-10 col-xs-push-1 col-sm-3 text-center">
      <% if @user.avatar.attached? %>
        <%= image_tag rails_blob_url(@user.avatar), class: "img-fluid z-depth-1 rounded-circle" %>
      <% else %>
        <%= image_tag "missing_avatar.jpg", class: "img-fluid z-depth-1 rounded-circle" %>
        <h3><%= @user.first_name %><h3>
      <% end %>
    </div> <!-- biobox-image -->
    <div class="biobox-bio col-sm-9">
      <h4><%= @user.first_name %> <%= @user.last_name %></h4>
      <p style="color: black"><%= @user.bio %></p>
      <h4 class="text-center font-script d-none d-lg-block" style="color: black">My Motto: <%= @user.tagline %></h4>
    </div> <!-- biobox-image -->
  </div> <!-- row -->

  <h4 class="text-center font-script d-lg-none" style="color: black">My Motto: <%= @user.tagline %></h4>

  <div class="text-center sm-links">
    <% if @user.sm_facebook && @user.sm_approved %>
      <%= link_to @user.sm_facebook target: "_blank" do %><i class="fab fa-facebook social-icon"></i><% end %>
    <% end %>
    <% if @user.sm_pinterest && @user.sm_approved %>
      <a href="https://www.pinterest.com/theStaySaneMom/" target="_blank"><i class="fab fa-pinterest-square social-icon"></i></a>
    <% end %>
    <% if @user.sm_instagram && @user.sm_approved %>
      <a href="https://www.instagram.com/theStaySaneMom/" target="_blank"><i class="fab fa-instagram social-icon"></i></a>
    <% end %>
    <% if @user.sm_twitter && @user.sm_approved %>
      <a href="https://www.youtube.com/channel/UC_g4NFVoQi4t2PbA23q0_VQ" target="_blank"><i class="fab fa-twitter social-icon"></i></a>
    <% end %>
    <% if @user.sm_youtube && @user.sm_approved %>
      <a href="https://www.youtube.com/channel/UC_g4NFVoQi4t2PbA23q0_VQ" target="_blank"><i class="fab fa-youtube social-icon"></i></a>
    <% end %>
    <% if @user.sm_other && @user.sm_approved %>
      <a href="https://pages.convertkit.com/8d96562969/8204904d02" target="_blank>"><i class="fab fa-amazon social-icon"></i></a>
    <% end %>
    <% if @user.sm_email && @user.sm_approved %>
      <%= mail_to("liz@theStaySaneMom.com") do %><%= fa_icon "envelope", class: "social-icon color-black" %><% end %>
    <% end %>

  </div> <!-- sm -->

  <div class="half-buffer"></div>

  <%= render "layouts/quadborder" %>

</div> <!-- biobox -->
