  <div class="biobox row">
    <div class="biobox-image col-xs-10 col-xs-push-1 col-sm-3">
      <% if @user.avatar.attached? %>
        <%= image_tag rails_blob_url(@user.avatar) if @user.avatar.attached? %>
      <% else %>
        <%= image_tag "missing_avatar.jpg" %>
        <h3><%= @user.first_name %><h3>
      <% end %>
    </div> <!-- biobox-image -->
    <div class="biobox-bio col-sm-9">
      <p><%= @user.bio %></p>
    </div> <!-- biobox-image -->
    <h4 class="text-center"><%= @user.tagline %></h4>
  </div> <!-- biobox -->
