<%= link_to blog do %>
  <div class="blog-card">
    <% case blog.category %>
    <% when "House" %>
      <div class="house transparent-hover">
        <div class="flag"><% if Subcategory.where(id: blog.subcategory_id) != [] %><%= Subcategory.where(id: blog.subcategory_id).first.name %><% else %>House<% end %></div>
    <% when "Spouse" %>
      <div class="spouse transparent-hover">
        <div class="flag"><% if Subcategory.where(id: blog.subcategory_id) != [] %><%= Subcategory.where(id: blog.subcategory_id).first.name %><% else %>Spouse<% end %></div>
    <% when "Kids" %>
      <div class="kids transparent-hover">
        <div class="flag"><% if Subcategory.where(id: blog.subcategory_id) != [] %><%= Subcategory.where(id: blog.subcategory_id).first.name %><% else %>Kids<% end %></div>
    <% when "Self" %>
      <div class="self transparent-hover">
        <div class="flag"><% if Subcategory.where(id: blog.subcategory_id) != [] %><%= Subcategory.where(id: blog.subcategory_id).first.name %><% else %>Self<% end %></div>
    <% else %>
      <div class="other transparent-hover neutral">
        <div class="flag"><% if Subcategory.where(id: blog.subcategory_id) != [] %><%= Subcategory.where(id: blog.subcategory_id).first.name %><% else %>General<% end %></div>
    <% end %>
        <div class="height small-blog-frame" style="background-image: url(<%= rails_blob_url(blog.image) if blog.image.attached? %>)">
          <% case blog.category %>
          <% when "House" %>
            <div class="image-overlay-house"></div>
          <% when "Spouse" %>
            <div class="image-overlay-spouse"></div>
          <% when "Kids" %>
            <div class="image-overlay-kids"></div>
          <% when "Self" %>
            <div class="image-overlay-self"></div>
          <% else %>
            <div class="image-overlay-neutral"></div>
          <% end %>
        </div>
        <div class="height blog-text">
            <h5><%= blog.title %></h5>
            <% if blog.user_id != 1 %>
              <h6>Guest Post by <%= link_to blog.user.first_name + " " + blog.user.last_name, user_path(blog.user), class: "color-spouse boldest" %></h6>
            <% end %>
            <p class="published-on">
              <small>
              <% if Subcategory.where(id: blog.subcategory_id) != [] %>
                In <%= Subcategory.where(id: blog.subcategory_id).first.name %> &nbsp | &nbsp;
              <% end %>
              <span class="disqus-comment-count" data-disqus-identifier="<%= blog.slug %>"></span> (<%= blog.published_on.in_time_zone("America/Los_Angeles").strftime("%D") %>)
              <% if current_user && current_user.admin %>
                  <%= link_to edit_blog_path(blog) do %><%= fa_icon "pencil-alt" %><% end %>
                  <%= link_to blog, method: :delete, data: { confirm: 'Are you sure?' } do %><%= fa_icon "trash" %><% end %>
              <% else %>
                   | <%= link_to "Home", root_path %>
              <% end %>
            </small></p>
        </div> <!-- blog-text -->
      </div> <!-- end case div -->
  </div> <!-- blog card/col -->
<% end %>
