<%= link_to blog do %>
  <div class="blog-card">
    <% case blog.category %>
    <% when "House" %>
      <div class="house transparent-hover contents">
        <div class="flag">House</div>
    <% when "Spouse" %>
      <div class="spouse transparent-hover contents">
        <div class="flag">Spouse</div>
    <% when "Kids" %>
      <div class="kids transparent-hover contents">
        <div class="flag">Kids</div>
    <% when "Self" %>
      <div class="self transparent-hover contents">
        <div class="flag">Self</div>
    <% else %>
      <div class="other transparent-hover contents neutral">
        <div class="flag">General</div>
    <% end %>
        <div class="height small-blog-frame" style="background-image: url(<%= rails_blob_url(blog.image) if blog.image.attached? %>)">
          <% case blog.category %>
          <% when "House" %>
            <div class="image-overlay-house"></div>
          <% when "Spouse" %>
            <div class="image-overlay-spouse"></div>
          <% when "Kids" %>
            <div class="image-overlay-kids"></div>
          <% when "Self" %>
            <div class="image-overlay-self"></div>
          <% else %>
            <div class="image-overlay-neutral"></div>
          <% end %>
        </div>
        <div class="height blog-text">
            <h5><%= blog.title %></h5>
            <p class="published-on">
              <small>
              <%= blog.subcategory %>
                In <%#= Subcategory.where(id: blog.subcategory_id).first.name %>
              <%# end %>
              <%= pluralize(blog.comments.count, "Comment") %> (<%= blog.published_on.in_time_zone("America/Los_Angeles").strftime("%D") %>)
              <% if current_user && current_user.admin %>
                  <%= link_to edit_blog_path(blog) do %><%= fa_icon "pencil-alt" %><% end %>
                  <%= link_to blog, method: :delete, data: { confirm: 'Are you sure?' } do %><%= fa_icon "trash" %><% end %>
              <% else %>
                   | <%= link_to "Home", root_path %>
              <% end %>
            </small></p>
        </div> <!-- blog-text -->
      </div> <!-- end case div -->
  </div> <!-- blog card/col -->
<% end %>
