<div class="text-center">
  <%= link_to root_path do %>
      <%= image_tag "logo.jpg", class: "header-logo", alt: "Logo" %>
  <% end %>

  <div class="container">
    <p class="header-tagline">Tools and support for the marker-stained, under-slept, soul-hungry mom.</p>
  </div> <!-- container -->

  <nav class="text-center">
    <div class="OGnav-button color-house"><%= link_to "House", home_house_path, class: "color-house" %></div>
    <div class="OGnav-button color-spouse"><%= link_to "Spouse", home_spouse_path, class: "color-spouse" %></div>
    <div class="OGnav-button color-kids"><%= link_to "Kids", home_kids_path, class: "color-kids" %></div>
    <div class="OGnav-button color-self"><%= link_to "Self", home_self_path, class: "color-self" %></div>
    <div class="OGnav-button color-neutral"><%= link_to "Blog", blogs_path %></div>
  </nav>
</div> <!-- container -->
