<div class="col-sm-6 col-lg-4" style="margin-bottom: 20px">
  <div class="card">
    <div class="view overlay">
      <% if blog.photo_external %>
        <img class="card-img-top" src="<%= blog.photo_url %>" alt="Card image cap">
      <% else %>
        <img class="card-img-top" src="<%= rails_blob_url(blog.image) if blog.image.attached? %>" alt="Card image cap">
      <% end %>
      <%= link_to blog do %>
        <div class="mask rgba-white-slight"></div>
      <% end %>
    </div>

    <div class="card-body">
      <h4 class="card-title"><%= link_to blog.title, blog_path(blog), class: "card-title" %></h4>
      <p class="card-text">
        <%= blog.teaser %><br><%= link_to "Read More...", blog_path(blog), id: blog.id.to_s + "readMore" %>
      </p>

      <%= link_to blog.user do %>
        <div class="circle-cropper">
          <% if blog.user.avatar.attached? %>
            <%= image_tag rails_blob_url(blog.user.avatar), class: "z-depth-1" %>
          <% else %>
            <%= image_tag "missing_avatar.jpg", class: "z-depth-1" %>
          <% end %>
        </div>

        <span class="pl-1 thin"><%= blog.user.first_name + " " + blog.user.last_name %></span>
      <% end %>

    </div>
  </div> <!-- card -->
</div> <!-- col -->
