<div class="col-sm-6 col-lg-3" style="margin-bottom: 20px">
  <div class="card">
    <div class="view overlay">
      <% if blog.photo_external %>
        <img class="card-img-top" src="<%= blog.photo_url %>" alt="Card image cap">
      <% else %>
        <img class="card-img-top" src="<%= rails_blob_url(blog.image) if blog.image.attached? %>" alt="Card image cap">
      <% end %>
      <%= link_to blog do %>
        <div class="mask rgba-white-slight"></div>
      <% end %>
    </div>

    <div class="card-body">
      <h4 class="card-title"><%= link_to blog.title, blog_path(blog), class: "card-title color-" + color.to_s %></h4>
      <p class="card-text">
        <%= blog.teaser %> <%= link_to "Read More...", blog_path(blog), id: blog.id.to_s + "readMore" %>
      </p>
    </div>
  </div> <!-- card -->
</div> <!-- col -->



<%= content_for :additional_js do %>
  <script>
    $(document).ready(function() {
      $("#<%= blog.id.to_s + 'readMore' %>").addClass('color-<%= blog.category.downcase %>');
    });
  </script>
<% end %>
