<% unless @headernav == false %>
    <%= render partial: "layouts/sidenav" %>
    <%= render partial: "layouts/very_fixed_nav" %>
    <div style="position: fixed; top: 0px; z-index: 5000; width: 100%;">
      <%= render partial: "layouts/notifications" %>
    </div>



    <!--Main Navigation-->
    <nav id="newNavBar" class="navbar navbar-expand navbar-light z-depth-2" id="mainNav">
        <div class="container-fluid mx-0 px-5" style="width: 100%">
            <div class="d-flex flex-column text-center text-sm-left">
                <%= link_to root_path class: "navbar-brand" do %>
                  <%= image_tag "logo.png", alt: "Logo", class: "mt-3 pb-0 mb-0", style: "height: 70px;" %>
                <% end %>
                <p class="tagline navbar-text p-0 mb-2 lh-1"><small>
                    We support you the&nbsp;way you&nbsp;support&nbsp;everyone&nbsp;else.
                </small></p>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
<!--                     <li class="nav-item"><a class="nav-link me-md-3 thin uppercase" href="#features">Am I crazy?</a></li>
                    <li class="nav-item"><a class="nav-link me-md-3 thin uppercase" href="#features">Is it just me?</a></li>
 -->                </ul>
                <button class="btn btn-pink px-3 mb-2 mb-lg-0 d-none d-sm-block">
                    <span class="d-flex align-items-center">
                        <span class="small"><%= link_to "Get Support", page_path("support") %></span>
                    </span>
                </button>
            </div>
        </div>
    </nav>
    <!--Main Navigation-->
<% end %>