
<%= render partial: "layouts/sidenav" %>



<!--Main Navigation-->
<header>

<nav class="navbar fixed-top navbar-expand-md navbar-light white scrolling-navbar" style="padding: 3px; padding-right: 10px">
  <!-- SideNav slide-out button -->
  <a href="#" data-activates="slide-out" class="button-collapse" style="padding-left: 20px; padding-right: 10px"><i class="fas fa-bars"></i></a>


  <%= link_to main_app.root_path, class: "navbar-brand left" do %>
      <%= image_tag "logo.png", alt: "Logo" %>
      <p class="d-none d-md-block" style="padding: 0px">Tools and support for the marker-stained, under-slept, soul-hungry mom.</p>
  <% end %>

  <div class="navbar-brand right d-none d-md-block">
    <a>
      <div id="cart-text">
        <p class="text-right">
          <%= fa_icon "shopping-cart", class: "color-neutral" %>
          <%= render 'layouts/cart_text' %>
        </p>
      </div>
    </a>
    <%= link_to main_app.home_house_path do %>
      <%= fa_icon "broom", id: "house-icon", class: "header-icon color-house" %>
    <% end %>
    <%= link_to main_app.home_spouse_path do %>
      <%= fa_icon "ring", id: "spouse-icon", class: "header-icon color-spouse" %>
    <% end %>
    <%= link_to main_app.home_kids_path do %>
      <%= fa_icon "baby", id: "kids-icon", class: "header-icon color-kids" %>
    <% end %>
    <%= link_to main_app.home_self_path do %>
      <%= fa_icon "spa", id: "self-icon", class: "header-icon color-self" %>
    <% end %>
    <%= link_to main_app.blogs_path do %>
      <%= fa_icon "book", id: "blog-icon", class: "header-icon color-neutral" %>
    <% end %>
    <%= link_to main_app.goodies_path do %>
      <%= fa_icon "shopping-cart", id: "blog-icon", class: "header-icon color-neutral" %>
    <% end %>
    <% if current_user %>
      <%= link_to main_app.user_path(current_user) do %>
        <%= fa_icon "user", id: "blog-icon", class: "header-icon color-neutral" %>
      <% end %>
    <% else %>
      <%= link_to main_app.new_user_registration_path do %>
        <%= fa_icon "user-plus", class: "header-icon color-neutral" %>
      <% end %>
    <% end %>
  </div>
</nav>

</header>
<!--Main Navigation-->

<div class="half-buffer"></div>
