<!-- Sidebar navigation -->
<div id="slide-out" class="side-nav white fixed">
  <ul class="custom-scrollbar">
    <!-- Logo -->
    <li>
      <div class="logo-wrapper waves-light">
        <%= link_to main_app.root_path do %>
          <%= image_tag "logo-square.png", class: "img-fluid flex-center" %>
        <% end %>
      </div>
    </li>
    <!--/. Logo -->

    <!--/. My account -->
    <li>
      <ul class="collapsible collapsible-accordion">
        <div id="cart-text" style="margin-left: 18px;"><li><%= render 'layouts/cart_text' %></li></div>
      </ul>
    </li>

    <div class="sidenav-divider"></div>

    <li>
      <ul class="collapsible collapsible-accordion">
        <li>
          <%= link_to main_app.static_path(:resources), class: "waves-effect arrow-r" do %>
            <%= fa_icon "book-open", class: "color-spouse" %> &nbsp;Resource Library
          <% end %>
        </li>

        <li><a class="collapsible-header waves-effect arrow-r">
          <%= fa_icon "toolbox", class: "color-spouse" %> &nbsp;Online Tools (All)<i
          class="fas fa-angle-down rotate-icon"></i></a>
          <div class="collapsible-body">
            <ul>
              <li><%= link_to "House Task Organizer", main_app.tasks_path, class: "waves-effect" %></li>
              <li><%= link_to "Photo Time Capsule", main_app.capsules_path, class: "waves-effect" %></li>
              <li><%= link_to "Search New Recipe Database", main_app.recipes_path, class: "waves-effect" %></li>
              <li><%= link_to "My Recipe Box", main_app.meals_path, class: "waves-effect" %></li>
              <li><%= link_to "Birthday Tracker", main_app.people_path, class: "waves-effect" %></li>
              <li><%= link_to "Gift Planner", main_app.occasions_path, class: "waves-effect" %></li>
            </ul>
          </div> <!-- collapsable body -->
        </li>

        <li>
          <%= link_to main_app.goodies_path, class: "waves-effect arrow-r" do %>
            <%= fa_icon "shopping-cart", class: "color-spouse" %> &nbsp;Store
          <% end %>
        </li>

        <li><a class="collapsible-header waves-effect arrow-r">
          <%= fa_icon "user", class: "color-spouse" %> &nbsp;My Account<i
              class="fas fa-angle-down rotate-icon"></i></a>
          <div class="collapsible-body">
            <ul>
              <% if current_user %>
                <li><%= link_to current_user.first_name + "'s Homepage", main_app.user_path(current_user), class: "waves-effect" %></li>
                <li><%= link_to('Sign Out', main_app.destroy_user_session_path, :method => :delete, class: "waves-effect") %></li>
                <% if current_user.admin %>
                  <li><%= link_to "Blogs Manager", main_app.home_allblogs_path, class: "waves-effect" %></li>
                  <li><%= link_to "Resource Manager", main_app.resources_path, class: "waves-effect" %></li>
                  <li><%= link_to "Contributions Manager", main_app.contributions_path, class: "waves-effect" %></li>
                  <li><%= link_to "Sales", main_app.purchases_path, class: "waves-effect" %></li>
                <% end %>
              <% else %>
                <li><%= link_to "Log In", main_app.new_user_session_path, class: "waves-effect" %></li>
                <li><%= link_to "Sign Up", main_app.new_user_registration_path, class: "waves-effect" %></li>
              <% end %>
            </ul>
          </div> <!-- collapsable body -->
        </li>


      </ul>
    </li>
    <!--/. my account -->

    <div class="sidenav-divider"></div>

    <!-- Side navigation links -->
    <li>
      <ul class="collapsible collapsible-accordion">
        <li><a class="collapsible-header waves-effect arrow-r">
          <%= fa_icon "broom", class: "color-house" %> &nbsp;House<i
              class="fas fa-angle-down rotate-icon"></i></a>
          <div class="house collapsible-body">
            <% @subcategories = Subcategory.where(category: "House", active: true) %>
            <ul>
              <% @subcategories.each do |subcategory| %>
                <li><%= link_to subcategory.name, main_app.subcategory_path(subcategory), class: "waves-effect sub" %></li>
              <% end %>
              <li><%= link_to "House Task Organizer", main_app.tasks_path, class: "waves-effect" %></li>
              <li><%= link_to "My Recipe Box", main_app.meals_path, class: "waves-effect" %></li>
              <li><%= link_to "Search New Recipe Database", main_app.recipes_path, class: "waves-effect" %></li>
              <li><%= link_to "Birthday Tracker", main_app.people_path, class: "waves-effect" %></li>
              <li><%= link_to "Gift Planner", main_app.occasions_path, class: "waves-effect" %></li>
            </ul>
          </div> <!-- collapsable body -->
        </li>
        <li><a class="collapsible-header waves-effect arrow-r">
          <%= fa_icon "ring", class: "color-spouse" %> &nbsp;Spouse<i
              class="fas fa-angle-down rotate-icon"></i></a>
          <div class="spouse collapsible-body">
            <% @subcategories = Subcategory.where(category: "Spouse", active: true) %>
            <ul>
              <% @subcategories.each do |subcategory| %>
                <li><%= link_to subcategory.name, main_app.subcategory_path(subcategory), class: "waves-effect sub" %></li>
              <% end %>
              <li><%= link_to "Photo Time Capsule", main_app.capsules_path, class: "waves-effect" %></li>
              <li><%= link_to "Birthday Tracker", main_app.people_path, class: "waves-effect" %></li>
              <li><%= link_to "Gift Planner", main_app.occasions_path, class: "waves-effect" %></li>
            </ul>
          </div> <!-- collapsable body -->        </li>
        <li><a class="collapsible-header waves-effect arrow-r">
          <%= fa_icon "baby", class: "color-kids" %> &nbsp;Kids<i class="fas fa-angle-down rotate-icon"></i></a>
          <div class="kids collapsible-body">
            <% @subcategories = Subcategory.where(category: "Kids", active: true) %>
            <ul>
              <% @subcategories.each do |subcategory| %>
                <li><%= link_to subcategory.name, main_app.subcategory_path(subcategory), class: "waves-effect sub" %></li>
              <% end %>
              <li><%= link_to "Photo Time Capsule", main_app.capsules_path, class: "waves-effect" %></li>
              <li><%= link_to "Birthday Tracker", main_app.people_path, class: "waves-effect" %></li>
              <li><%= link_to "Gift Planner", main_app.occasions_path, class: "waves-effect" %></li>
            </ul>
          </div> <!-- collapsable body -->
        </li>
        <li><a class="collapsible-header waves-effect arrow-r">
          <%= fa_icon "spa", class: "color-self" %> &nbsp;Self<i
              class="fas fa-angle-down rotate-icon"></i></a>
          <div class="self collapsible-body">
            <% @subcategories = Subcategory.where(category: "Self", active: true) %>
            <ul>
              <% @subcategories.each do |subcategory| %>
                <li><%= link_to subcategory.name, main_app.subcategory_path(subcategory), class: "waves-effect sub" %></li>
              <% end %>
            </ul>
          </div> <!-- collapsable body -->
        </li>

        <li>
          <%= link_to main_app.blogs_path, class: "waves-effect arrow-r" do %>
            <%= fa_icon "book", class: "color-neutral" %> &nbsp;Blog
          <% end %>
        </li>

        <div class="sidenav-divider"></div>

        <!--Social-->
        <li>
          <ul class="social">
            <li><a href="https://www.facebook.com/TheStaySaneMom/" target="_blank"><i class="fab fa-facebook"></i></a></li>
            <li><a href="https://www.pinterest.com/theStaySaneMom/" target="_blank"><i class="fab fa-pinterest-square"></i></a></li>
            <li><a href="https://www.instagram.com/theStaySaneMom/" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://www.twitter.com/TheStaySaneMom/" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UC_g4NFVoQi4t2PbA23q0_VQ" target="_blank"><i class="fab fa-youtube"></i></a></li>
            <li><%= mail_to("liz@theStaySaneMom.com") do %><%= fa_icon "envelope", class: "" %><% end %></li>
          </ul>
        </li>
        <!--/Social-->


      </ul>
    </li>

    <!--Search Form-->
    <li>
      <div class="text-center search-bar pl-2">
        <div class="half-buffer"></div>
        <%= form_tag main_app.home_results_path, method: :get do %>
        <%= text_field_tag :q, nil, placeholder: "Search for wisdom..." %>
        <% end %>
      </div> <!-- search bar -->
    </li>
    <!--/.Search Form-->
    <!--/. Side navigation links -->
  </ul>
  <div class="sidenav-bg rgba-white-strong"></div>
</div>
<!--/. Sidebar navigation -->
