<div id="top-bar" style="position: fixed; width: 100%; top: 0; z-index: 1035" class="z-depth-2 bg-solid-neutral text-center">
  <div class="row">

    <div class="col-1 py-2">
      <a href="#" data-activates="slide-out" class="button-collapse pl-3 color-white">
        <i class="fas fa-bars"></i>
      </a>
    </div> <!-- 1 col -->

    <div class="col-10 py-2">
      <a>
        <div id="cart-text">
          <p class="text-center mb-0">
            <%= link_to "Blog", blogs_path, class: "color-white" %>
            &nbsp;|&nbsp;
            <%= link_to "Tools", page_path("tools"), class: "color-white" %>
            &nbsp;|&nbsp;
            <%= link_to "Printables", printables_path, class: "color-white" %>
            &nbsp;|&nbsp;
            <% if current_user %>
              <%= link_to "My Account", user_path(current_user), class: "color-white" %>
            <% else %>
              <%= link_to "Sign Up", new_user_registration_path, class: "color-white"%>
            <% end %>
            &nbsp;|&nbsp;
            <%= render 'layouts/cart_text' %>
          </p>
        </div>
      </a>
    </div>  <!-- 10 col -->
  </div>  <!-- row -->
</div>  <!-- bar -->
