<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= if content_for?(:title) then yield(:title) + ' | ' end %>
      Stay Sane Mom
    </title>
    <%= if content_for?(:head) then yield(:head) end %>
    <meta name='description'
      content='<%= yield_meta_tag(:description, 'Helping overworked moms keep clean house, a healthy marriage, balanced kids, and stay sane on top of it all.') %>' />
    <meta name='keywords'
      content='<%= yield_meta_tag(:keywords, 'stay sane, mom, motherhood, wife, kids, sanity, happy, organization, research') %>' />
    <%= csrf_meta_tags %>
    <%= csrf_meta_tag %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <%= stylesheet_link_tag    'application', media: 'all' %>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5B4MB9N');</script>
    <!-- End Google Tag Manager -->


    <!-- Froala: Include external CSS. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">

    <!-- PRIVACY AND COOKIES -->
    <script type="text/javascript">
    var _iub = _iub || [];
    _iub.csConfiguration = {"consentOnContinuedBrowsing":false,"whitelabel":false,"lang":"en","siteId":2128977,"countryDetection":true,"cookiePolicyId":75282553, "banner":{ "acceptButtonDisplay":true,"customizeButtonDisplay":true,"position":"float-top-center","acceptButtonColor":"#fd1270","acceptButtonCaptionColor":"white","customizeButtonColor":"#212121","customizeButtonCaptionColor":"white","rejectButtonColor":"#fd1270","rejectButtonCaptionColor":"white","textColor":"#010101","backgroundColor":"#ffffff" }};
    </script>
    <script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>

    <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,800,800i|Arizonia|Roboto:100,300,400,700,900" rel="stylesheet">
    <%= favicon_link_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="p:domain_verify" content="ef1c9dc3c7715b05ab4552ab0e404289"/>

    <!-- Global site tag (gtag.js) - Google Analytics -->
      <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126667465-1"></script> -->
      <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-126667465-1');
      </script>

      <!-- adsense -->
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-6184978589078017",
          enable_page_level_ads: true
        });
      </script>

      <!-- reCAPTCHA -->
      <script src="https://www.google.com/recaptcha/api.js" async defer></script>

      <!-- orbi -->
      <script type="application/javascript">
        (function(b, o, n, g, s, r, c) { if (b[s]) return; b[s] = {}; b[s].scriptToken = "XzU3NDM0ODkxNA"; r = o.createElement(n); c = o.getElementsByTagName(n)[0]; r.async = 1; r.src = g; r.id = s + n; c.parentNode.insertBefore(r, c); })(window, document, "script", "//cdn.oribi.io/XzU3NDM0ODkxNA/oribi.js", "ORIBI");
      </script>

      <!-- braintree -->
      <script src="https://js.braintreegateway.com/web/dropin/1.16.0/js/dropin.min.js"></script>
      <script src="https://js.braintreegateway.com/v2/braintree.js"></script>

      <!-- rss feed -->
      <%= auto_discovery_link_tag :rss, blogs_url(:format => :rss) %>

      <!-- Facebook Pixel Code -->
      <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '511265239880816');
      fbq('track', 'PageView');
      </script>
      <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=511265239880816&ev=PageView&noscript=1"
      /></noscript>
      <!-- End Facebook Pixel Code -->
  </head>

  <body class="hidden-sn white-skin w-100">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5B4MB9N"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <% if content_for?(:title) %>
      <% @page_title = yield(:title) %>
    <% end %>

    <!-- Include external JS libs. -->
    <div class=""><%= image_tag "default-image.png", class: "pin-only" %></div>
    <div class="non-footer">

    <%= render "layouts/navbar2" %>

<!--- good from here down -->


  <% if @headernav %>
    <%= render "layouts/headernav" %>
  <% end %>




      <%= yield %>

    </div> <!-- non-footer -->


    <div class="post-footer text-center">
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <p class="text-center font-serif">Stay Sane Mom gives support to the over-worked, under-slept, marker-stained, soul-hungry moms of the world, so they can be more&nbspthan&nbspjust&nbsp"mom".</p>
            <p class="text-center font-serif">You just want to keep the house clean, have a happy marriage, raise functional kids, and still have a little left in the tank to be a real&nbsp;person&nbsp;as&nbsp;well.</p>
            <p class="text-center font-serif">I'm here for you.</p>
            <div class="text-center">
              <a href="https://www.facebook.com/TheStaySaneMom/" target="_blank"><i class="fab fa-facebook social-icon"></i></a>
              <a href="https://www.pinterest.com/theStaySaneMom/" target="_blank"><i class="fab fa-pinterest-square social-icon"></i></a>
              <a href="https://www.instagram.com/theStaySaneMom/" target="_blank"><i class="fab fa-instagram social-icon"></i></a>
              <a href="https://www.twitter.com/TheStaySaneMom/" target="_blank"><i class="fab fa-twitter social-icon"></i></a>
              <a href="https://www.youtube.com/channel/UC_g4NFVoQi4t2PbA23q0_VQ" target="_blank"><i class="fab fa-youtube social-icon"></i></a>
              <%= mail_to("liz@theStaySaneMom.com") do %><%= fa_icon "envelope", class: "social-icon color-black" %><% end %>
            </div> <!-- centered sm -->
          </div> <!-- left bit -->
          <div class="col-sm-4 side-links">
            <p class="font-bold"><%= link_to "About Us", static_path(:AboutMe), class: "font-serif color-black" %></p>
            <p class="font-bold"><%= link_to "Let's Collaborate", static_path(:Collaborate), class: "font-serif color-black" %></p>
            <p class="font-bold"><%= link_to "Speaking Engagements", static_path(:Speaking), class: "font-serif color-black" %></p>
            <p class="font-bold"><%= link_to "Guest Posting", new_contribution_path, class: "font-serif color-black" %></p>
            <p class="font-bold"><%= link_to "Privacy Policy", static_path(:PrivacyPolicy), class: "font-serif color-black" %></p>
          </div> <!-- left bit -->
        </div> <!-- row -->
      </div> <!-- container -->


    </div> <!-- container -->

    <div class="bg-neutral copyright text-center">
      <div class="container">
        <p id="affiliate">As an Amazon Associate I earn from qualifying purchases.  I also participate in other linking programs, but will never link to anything I don't like.</p>
        <p class="color-neutral">Copyright &copy; <%= Time.current.year %> <em class="color-neutral">The Stay Sane Mom</em></p>
      </div> <!-- container -->
    </div> <!-- container -->


    <%= render "layouts/scripts" %>
    <%= javascript_include_tag 'mdb_framework'%>



    <%= yield :additional_js_partial %>
    <%= yield :additional_js %>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>


  </body>
</html>
