<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= if content_for?(:title) then yield(:title) + ' | ' end %>
      Stay Sane Mom
    </title>
    <meta name='description'
      content='<%= yield_meta_tag(:description, 'Helping overworked moms keep clean house, a healthy marriage, balanced kids, and stay sane on top of it all.') %>' />
    <meta name='keywords'
      content='<%= yield_meta_tag(:keywords, 'stay sane, mom, motherhood, wife, kids, sanity, happy, organization, research') %>' />
    <%= if content_for?(:head) then yield(:head) end %>
    <%= csrf_meta_tags %>
    <%= csrf_meta_tag %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <%= stylesheet_link_tag    'application', media: 'all' %>

    <!-- facebook og sharing -->
    <meta property="fb:app_id" content="2201806480032006" />

    <!-- FAVICONS -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#fd1270">
    <meta name="msapplication-TileColor" content="#e7dfd3">
    <meta name="theme-color" content="#ffffff">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5B4MB9N');</script>
    <!-- End Google Tag Manager -->

    <!-- TruConversion for thestaysanemom.com -->
    <script type="text/javascript">
        var _tip = _tip || [];
        (function(d,s,id){
            var js, tjs = d.getElementsByTagName(s)[0];
            if(d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.async = true;
            js.src = d.location.protocol + '//app.truconversion.com/ti-js/12309/24aa2.js';
            tjs.parentNode.insertBefore(js, tjs);
        }(document, 'script', 'ti-js'));
    </script>


    <!-- Hotjar Tracking Code for https://www.theStaySaneMom.com -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:2921670,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>



    <!-- MailerLite Universal -->
    <script>
    (function(m,a,i,l,e,r){ m['MailerLiteObject']=e;function f(){
    var c={ a:arguments,q:[]};var r=this.push(c);return "number"!=typeof r?r:f.bind(c.q);}
    f.q=f.q||[];m[e]=m[e]||f.bind(f.q);m[e].q=m[e].q||f.q;r=a.createElement(i);
    var _=a.getElementsByTagName(i)[0];r.async=1;r.src=l+'?v'+(~~(new Date().getTime()/1000000));
    _.parentNode.insertBefore(r,_);})(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');

    var ml_account = ml('accounts', '3055105', 'z6s9g0w4p8', 'load');
    </script>
    <!-- End MailerLite Universal -->

    <!-- PRIVACY AND COOKIES -->
    <script type="text/javascript">
    var _iub = _iub || [];
    _iub.csConfiguration = {"consentOnContinuedBrowsing":false,"whitelabel":false,"lang":"en","siteId":2128977,"countryDetection":true,"cookiePolicyId":75282553, "banner":{ "acceptButtonDisplay":true,"customizeButtonDisplay":true,"position":"float-top-center","acceptButtonColor":"#fd1270","acceptButtonCaptionColor":"white","customizeButtonColor":"#212121","customizeButtonCaptionColor":"white","rejectButtonColor":"#fd1270","rejectButtonCaptionColor":"white","textColor":"#010101","backgroundColor":"#ffffff" }};
    </script>
    <script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <%= favicon_link_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="p:domain_verify" content="ef1c9dc3c7715b05ab4552ab0e404289"/>

    <!-- Global site tag (gtag.js) - Google Analytics -->
      <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126667465-1"></script> -->
      <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-126667465-1');
      </script>

      <!-- adsense -->
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-6184978589078017",
          enable_page_level_ads: true
        });
      </script>

      <!-- reCAPTCHA -->
      <script src="https://www.google.com/recaptcha/api.js" async defer></script>

      <!-- rss feed -->
      <%= auto_discovery_link_tag :rss, blogs_url(:format => :rss) %>

      <!-- Facebook Pixel Code -->
      <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '511265239880816');
      fbq('track', 'PageView');
      </script>
      <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=511265239880816&ev=PageView&noscript=1"
      /></noscript>
      <!-- End Facebook Pixel Code -->

      <!-- Pinterest Tag -->
      <script>
      !function(e){if(!window.pintrk){window.pintrk = function () {
      window.pintrk.queue.push(Array.prototype.slice.call(arguments))};var
        n=window.pintrk;n.queue=[],n.version="3.0";var
        t=document.createElement("script");t.async=!0,t.src=e;var
        r=document.getElementsByTagName("script")[0];
        r.parentNode.insertBefore(t,r)}}("https://s.pinimg.com/ct/core.js");
      pintrk('load', '2612558898129', {em: '<user_email_address>'});
      pintrk('page');
      </script>
      <noscript>
      <img height="1" width="1" style="display:none;" alt=""
        src="https://ct.pinterest.com/v3/?event=init&tid=2612558898129&pd[em]=<hashed_email_address>&noscript=1" />
      </noscript>
      <!-- end Pinterest Tag -->

      <!-- Pinterest event code (page visit) -->
      <% if content_for?(:pinterest) %>
        <% yield(:pinterest) %>
      <% else %>
        <script>
          pintrk('track', 'pagevisit');
        </script>
      <% end %>
      <!-- end -->
  </head>





  <body id="page-top" class="hidden-sn white-skin w-100">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5B4MB9N"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <% if content_for?(:title) %>
      <% @page_title = yield(:title) %>
    <% end %>

    <!-- Include external JS libs. -->
    <div style="height: 0px"><%= image_tag "default-image.png", class: "pin-only" %></div>
    <div class="non-footer">



<!--- good from here down -->

  <%= render "layouts/navbar3" %>

  <%# if @headernav != false %>
    <%#= render "layouts/navbar2" %>
  <%# end %>




      <%= yield %>

    </div> <!-- non-footer -->

    <% if @footer != false %>
      <%= render partial: "layouts/footer" %>
    <% end %>

    <%= render "layouts/scripts" %>
    <%= javascript_include_tag 'mdb_framework'%>

    <% if @headernav == false %>
      <style>
        @media screen and (min-width: 1440px) {
          body {
            padding-left: 0px;
          }
        }
      </style>
    <% end %>

    <%= yield :additional_js_partial %>
    <%= yield :additional_js %>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>


  </body>
</html>
