<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= if content_for?(:title) then yield(:title) + ' | ' end %>
      Stay Sane Mom
    </title>
    <%= if content_for?(:head) then yield(:head) end %>
    <meta name='description'
      content='<%= yield_meta_tag(:description, 'Helping overworked moms keep clean house, a healthy marriage, balanced kids, and stay sane on top of it all.') %>' />
    <meta name='keywords'
      content='<%= yield_meta_tag(:keywords, 'stay sane, mom, motherhood, wife, kids, sanity, happy, organization, research') %>' />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,800,800i|Arizonia|Roboto:100,300,400,700,900" rel="stylesheet">
    <%= favicon_link_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="p:domain_verify" content="ef1c9dc3c7715b05ab4552ab0e404289"/>

    <!-- Global site tag (gtag.js) - Google Analytics -->
      <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126667465-1"></script> -->
      <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-126667465-1');
      </script>

      <!-- adsense -->
      <!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-6184978589078017",
          enable_page_level_ads: true
        });
      </script> -->

      <!-- orbi -->
      <script type="application/javascript">
        (function(b, o, n, g, s, r, c) { if (b[s]) return; b[s] = {}; b[s].scriptToken = "XzU3NDM0ODkxNA"; r = o.createElement(n); c = o.getElementsByTagName(n)[0]; r.async = 1; r.src = g; r.id = s + n; c.parentNode.insertBefore(r, c); })(window, document, "script", "//cdn.oribi.io/XzU3NDM0ODkxNA/oribi.js", "ORIBI");
      </script>

      <!-- pinterest -->
      <script
          type="text/javascript"
          async defer
          data-pin-hover="true"
          src="//assets.pinterest.com/js/pinit.js"
      ></script>

      <!-- Froala: Include external CSS. -->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">

      <!-- Froala: Include Editor style. -->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
      <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_style.min.css" rel="stylesheet" type="text/css" />


  </head>

  <body>
    <!-- Include external JS libs. -->
    <div class="d-none"><%= image_tag "default-image.png"%></div>
    <div class="non-footer">

      <nav class="navbar bg-neutral text-center">
        <p class="d-none d-sm-block">
          <%= link_to "To Do", tasks_path, class: "no-hover" %>
          <span class="color-neutral" style="padding: 0 10px 0 10px">•</span>
          <%= link_to "Birthday Tracker", people_path, class: "no-hover"  %>
          <span class="color-neutral" style="padding: 0 10px 0 10px">•</span>
          <%= link_to "Gift Planner", occasions_path, class: "no-hover"  %>
          <span class="color-neutral" style="padding: 0 10px 0 10px">•</span>
          <%= link_to "All Tools", static_path(:tools), class: "no-hover"  %>
        </p>
        <form class="form-inline account-buttons">
          <% if current_user %>
          <div style="padding-left: 10px; padding-right: 10px;">
            <%= link_to "My Account", user_path(current_user), class:"btn btn-outline-primary" %>
          </div>
          <% else %>
          <div style="padding-left: 10px;">
            <%= link_to "Login", new_user_session_path, class:"btn btn-outline-primary" %>
          </div>
          <div style="padding-left: 10px; padding-right: 10px;">
            <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-outline-primary" %>
          </div>
          <% end %>
          <div style="padding-right: 10px;">
            <a class="btn btn-outline-primary" data-formkit-toggle="cd10cef13b" href="https://pages.convertkit.com/2d8e722187/31069c0b92">Subscribe</a>
          </div>
        </form>
      </nav>

      <p class="text-center d-block d-sm-none" style="margin: 10px 0 -10px 0">
        <%= link_to "To Do", tasks_path %>
        <span class="color-neutral" style="padding: 0 10px 0 10px">•</span>
        <%= link_to "Birthday Tracker", people_path %>
        <span class="color-neutral" style="padding: 0 10px 0 10px">•</span>
        <%= link_to "Gift Planner", occasions_path %>
        <span class="color-neutral" style="padding: 0 10px 0 10px">•</span>
        <%= link_to "All Tools", static_path(:tools) %>
      </p>

      <div class="text-center">
        <%= link_to root_path do %>
            <%= image_tag "logo.jpg", class: "header-logo", alt: "Logo" %>
        <% end %>

        <div class="container">
          <p class="header-tagline">Tools and support for the marker-stained, under-slept, soul-hungry mom.</p>
        </div> <!-- container -->

        <nav class="text-center">
          <button class="btn nav-button color-house" type="button"><%= link_to "House", home_house_path, class: "color-house" %></button>
          <button class="btn nav-button color-spouse" type="button"><%= link_to "Spouse", home_spouse_path, class: "color-spouse" %></button>
          <button class="btn nav-button color-kids" type="button"><%= link_to "Kids", home_kids_path, class: "color-kids" %></button>
          <button class="btn nav-button color-self" type="button"><%= link_to "Self", home_self_path, class: "color-self" %></button>
          <button class="btn nav-button color-neutral" type="button"><%= link_to "Blog", blogs_path %></button>
        </nav>
      </div> <!-- container -->


      <!-- flash notice area -->
        <div class="flash-notice-area">
          <% if flash[:notice] %>
            <div class="alert alert-success">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <%= flash[:notice] %>
            </div>
          <% elsif flash.now[:alert] %>
            <div class="alert alert-danger">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <%= flash.now[:alert] %>
            </div>
          <% elsif flash[:alert] %>
            <div class="alert alert-warning">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <%= flash[:alert] %>
            </div>
          <% end %>
        </div>
      <!-- flash notice area -->

      <%= yield %>

    </div> <!-- non-footer -->

    <div class="pre-footer text-center bg-neutral">
      <a href="https://www.facebook.com/TheStaySaneMom/" target="_blank"><%= fa_icon "facebook-f", class: "social-icon color-black" %></a>
      <a href="https://www.pinterest.com/theStaySaneMom/" target="_blank"><%= fa_icon "pinterest-p", class: "social-icon color-black" %></a>
      <a href="https://pages.convertkit.com/8d96562969/8204904d02" target="_blank>"><%= fa_icon "amazon", class: "social-icon color-black" %></a>
      <%= mail_to("liz@theStaySaneMom.com") do %><%= fa_icon "envelope", class: "social-icon color-black" %><% end %>
      <hr />
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <p class="text-center font-serif">Stay Sane Mom is my contribution to the over-worked, under-slept, marker-stained, soul-hungry moms of the world, moms who just need a little support&nbsp;along&nbsp;the&nbsp;way.</p>
            <p class="text-center font-serif">We just want to keep the house clean, have a happy marriage, raise functional kids, and still have a little left in the tank to be a real&nbsp;person&nbsp;as&nbsp;well.</p>
            <p class="text-center font-serif">I'm here for you.</p>
          </div> <!-- left bit -->
          <div class="col-sm-4 side-links">
            <p class="text-right font-bold"><%= link_to "About Me", static_path(:AboutMe), class: "font-serif color-black" %></p>
            <p class="text-right font-bold"><%= link_to "As Seen On", static_path(:AsSeenOn), class: "font-serif color-black" %></p>
            <p class="text-right font-bold"><%= link_to "Let's Collaborate", static_path(:Collaborate), class: "font-serif color-black" %></p>
            <p class="text-right font-bold"><%= link_to "Speaking Engagements", static_path(:Speaking), class: "font-serif color-black" %></p>
            <p class="text-right font-bold"><%= link_to "Guest Posting", new_contribution_path, class: "font-serif color-black" %></p>
            <p class="text-right font-bold"><%= link_to "Privacy Policy", static_path(:PrivacyPolicy), class: "font-serif color-black" %></p>
            <p class="text-right font-bold"><a href="https://pages.convertkit.com/4288387cd1/d606ae26d3" class="font-serif color-black" %>Contact Liz</a></p>
          </div> <!-- left bit -->
        </div> <!-- row -->
      </div> <!-- container -->
    </div> <!-- container -->

    <footer>
      <div class="container text-center">
          <p>I post a lot of links to internet things I find useful.  Some of these links (definitely not all, usually not even most) will occasionally be affiliate links, meaning if you make a purchase on their site after clicking on the link I would get a portion of the money you spend (without increasing your price, of course).</p>
          <p>I will never link you to anything I don't own, love, and use in my own house.  I will never include an affiliate link to something I wouldn't recommend without one.</p>
          <p>Basically, there are billions of things on the webbernet.  I'll only ever give you the very best.</p>
      </div> <!-- container -->


      <div class="row">
        <div class="container text-center">
          <hr>
          <p>Copyright &copy; <%= Time.current.year %> <em class="font-serif">The Stay Sane Mom</em></p>
        </div> <!-- container -->
      </div> <!-- row -->
    </footer>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-126667465-1', 'theStaySaneMom.com');
        ga('send', 'pageview');
    </script>

  </body>
</html>
