<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= if content_for?(:title) then yield(:title) + ' | ' end %>
      Stay Sane Mom
    </title>
    <%= if content_for?(:head) then yield(:head) end %>
    <meta name='description'
      content='<%= yield_meta_tag(:description, 'Helping overworked moms keep clean house, a healthy marriage, balanced kids, and stay sane on top of it all.') %>' />
    <meta name='keywords'
      content='<%= yield_meta_tag(:keywords, 'stay sane, mom, motherhood, wife, kids, sanity, happy, organization, research') %>' />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <!-- Froala: Include external CSS. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">

    <!-- Froala: Include Editor style. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_style.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,800,800i|Arizonia|Roboto:100,300,400,700,900" rel="stylesheet">
    <%= favicon_link_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="p:domain_verify" content="ef1c9dc3c7715b05ab4552ab0e404289"/>


    <!-- Global site tag (gtag.js) - Google Analytics -->
      <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126667465-1"></script> -->
      <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-126667465-1');
      </script>

      <!-- adsense -->
      <!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-6184978589078017",
          enable_page_level_ads: true
        });
      </script> -->

      <!-- orbi -->
      <script type="application/javascript">
        (function(b, o, n, g, s, r, c) { if (b[s]) return; b[s] = {}; b[s].scriptToken = "XzU3NDM0ODkxNA"; r = o.createElement(n); c = o.getElementsByTagName(n)[0]; r.async = 1; r.src = g; r.id = s + n; c.parentNode.insertBefore(r, c); })(window, document, "script", "//cdn.oribi.io/XzU3NDM0ODkxNA/oribi.js", "ORIBI");
      </script>


  </head>

  <body class="hidden-sn white-skin">

    <!-- Include external JS libs. -->
    <div class=""><%= image_tag "default-image.png", class: "pin-only" %></div>
    <div class="non-footer">

<!--- navbar stuff here -->
<%= render "layouts/navbar" %>
<!--- END navbar stuff here -->

<div class="buffer"></div>
<div class="half-buffer"></div>


<!--- good from here down -->


  <% if @headernav %>
    <%= render "layouts/headernav" %>
  <% end %>


      <!-- flash notice area -->
        <div class="flash-notice-area">
          <% if flash[:notice] %>
            <div class="alert alert-success">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <%= flash[:notice] %>
            </div>
          <% elsif flash.now[:alert] %>
            <div class="alert alert-danger">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <%= flash.now[:alert] %>
            </div>
          <% elsif flash[:alert] %>
            <div class="alert alert-warning">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <%= flash[:alert] %>
            </div>
          <% end %>
        </div>
      <!-- flash notice area -->

      <%= yield %>

    </div> <!-- non-footer -->

    <footer class="bg-neutral" id="affiliate">
      <div class="container text-center">
          <p>I post a lot of links to internet things I find useful, some of which are affiliate links.
            The Stay Sane Mom is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to Amazon.com.
            Basically, there are billions of things on the webbernet.  I'll only ever give you the very best.</p>
      </div> <!-- container -->
    </footer>

    <div class="post-footer text-center">
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <p class="text-center font-serif">Stay Sane Mom gives support to the over-worked, under-slept, marker-stained, soul-hungry moms of the world, so they can be more&nbspthan&nbspjust&nbsp"mom".</p>
            <p class="text-center font-serif">You just want to keep the house clean, have a happy marriage, raise functional kids, and still have a little left in the tank to be a real&nbsp;person&nbsp;as&nbsp;well.</p>
            <p class="text-center font-serif">I'm here for you.</p>
            <div class="text-center">
              <a href="https://www.facebook.com/TheStaySaneMom/" target="_blank"><i class="fab fa-facebook social-icon"></i></a>
              <a href="https://www.pinterest.com/theStaySaneMom/" target="_blank"><i class="fab fa-pinterest-square social-icon"></i></a>
              <a href="https://www.instagram.com/theStaySaneMom/" target="_blank"><i class="fab fa-instagram social-icon"></i></a>
              <a href="https://www.twitter.com/TheStaySaneMom/" target="_blank"><i class="fab fa-twitter social-icon"></i></a>
              <a href="https://www.youtube.com/channel/UC_g4NFVoQi4t2PbA23q0_VQ" target="_blank"><i class="fab fa-youtube social-icon"></i></a>
              <a href="https://pages.convertkit.com/8d96562969/8204904d02" target="_blank>"><i class="fab fa-amazon social-icon"></i></a>
              <%= mail_to("liz@theStaySaneMom.com") do %><%= fa_icon "envelope", class: "social-icon color-black" %><% end %>
            </div> <!-- centered sm -->
          </div> <!-- left bit -->
          <div class="col-sm-4 side-links">
            <p class="font-bold"><%= link_to "About Me", static_path(:AboutMe), class: "font-serif color-black" %></p>
            <p class="font-bold"><%= link_to "Let's Collaborate", static_path(:Collaborate), class: "font-serif color-black" %></p>
            <p class="font-bold"><%= link_to "Speaking Engagements", static_path(:Speaking), class: "font-serif color-black" %></p>
            <p class="font-bold"><%= link_to "Guest Posting", new_contribution_path, class: "font-serif color-black" %></p>
            <p class="font-bold"><%= link_to "Privacy Policy", static_path(:PrivacyPolicy), class: "font-serif color-black" %></p>
            <p class="font-bold"><a href="https://pages.convertkit.com/4288387cd1/d606ae26d3" class="font-serif color-black" %>Contact Liz</a></p>
          </div> <!-- left bit -->
        </div> <!-- row -->
      </div> <!-- container -->


    </div> <!-- container -->

    <div class="bg-neutral text-center">
      <p class="copyright color-neutral">Copyright &copy; <%= Time.current.year %> <em class="color-neutral">The Stay Sane Mom</em></p>
    </div> <!-- container -->


    <%= render "layouts/scripts" %>

    <%= yield :additional_js_partial %>
    <%= yield :additional_js %>


  </body>
</html>
