<p id="notice"><%= notice %></p>

<p>
  <strong>Purchase:</strong>
  <%= @planner_custom.purchase %>
</p>

<p>
  <strong>User:</strong>
  <%= @planner_custom.user %>
</p>

<p>
  <strong>Status:</strong>
  <%= @planner_custom.status %>
</p>

<p>
  <strong>Date ordered:</strong>
  <%= @planner_custom.date_ordered %>
</p>

<p>
  <strong>Date starting:</strong>
  <%= @planner_custom.date_starting %>
</p>

<p>
  <strong>Time period:</strong>
  <%= @planner_custom.time_period %>
</p>

<p>
  <strong>Increment:</strong>
  <%= @planner_custom.planner_increment %>
</p>

<p>
  <strong>Monthly:</strong>
  <%= @planner_custom.monthly %>
</p>

<p>
  <strong>Monthly comments:</strong>
  <%= @planner_custom.monthly_comments %>
</p>

<p>
  <strong>Weekly:</strong>
  <%= @planner_custom.weekly %>
</p>

<p>
  <strong>Weekly comments:</strong>
  <%= @planner_custom.weekly_comments %>
</p>

<p>
  <strong>Daily:</strong>
  <%= @planner_custom.daily %>
</p>

<p>
  <strong>Daily comments:</strong>
  <%= @planner_custom.daily_comments %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @planner_custom.schedule %>
</p>

<p>
  <strong>Segments:</strong>
  <%= @planner_custom.segments %>
</p>

<p>
  <strong>Adjectives:</strong>
  <%= @planner_custom.adjectives %>
</p>

<p>
  <strong>Colors:</strong>
  <%= @planner_custom.colors %>
</p>

<p>
  <strong>Fonts:</strong>
  <%= @planner_custom.fonts %>
</p>

<p>
  <strong>Themes:</strong>
  <%= @planner_custom.themes %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @planner_custom.logo %>
</p>

<p>
  <strong>Personalization:</strong>
  <%= @planner_custom.personalization %>
</p>

<p>
  <strong>Tagline:</strong>
  <%= @planner_custom.tagline %>
</p>

<p>
  <strong>Other comments:</strong>
  <%= @planner_custom.other_comments %>
</p>

<p>
  <strong>Submitted:</strong>
  <%= @planner_custom.submitted %>
</p>

<%= link_to 'Edit', edit_planner_custom_path(@planner_custom) %> |
<%= link_to 'Back', planner_customs_path %>
